{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>افزودن فرم</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-newpro-first">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>افزودن فرم
            </h3>
        </div>
        <div class="sh-added-newprod uk-form-row">
            <p class="uk-float-right" style="margin-top:10px;">گروه تعیین شده :</p>
            <p class="uk-float-right uk-margin-large-right" id="all_c_g">
                {% for item in sample_form.categories %}
                    {{ item.name }}
                    {% if not forloop.last %}<i class="panda panda-left-2 sh-breadcrumb-next"></i>{% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="sh-addform-btn">
            <input id="update" type="hidden" value="{% if not sample_form.id_sub_group %}insert{% else %}update{% endif %}">
            <div id="title" style="display: none">
                {{ form.title }}
                {{ form.title_en }}
            </div>
            <div id="technical_info_row" style="display: none">
                {{ form.searchable }}
                {{ form.type_key }}
                {{ form.sub_title }}
                {{ form.sub_title_en }}
                {{ form.sub_description }}
                {{ form.sub_description_en }}
            </div>
            <input type="hidden" id="change_filter_key" value="no_changed">
            <div id="technical_info">
                {% if sample_form.technical_info %}
                    {% for technical in sample_form.technical_info %}
                        <div class="class_technical" id="id_technical_{{ technical.title_en }}">
                            <a><i class="panda panda-cross close-technical-title" onclick="delete_technical_info('{{ technical.title_en }}')"></i></a>
                            <input id="title" name="title" type="text" value="{{ technical.title }}" placeholder="عنوان جدول">
                            <input id="title_en" name="title_en" type="text" value="{{ technical.title_en }}" placeholder="عنوان جدول" disabled="disabled">
                            {% for sub in technical.list_technical_sub %}
                                <div class="class_technical_sub" id="id_technical_sub_{{ sub.title_en }}">
                                    <input name="searchable" type="checkbox" {% if sub.searchable %}checked="checked"{% endif %} onchange="change_filter_key()">
                                    <select class="combo-large sample_form" name="type_key">
                                        {% for item in type_key %}
                                            <option value="{{ item.0 }}" {% if sub.type_key == item.0 %}selected="selected"{% endif %}>{{ item.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    <input name="sub_title" type="text" value="{{ sub.title }}" placeholder="عنوان زیرگروه">
                                    <input name="sub_title_en" type="text" value="{{ sub.title_en }}" placeholder="کلید" disabled="disabled">
                                    <input name="sub_description" type="text" value="{{ sub.description }}" placeholder="توضیحات">
                                    <input name="sub_description_en" type="text" value="{{ sub.description_en }}" placeholder="مقدار قابل جستجو">
                                    <a><i class="panda panda-cross close-technical-sub" onclick="delete_technical_sub('{{ sub.title_en }}')"></i></a>
                                </div>
                            {% endfor %}
                            <a id="add_sub_{{ technical.title_en }}" class="add_sub_form"><i class="panda panda-plus" onclick="add_sub_technical_info('{{ technical.title_en }}')"></i></a>
                        </div>
                        <hr id="hr_{{ technical.title_en }}">
                    {% endfor %}
                {% else %}
                    <hr>
                {% endif %}
            </div>
            <a class="sh-add-newrecord-form sh-btn-2 uk-button" onclick="add_technical_info()"><i class="panda panda-plus"></i> افزودن یک جدول مشخصات فنی جدید</a>
        </div>
        <div class="tm-panel-footer">
            <a class="sh-btn-3 uk-button" href="{% url 'sample_forms' %}"><i class="panda panda-cross"></i>انصراف</a>
            <button {% if not sample_form.id_sub_group %}disabled="disabled"{% endif %} id="add_sample_form" class="sh-btn-4 uk-button c-disabled" onclick="add_sample_form(event)"><i class="panda panda-floppy-disk"></i>ذخیره</button>
        </div>
    </div>

{% endblock content %}
{% block js_plugin %}
    <script src="{% static 'js/technical_info.js' %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script src="{% static 'js/category_tree.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic ('site_management','samples_form_management');

        comboBox('.sample_form');
        comboBox('.combo-large', 'combo-large');

        {% if category_tree %}
            CategoryTree = JSON.parse('{{ category_tree }}'.replace(/&quot;/g, '"'));
            create_default_category();
        {% endif %}

        aside_dynamic ('manage_site', 'manage_site_samples');

        csrf_token = '{{ csrf_token }}';
        IdLastGroup = '{{ sample_form.id_sub_group }}';

    </script>
{% endblock %}
