{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>نمونه فرم ها</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary sh-brands-details">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>نمونه فرم ها
            </h3>
        </div>
        <div class="tm-panel-header">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_sample_form' %}"><i class="panda panda-plus"></i>افزودن فرم</a>
        </div>
        <table class="uk-table sh-sampleform-tables">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>رسته و گروه</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="sample_form">
                {% for form in sample_forms %}
                    <tr id="form_{{ form.id_sub_group }}">
                        <td>{{ forloop.counter0 }}</td>
                        <td>
                            {% for item in form.categories %}
                                {{ item.name }}
                                {% if not forloop.last %}<i class="panda panda-bold-left sh-breadcrumb-next"></i>{% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'edit_sample_form' form.id_sub_group %}" class="sh-btn-7 uk-button"><i class="panda panda-pencil"></i>ویرایش</a>
                            <a onclick="delete_sample_form('{{ form.id_sub_group }}')" class="sh-btn-6 uk-button"><i class="panda panda-bin"></i>پاک کردن</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_sample_form' %}"><i class="panda panda-plus"></i>افزودن فرم</a>
        </div>
    </div>
{% endblock content %}
{% block js_code %}
    <script>
        aside_dynamic ('site_management','samples_form_management');

        function delete_sample_form(id_sub_group){
            UIkit.modal.confirm("آیا می خواهید که پاک شود؟", function () {
                var data = {
                    'id_sub_group': id_sub_group,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                $.ajax({
                    url: '{% url "delete_sample_form" %}',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        $('#form_'+id_sub_group).remove();
                        uikitNotify('فرم شما پاک شد', 'panda\&#32panda-checkmark2', 'success');
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                })
            })
        }
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
