/*======================================
=            Button Styles.            =
======================================*/

.sh-btn-1 {

    @include buttons(38px, #fff, 1, #666, hover, #4d69ce, #fff);

    padding: 0 12px;
    float: left;

    > i {
        font-size: 15px;
        margin-left: 5px;
    }
}

.sh-btn-2 {

    @include buttons(40px, #32c5d2, 0, #fff, hover, #26a1ab, #fff);

    > i {
        font-size: 15px;
        margin-left: 5px;
    }
}

.sh-btn-3 {

    padding: 0 12px;
    outline: 0;
    cursor: pointer;

    @include buttons(38px, #fff, 1, #666, hover, #ccc, #fff);

    &:focus {
        outline: 0;
        color: #666;
        background-color: #ffffff;
    }

    > i {
        font-size: 15px;
        margin-left: 5px;
    }
}

.sh-btn-4 {

    @include buttons(40px, #5FA4C6, 0, #fff, hover, #4897BE, #fff);


    > i {
        font-size: 15px;
        margin-left: 5px;
    }
}

.sh-btn-5 {

    @include buttons(38px, #ffffff, 1, #666, hover, #ccc, #fff);


    > i {
        font-size: 15px;
        margin-left: 5px;

        @include transform(rotate(90deg));
    }
}

// --------------  buttons with half height --------------- //

.sh-btn-6 {

    @include buttons(25px, #FF4573, 0, #fff, hover, #FF003F, #fff);
    padding: 0 12px;


    > i { margin-left: 5px; }
}

.sh-btn-7 {

    @include buttons(23px, rgba(0,0,0,0), 1, #999);

    > i { margin-left: 5px; }
}

.sh-btn-8 {

    @include buttons(24px, rgba(0,0,0,0), 1, #666666,hover, #4276A4, #fff);
    padding: 0 12px;

    > i { margin-left: 5px; }
}

.sh-btn-6-1 {

    @include buttons(25px, #32c5d2, 0, #fff, hover, #26a1ab, #fff);
    padding: 0 12px;


    > i { margin-left: 5px; }
}


// -------------------------------------------------------------

.sh-btn-9 {
    @include buttons(38px, #ffffff, 1 , #999, hover, #32c5d2, #ffffff);

    padding: 0 12px;

    > i {
        font-size: 15px;
        margin-left: 5px;
    }
}

.sh-btn-large {
    color: #ccc;
    width: 148px;
    height: 92px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #ccc;
    position: relative;
    float: right;

    @include border-radius(7px);

    > i {
        font-size: 25px;
        margin-top: -20px;
        margin-right: -10px;

        @include position(absolute, 50% 50% null null);
    }

    > p { @include position(absolute, null 0 0 0); }
}

.sh-btn-10 {
    padding: 0 12px;
    outline: 0;
    cursor: pointer;

    @include buttons(38px, #fff, 1, #666);

    &:focus {
        outline: 0;
        color: #666;
        background-color: #ffffff;
    }

    > i {
        font-size: 15px;
        margin-left: 5px;

        &:hover {
            color: $brand-color;
        }
    }
}
