{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link rel="stylesheet" href="{% static "css/jalalidate.css" %}">
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مالی و حسابداری</span></li>
        <li class="uk-active">
            <span>{{ page_state }}</span>
        </li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form">
        <h3 class="uk-panel-title"><i class="panda panda-menu"></i>لیست فاکتور ها</h3>

        <table class="uk-table sh-allfactors-tables">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>کد سفارش</th>
                <th>تاریخ</th>
                <th>نام کاربر</th>
                <th>قیمت</th>
                <th>پرداخت</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for factor in factors %}
                <tr id="{{ factor.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ factor.invoice_id }}</td>
                    <td>{{ factor.shamsi_date }}</td>
                    <td>{{ factor.first_name }} {{ factor.last_name }}</td>
                    <td>{{ factor.total_price }}</td>
                    <td>{{ factor.payment_method }}</td>
                    <td class="{{ factor.state }}">
                        <span>{{ factor.payment_state_fa }}</span>
                    </td>
                    <td class="uk-float-left">
                        <a class="uk-button sh-btn-7" href="{% url 'view_factor' factor.id %}"><i class="panda panda-eye"></i>مشاهده</a>
                        {% if state == "pending" %}
                            <a class="uk-button sh-btn-6 sh-bg-publish" onclick="change_state(event, '{{ factor.id }}', 'sending')">
                                <i class="panda panda-checkmark"></i>تایید کردن
                            </a>
                        {% endif %}
                        {% if state == "sending" %}
                            <a class="uk-button sh-btn-6 sh-bg-publish" onclick="change_state(event, '{{ factor.id }}', 'sent')">
                                <i class="panda panda-checkmark"></i>ارسال کردن
                            </a>
                        {% endif %}
                        {% if state == "sent" %}
                            <a class="uk-button sh-btn-6 sh-bg-publish" onclick="change_state(event, '{{ factor.id }}', 'delivered')">
                                <i class="panda panda-checkmark"></i>تحویل داده شد
                            </a>
                        {% endif %}
{#                        <a class="uk-button sh-btn-6" onclick="delete_factor_td(event, '{{ factor.id }}')"><i class="panda panda-cross"></i> پاک کردن</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
{% block uikit_js %}
{% endblock %}
{% block js_plugin %}
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script src="{% static 'js/dataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTable/dataTables.uikit.min.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic('manage_factor', 'manage_factors', 'manage_factor_{{ state }}');

        {##}
        {#        function delete_factor_td(event, id) {#}
        {#            event.preventDefault();#}
        {#            UIkit.modal.confirm("آیا مایل به حذف اطلاعات این فاکتور هستید ؟ ", function () {#}
        {#                $.ajax({#}
        {#                    url: '/factor/delete_factor/' + id,#}
        {#                    type: 'post',#}
        {#                    data: {'csrfmiddlewaretoken': getCookie('csrftoken')},#}
        {#                    success: function (data) {#}
        {#                        $('#' + id).remove();#}
        {#                    },#}
        {#                    error: function (e) {#}
        {#                        notify_error(e, true)#}
        {#                    }#}
        {#                });#}
        {#            });#}
        {#        }#}
        {##}

        function change_state(event, id, state) {
            event.preventDefault();
            UIkit.modal.confirm("آیا مطمئن هستید ؟ ", function () {
                $.ajax({
                    url: '/factor/change_state/' + id,
                    type: 'post',
                    data: {
                        'csrfmiddlewaretoken': getCookie('csrftoken'),
                        'state': state
                    },
                    success: function (data) {
                        var success = data["success"];
                        if(success){
                            $('#' + id).remove();
                        }
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                });
            });
        }

        $('#sort-1').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        $('.sh-select-paginator-factor').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });

        $(".selectBox-dropdown-menu").mCustomScrollbar({theme: "dark-thin"});
        $('.sh-allfactors-tables').DataTable();
    </script>
{% endblock %}
