{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link rel="stylesheet" href="{% static "css/jalalidate.css" %}">
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "amchart/export.css" %}" type="text/css" media="all"/>

{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مالی و حسابداری</span></li>
        <li class="uk-active">
            <span>نمودارها</span>
        </li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form">
        <h3 class="uk-panel-title"><i class="panda panda-menu"></i>لیست فاکتور ها</h3>
        <label for="month_select">ماه:</label>
        <select id="month_select" style="width: 150px">
            {% for i in month_count %}
                <option value="{{ i }}" {% if month_select == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
        <label for="year_select">سال:</label>
        <select id="year_select" style="width: 150px">
            {% for i in year_count %}
                <option value="{{ i }}" {% if year_select == i %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
        <button class="uk-button la-btn-6 sh-bg-publish" onclick="go_to_href()">
            نمایش آمار
        </button>
        <div id="chartdiv" style="width: 100%; height: 500px;"></div>
    </div>

{% endblock content %}
{% block uikit_js %}
{% endblock %}
{% block js_plugin %}
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script src="{% static "amchart/amcharts.js" %}"></script>
    <script src="{% static "amchart/serial.js" %}"></script>
    <script src="{% static "amchart/export.js" %}"></script>
    <script src="{% static "amchart/light.js" %}"></script>
    <script src=""></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic('manage_factor', 'manage_factor_finance');
        $('#year_select').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast',
        });
        $('#month_select').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        function go_to_href() {
            window.location.href = '{% url 'finance' %}?year=' + $("#year_select").val() +
            "&month=" +  $("#month_select").val()
        }
        var dataProvider = [];
        {% for report in reports %}
            var dict = {
                "day": '{{ report|mongo_id }}',
                "price": '{{ report.total_price }}',
                "color": '{{ report|get_color }}'
            };
            dataProvider.push(dict);
        {% endfor %}
        var chart = AmCharts.makeChart("chartdiv", {
            "theme": "light",
            "type": "serial",
            "startDuration": 2,
            "dataProvider": dataProvider,
            "valueAxes": [{
                "position": "left",
                "title": "درآمد"
            }],
            "graphs": [{
                "balloonText": "[[category]]: <b>[[value]]</b>",
                "fillColorsField": "color",
                "fillAlphas": 1,
                "lineAlpha": 0.1,
                "type": "column",
                "valueField": "price"
            }],
            "depth3D": 20,
            "angle": 30,
            "chartCursor": {
                "categoryBalloonEnabled": false,
                "cursorAlpha": 0,
                "zoomable": false
            },
            "categoryField": "day",
            "categoryAxis": {
                "gridPosition": "start",
                "labelRotation": 90
            },
            "export": {
                "enabled": true
            }

        });
    </script>
{% endblock %}
