{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2 class="sh-head-page">داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مالی و حسابداری</span></li>
        <li><span>تمامی فاکتور ها</span></li>
        <li class="uk-active"><span>فاکتور شماره {{ factor.order_id }}</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div id="print_of_this_factor">
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form">
            <div class="sh-header-prefac">
                <div class="uk-float-right">
                    <p>فاکتور شماره</p>
                    <p class="uk-float-right"> {{ factor.invoice_id }} </p>
                </div>
                <a class="uk-float-left" href="/">
                </a>
            </div>
            <hr class="sh-border-bottom">
            <div class="uk-flex uk-flex-space-between">
                <div class="sh-prefac-texts">
                    <p>مشخصات تحویل گیرنده: </p>
                    <p>نام و نام خانوادگی: {{ factor.first_name }} {{ factor.last_name }}</p>
                    <p>آدرس: {{ factor.address }}</p>
                    <p>شماره تماس: {{ factor.phone_number }}</p>
                </div>
                <div class="sh-prefac-texts">
                    <p>مشخصات سفارش دهنده: </p>
                    <p>نام و نام خانوادگی: {{ factor.user.first_name }} {{ factor.user.last_name }}</p>
                    <p>شماره تماس: {{ factor.user.phone_number }}</p>
                </div>
                <div class="sh-prefac-texts">
                    <p>تاریخ سفارش: {{ factor.shamsi_date }}</p>
                    <p class="{{ factor.state }}">وضعیت سفارش: <span>{{ factor.order_state_fa }}</span></p>
                    <p>شماره پیگیری: <span>{{ factor.invoice_id }}</span></p>
                    <p>نحوه پرداخت: {{ factor.payment_method }}</p>
                </div>
            </div>
            <hr class="sh-border-bottom">
            <div class="sh-prefac-tables">
                <table class="uk-table">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>کد کالا</th>
                        <th>شرح کالا</th>
                        <th>هدیه</th>
                        <th>تعداد</th>
                        <th>تخفیف (ریال)</th>
                        <th>قیمت واحد (ریال)</th>
                        <th>قیمت کل (ریال)</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in factor.products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.product_id }}</td>
                            <td>{{ product.product_name_fa| truncatechars:50 }}</td>
                            {% if product.gifts %}
                                <td>
                                    {% for gift in product.gifts %}
                                        . {{ gift.product_name_fa|truncatechars:55 }}<br>
                                    {% endfor %}
                                </td>
                            {% else %}
                                <td>-----</td>
                            {% endif %}
                            <td>{{ product.amount }}</td>
                            <td>{{ product.total_discount }} ریال</td>
                            <td>{{ product.price }} ریال</td>
                            <td>{{ product.total_price }} ریال</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="uk-float-left sh-lastinf-prefac">
                    <dl class="uk-description-list-horizontal uk-margin-remove">
                        <dt>جمع کل خرید:</dt>
                        <dd>{{ factor.total_price }}</dd>
                        <dt>جمع تخفیف ها:</dt>
                        <dd>0 ریال</dd>
                    </dl>
                    <hr>
                    <dl class="uk-description-list-horizontal uk-margin-remove">
                        <dt>جمع مبلغ کل:</dt>
                        <dd>{{ factor.total_price }} ریال</dd>
                    </dl>
                </div>
            </div>
            <div class="tm-panel-footer" style="clear:both;">
                <a class="uk-button sh-btn-2" onclick="print_page()"><i class="panda panda-printer"></i>چاپ فاکتور</a>
            </div>
        </div>
    </div>

{% endblock content %}
{% block uikit_js %}
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic('manage_factor', 'manage_factor_all', 'manage_factor_all_sub');

        function print_page() {
            $('.sh-asidebar, .sh-navbar, .tm-breadcrumb, .sh-head-page, .tm-footer-block, .tm-panel-footer').css('display', 'none');
            $('section.sh-content').css('margin-right', '0');
            window.print();
            after_print_page();
        }

        function after_print_page() {
            $('.sh-asidebar, .sh-navbar, .tm-breadcrumb, .sh-head-page, .tm-footer-block, .tm-panel-footer').css('display', 'block');
            $('section.sh-content').css('margin-right', '240px');
        }
    </script>
{% endblock %}
