{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>کاربر ها</span></li>
        <li><span>گروه ها</span></li>
        <li class="uk-active"><span>افزودن گروه</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-newpro-first">
        <div class="sh-product-head">
            <h3 class="uk-panel-title"><i class="panda panda-user-plus"></i>افزودن گروه</h3>
        </div>
        <form class="uk-form" method="POST">
            {% csrf_token %}
            <div class="sh-addgroup-users">
                <p class="uk-margin-large-bottom">گروه مورد نظر خود را تعریف نمایید :</p>
                {% for item in form %}
                    <div class="uk-form-row">
                        <label class="uk-form-label">{{ item.label }}</label>
                        <div class="uk-form-controls">{{ item }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="tm-panel-footer">
                <div class="uk-form-row uk-float-right">
                    <button class="sh-btn-4 uk-button" type="submit"><i class="panda panda-floppy-disk"></i>ذخیره</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block js_plugin %}
    <script>
        {% if errors %}
            {% for field, error in errors.items %}
                uikitNotify('{{ error.0 }}', 'panda\&#32panda-cross', 'danger');
            {% endfor %}
        {% endif %}
        aside_dynamic('manage_users', 'manage_users_group');
    </script>
{% endblock %}
