{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "css/calendar-blue.css" %}">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>کاربرها</span></li>
        <li class="uk-active"><span>گروه ها</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-form">
        <h3 class="uk-panel-title">
            <i class="panda panda-menu"></i>لیست گروه ها
        </h3>
        <div class="tm-panel-header">
            <a class="uk-button sh-btn-2" href="{% url 'define_group' %}"><i class="panda panda-plus"></i>افزودن گروه
            </a>
        </div>
        <table class="uk-table sh-groups-tables">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام گروه</th>
                <th>موارد قابل مشاهده</th>
                <th>آخرین ویرایش</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr data-id="{{ item.id }}" data-group-name="{{ item.group_name }}">
                    <td>{{ forloop.counter }}</td>
                    {% for key, value in item.items %}
                        {% if key != 'id' %}
                            {% if key == 'visible_templatetags' or key == 'views' %}
                                <td><strong title="{% for i in value %} {{ i }} <br> {% endfor %}">{{ value|length }} items</strong></td>
                            {% else %}
                                <td>{{ value|truncatewords:8 }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td>
                        <a class="uk-button sh-btn-7" href="{% url 'edit_group' item.id %}"><i class="panda panda-pencil"></i>ویرایش</a>
                        <a class="uk-button sh-btn-6" id="table-remove-button" data-value="{% url 'delete_group' item.id %}"><i class="panda panda-cross"></i>پاک کردن</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a class="uk-button sh-btn-2" href="{% url 'define_group' %}"><i class="panda panda-plus"></i>افزودن گروه</a>
        </div>
    </div>
{% endblock %}
{% block uikit_js %}
    <script src="{% static "js/components/form-select.min.js" %}"></script>
{% endblock %}
{% block js_plugin %}
    <script>
        aside_dynamic('manage_users', 'manage_users_group');
    </script>
{% endblock %}
{% block js_code %}
    {% if errors %}
        {% for field, error in errors.items %}
            uikitNotify('{{ error.0 }}', 'panda\&#32panda-cross', 'danger');
        {% endfor %}
    {% endif %}
    <script>
        $('a#table-remove-button').on('click', function (e) {
            e.preventDefault();

            var dataID = this.dataset.value;
            var dataTr = $(this).parents('tr');

            UIkit.modal.confirm('آیا مطمين هستید ؟', function () {
                $.ajax({
                    url: dataID,
                    type: 'POST',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        $(dataTr).remove();
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                });
            });
        });
    </script>
{% endblock %}
