{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>کاربرها</span></li>
        <li class="uk-active"><span>کاربران</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-form">
        <h3 class="uk-panel-title">
            <i class="panda panda-menu"></i>لیست کاربران
        </h3>
        <div class="tm-panel-header">
            <a class="uk-button sh-btn-2" href="{% url 'add_user' %}"><i class="panda panda-plus"></i>افزودن کاربر
            </a>
        </div>
        <table class="uk-table sh-users-tables">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام و نام خانوادگی</th>
                <th>شماره تلفن</th>
                <th>تاریخ ایجاد</th>
                <th>اخرین کد</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr data-id="{{ item.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.full_name }}</td>
                    <td>{{ item.phone_number }}</td>
                    <td>{{ item.created_date }}</td>
                    <td>{{ item.code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a class="uk-button sh-btn-2" href="{% url 'add_user' %}"><i class="panda panda-plus"></i>افزودن کاربر
            </a>
        </div>
    </div>
{% endblock %}
{% block uikit_js %}
    <script src="{% static "js/components/form-select.min.js" %}"></script>
{% endblock %}
{% block js_code %}
    {% if error %}
        {% for field, error in errors.items %}
            uikitNotify('{{ error.0 }}', 'panda\&#32panda-cross', 'danger');
        {% endfor %}
    {% endif %}
    <script>
        aside_dynamic('manage_users', 'manage_user_list');
        e.preventDefault();
    </script>
{% endblock %}
