{% extends "brand/brand_base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت برند ها</span></li>
        <li class="uk-active"><span>رد شده ها</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>رد شده ها
            </h3>
        </div>
        {% if all_block_brand %}
            <ul class="uk-grid uk-grid-width-1-6">
                {% for word in all_block_brand %}
                    <li class="sh-filter-worlds" id="{{ word|mongo_id }}">
                        <a onclick="delete_brand_word('{{ word|mongo_id }}')"><i class="panda panda-cross"></i></a>
                        <span>{{ word.word }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="uk-text-center"><p class="sh-comment-none-exist">در حال حاضر هیچ برندی رد نشده است.</p></div>
        {% endif %}
    </div>
{% endblock content %}
{% block js_brand %}
    <script>
        csrf_token = '{{ csrf_token }}';
        aside_dynamic ('manage_brands','manage_brands_block');
    </script>
{% endblock %}

