{% extends "brand/brand_base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت برند ها</span></li>
        <li class="uk-active"><span>برند ها</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary sh-brands-details">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>برند ها
            </h3>
        </div>
        <div class="tm-panel-header">
            <a class="sh-btn-2 uk-button" href="#form_brand_modal" data-uk-modal="{center:true, bgclose:false}"><i class="panda panda-plus"></i>افزودن برند</a>
        </div>
        <table class="uk-table sh-brands-table">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام فارسی</th>
                <th>نام انگلیسی</th>
                <th>لوگو</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="brand">
            {% for brand in all_brand %}
                <tr id="brand_{{ brand.brand_id }}">
                    <td class="count_brand">{{ forloop.counter }}</td>
                    <td>{{ brand.fa_name|truncatechars:10 }}</td>
                    <td>{{ brand.en_name|truncatechars:10 }}</td>
                    <td><img style="height: 24px" src="{{ brand.image }}"></td>
                    <td class="uk-float-left">
                        <button class="sh-btn-7 uk-button" onclick="set_data_to_modal_for_edit('{{ brand.brand_id }}', 'brands')"><i class="panda panda-pencil"></i>ویرایش</button>
                        <button class="sh-btn-6 uk-button" onclick="delete_brand('{{ brand.brand_id }}', 'delete_brand', 'None')"><i class="panda panda-bin"></i>پاک کردن</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a class="sh-btn-2 uk-button" href="#form_brand_modal" data-uk-modal="{center:true, bgclose:false}"><i class="panda panda-plus"></i>افزودن برند</a>
        </div>
    </div>
{% endblock content %}
{% block js_brand %}
    <script>
        csrf_token = '{{ csrf_token }}';
        aside_dynamic ('manage_brands','manage_brands_all');
    </script>
{% endblock %}
