{% extends "base.html" %}
{% load static %}
{% block meta_head %}
{% endblock %}
{% block content %}
{% endblock content %}
{% block modal %}
    <div id="form_brand_modal" class="uk-modal">
        <div class="sh-edit-brand uk-modal-dialog" style="background: #FFFFFF">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header">افزودن برند</div>
            <div class="uk-grid uk-grid-medium">
                <form class="uk-form" id="form_add_brand" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ brand_form.page_name }}
                    {{ brand_form.brand_id }}
                    <p>{{ brand_form.fa_name.label }} :</p> {{ brand_form.fa_name }}
                    <p>{{ brand_form.en_name.label }} :</p> {{ brand_form.en_name }}
                    <div class="sh-select-picbrand">
                        <p>{{ brand_form.image.label }} :</p>
                        <div class="uk-form-file">
                            <button class="uk-button sh-btn-9">Choose File</button>
                            {{ brand_form.image }}
                        </div>
                        <img src="" id="image">
                    </div>
                    <div class="sh-catgrp">
                        <p>{{ category_form.category.label }} و {{ category_form.group.label }} را انتخاب نمایید:</p> {{ category_form.category }} {{ category_form.group }}
                        <a class="sh-btn-2 uk-button" onclick="add_category_group_to_brand()"><i class="panda panda-plus"></i>افزودن</a>
                    </div>
                    <div>
                        <table class="uk-table sh-allbrands-table">
                            <thead>
                                <tr>
                                    <th>رسته</th>
                                    <th>گروه</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="all_category_group"></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer">
                <div class="sh-btm-btn">
                    <a class="sh-btn-4 uk-button uk-float-left" onclick="add_or_edit_brand()"><i class="panda panda-floppy-disk"></i>ذخیره</a>
                    <a class="sh-btn-3 uk-button uk-modal-close"><i class="panda panda-cross"></i>انصراف</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block uikit_js %}
{% endblock %}
{% block js_plugin %}
    <script src="{% static "js/brand.js" %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script>
        $('#id_category').selectBox({
            menuTransition: 'fade',
            menuSpeed:'fast'
        });
        $('#id_group').selectBox({
            menuTransition: 'fade',
            menuSpeed:'fast'
        });
        $(".selectBox-dropdown-menu").mCustomScrollbar({theme:"dark-thin"});

        csrf_token = '{{ csrf_token }}';
        function load_group() {
            $.ajax({
                url: '{% url "load_group" %}',
                type: 'POST',
                async: false,
                data: {
                    'category': $("#id_category").val(),
                    'csrfmiddlewaretoken': csrf_token
                },
                success: function (result) {
                    $("#id_group").html('');

                    for (var i = 0; i < result['result'].length; i++) {
                        $("#id_group").append('<option value="' + result['result'][i][0] + '">' + result['result'][i][1] + '</option>');
                    }
                    $('#id_group').selectBox('refresh');
                    $(".selectBox-dropdown-menu").mCustomScrollbar({theme:"dark-thin"});
                }
            })
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').removeClass('uk-hidden');
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#id_image").change(function(){
            readURL(this);
        });

    </script>
    {% block js_brand %}
    {% endblock %}
{% endblock %}
{% block js_code %}
{% endblock %}
