{% extends "brand/brand_base.html" %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت برند ها</span></li>
        <li class="uk-active"><span>در انتظار تایید</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-clipboard"></i>در انتظار تایید
            </h3>
        </div>
        {% if all_brand %}
            <table class="uk-table sh-brands-pending">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام فارسی</th>
                    <th>نام انگلیسی</th>
                    <th>لوگو</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                    </tr>
                </thead>
            <tbody id="brand">
                {% for brand in all_brand %}
                    <tr id="brand_{{ brand.brand_id }}">
                        <td class="count_brand">{{ forloop.counter0 }}</td>
                        <td>{{ brand.fa_name|truncatechars:10}}</td>
                        <td>{{ brand.en_name|truncatechars:10}}</td>
                        <td><img style="height: 24px" src="{{ brand.image }}"></td>
                        {% if brand.reason_report == 'category_group' and brand.status %}
                            <td style="color: #e28327">اضافه شدن دسته و گروه جدید به برند</td>
                            <td class="uk-float-left">
                                <button class="sh-btn-7 uk-button" onclick="set_data_to_modal_for_edit('{{ brand.brand_id }}', 'pending')"><i class="panda panda-pencil"></i>ویرایش و تایید کردن</button>
                                <button class="sh-btn-6 uk-button" onclick="delete_brand('{{ brand.brand_id }}', 'category_group', '{{ brand.user_id }}')"><i class="panda panda-cross"></i>رد کردن</button>
                            </td>
                        {% else %}
                            <td style="color: #35ADE4">برند جدید</td>
                            <td class="uk-float-left">
                                <button class="sh-btn-7 uk-button" onclick="set_data_to_modal_for_edit('{{ brand.brand_id }}', 'pending')"><i class="panda panda-pencil"></i>ویرایش و تایید کردن</button>
                                <button class="sh-btn-6 uk-button" onclick="delete_brand('{{ brand.brand_id }}', 'word_filtering', '{{ brand.user_id }}')">فیلترینگ واژه نامناسب</button>
                                <button class="sh-btn-6 uk-button" onclick="delete_brand('{{ brand.brand_id }}', 'brand_filtering', '{{ brand.user_id }}')">برند نامعتبر</button>
                                <button class="sh-btn-6 uk-button" onclick="delete_brand('{{ brand.brand_id }}', 'delete_brand', '{{ brand.user_id }}')"><i class="panda panda-cross"></i>پاک کردن</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="uk-text-center"><p>در حال حاضر هیچ برندی در انتظار تایید نیست.</p></div>
        {% endif %}
    </div>
{% endblock content %}
{% block js_brand %}
    <script>
        csrf_token = '{{ csrf_token }}';
        aside_dynamic ('manage_brands', 'manage_brands_pend');
    </script>
{% endblock %}
