/*====================================
=            Fonts Codes.            =
====================================*/

@font-face {
    font-family: Mirza;
    src: url("#{$mirza-font-path}Mirza.woff") format("woff"),
    url("#{$mirza-font-path}Mirza.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Mirzab;
    src: url("#{$mirza-font-path}Mirza-Bold.woff") format("woff"),
    url("#{$mirza-font-path}Mirza-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "calibri";
    src: url("#{$Calibri-font-path}Calibri.eot");
    src: url("#{$Calibri-font-path}Calibri.eot?#iefix") format("embedded-opentype"),
    url("#{$Calibri-font-path}Calibri.woff") format("woff"),
    url("#{$Calibri-font-path}Calibri.ttf") format("truetype"),
    url("#{$Calibri-font-path}Calibri.svg#shopwebfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'panda';
  src:  url("#{$panda-font-path}panda.eot?6g9uxh");
  src:  url("#{$panda-font-path}panda.eot?6g9uxh#iefix") format('embedded-opentype'),
    url("#{$panda-font-path}panda.ttf?6g9uxh") format('truetype'),
    url("#{$panda-font-path}panda.woff?6g9uxh") format('woff'),
    url("#{$panda-font-path}panda.svg?6g9uxh#panda") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="panda-"] {
    font-family: $panda-font !important;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.panda-svg:before {
  content: "\e90a";
}
.panda-codepen:before {
  content: "\e90b";
}
.panda-git:before {
  content: "\e90c";
}
.panda-css3:before {
  content: "\e90d";
}
.panda-html-five2:before {
  content: "\e90e";
}
.panda-html-five:before {
  content: "\e90f";
}
.panda-libreoffice:before {
  content: "\e910";
}
.panda-file-excel:before {
  content: "\e911";
}
.panda-file-word:before {
  content: "\e912";
}
.panda-file-openoffice:before {
  content: "\e913";
}
.panda-file-pdf:before {
  content: "\e914";
}
.panda-opera:before {
  content: "\e915";
}
.panda-safari:before {
  content: "\e916";
}
.panda-edge:before {
  content: "\e917";
}
.panda-IE:before {
  content: "\e918";
}
.panda-firefox:before {
  content: "\e919";
}
.panda-chrome:before {
  content: "\e91a";
}
.panda-paypal:before {
  content: "\e91b";
}
.panda-yelp:before {
  content: "\e91c";
}
.panda-foursquare:before {
  content: "\e91d";
}
.panda-flattr:before {
  content: "\e91e";
}
.panda-xing2:before {
  content: "\e91f";
}
.panda-xing:before {
  content: "\e920";
}
.panda-pinterest2:before {
  content: "\e921";
}
.panda-pinterest:before {
  content: "\e922";
}
.panda-stackoverflow:before {
  content: "\e923";
}
.panda-stumbleupon2:before {
  content: "\e924";
}
.panda-stumbleupon:before {
  content: "\e925";
}
.panda-delicious:before {
  content: "\e926";
}
.panda-lastfm2:before {
  content: "\e927";
}
.panda-lastfm:before {
  content: "\e928";
}
.panda-linkedin2:before {
  content: "\e929";
}
.panda-linkedin:before {
  content: "\e92a";
}
.panda-wikipedia:before {
  content: "\e92b";
}
.panda-hackernews:before {
  content: "\e92c";
}
.panda-reddit:before {
  content: "\e92d";
}
.panda-skype:before {
  content: "\e92e";
}
.panda-soundcloud2:before {
  content: "\e92f";
}
.panda-soundcloud:before {
  content: "\e930";
}
.panda-windows8:before {
  content: "\e931";
}
.panda-windows:before {
  content: "\e932";
}
.panda-android:before {
  content: "\e933";
}
.panda-finder:before {
  content: "\e934";
}
.panda-appleinc:before {
  content: "\e935";
}
.panda-tux:before {
  content: "\e936";
}
.panda-yahoo2:before {
  content: "\e937";
}
.panda-yahoo:before {
  content: "\e938";
}
.panda-tumblr2:before {
  content: "\e939";
}
.panda-tumblr:before {
  content: "\e93a";
}
.panda-blogger2:before {
  content: "\e93b";
}
.panda-blogger:before {
  content: "\e93c";
}
.panda-ello:before {
  content: "\e93d";
}
.panda-joomla:before {
  content: "\e93e";
}
.panda-wordpress:before {
  content: "\e93f";
}
.panda-trello:before {
  content: "\e940";
}
.panda-basecamp:before {
  content: "\e941";
}
.panda-npm:before {
  content: "\e942";
}
.panda-github:before {
  content: "\e943";
}
.panda-onedrive:before {
  content: "\e944";
}
.panda-dropbox:before {
  content: "\e945";
}
.panda-steam2:before {
  content: "\e946";
}
.panda-steam:before {
  content: "\e947";
}
.panda-500px:before {
  content: "\e948";
}
.panda-deviantart:before {
  content: "\e949";
}
.panda-behance2:before {
  content: "\e94a";
}
.panda-behance:before {
  content: "\e94b";
}
.panda-dribbble:before {
  content: "\e94c";
}
.panda-flickr4:before {
  content: "\e94d";
}
.panda-flickr3:before {
  content: "\e94e";
}
.panda-flickr2:before {
  content: "\e94f";
}
.panda-flickr:before {
  content: "\e950";
}
.panda-lanyrd:before {
  content: "\e951";
}
.panda-vimeo2:before {
  content: "\e952";
}
.panda-vimeo:before {
  content: "\e953";
}
.panda-twitch:before {
  content: "\e954";
}
.panda-youtube2:before {
  content: "\e955";
}
.panda-youtube:before {
  content: "\e956";
}
.panda-rss2:before {
  content: "\e957";
}
.panda-rss:before {
  content: "\e958";
}
.panda-sina-weibo:before {
  content: "\e959";
}
.panda-renren:before {
  content: "\e95a";
}
.panda-vk:before {
  content: "\e95b";
}
.panda-vine:before {
  content: "\e95c";
}
.panda-twitter:before {
  content: "\e95d";
}
.panda-telegram:before {
  content: "\e95e";
}
.panda-spotify:before {
  content: "\e95f";
}
.panda-whatsapp:before {
  content: "\e960";
}
.panda-instagram:before {
  content: "\e961";
}
.panda-facebook2:before {
  content: "\e962";
}
.panda-facebook:before {
  content: "\e963";
}
.panda-google-drive:before {
  content: "\e964";
}
.panda-hangouts:before {
  content: "\e965";
}
.panda-google-plus3:before {
  content: "\e966";
}
.panda-google-plus2:before {
  content: "\e967";
}
.panda-google-plus:before {
  content: "\e968";
}
.panda-google3:before {
  content: "\e969";
}
.panda-google2:before {
  content: "\e96a";
}
.panda-google:before {
  content: "\e96b";
}
.panda-amazon:before {
  content: "\e96c";
}
.panda-mail4:before {
  content: "\e96d";
}
.panda-mail3:before {
  content: "\e96e";
}
.panda-mail2:before {
  content: "\e96f";
}
.panda-mail:before {
  content: "\e970";
}
.panda-share2:before {
  content: "\e971";
}
.panda-terminal:before {
  content: "\e972";
}
.panda-embed2:before {
  content: "\e973";
}
.panda-embed:before {
  content: "\e974";
}
.panda-new-tab:before {
  content: "\e975";
}
.panda-share:before {
  content: "\e976";
}
.panda-indent-decrease:before {
  content: "\e977";
}
.panda-indent-increase:before {
  content: "\e978";
}
.panda-paragraph-justify:before {
  content: "\e979";
}
.panda-paragraph-right:before {
  content: "\e97a";
}
.panda-paragraph-center:before {
  content: "\e97b";
}
.panda-paragraph-left:before {
  content: "\e97c";
}
.panda-section:before {
  content: "\e97d";
}
.panda-rtl:before {
  content: "\e97e";
}
.panda-ltr:before {
  content: "\e97f";
}
.panda-pilcrow:before {
  content: "\e980";
}
.panda-insert-template:before {
  content: "\e981";
}
.panda-table2:before {
  content: "\e982";
}
.panda-table:before {
  content: "\e983";
}
.panda-clear-formatting:before {
  content: "\e984";
}
.panda-pagebreak:before {
  content: "\e985";
}
.panda-text-color:before {
  content: "\e986";
}
.panda-subscript2:before {
  content: "\e987";
}
.panda-superscript2:before {
  content: "\e988";
}
.panda-subscript:before {
  content: "\e989";
}
.panda-superscript:before {
  content: "\e98a";
}
.panda-page-break:before {
  content: "\e98b";
}
.panda-sigma:before {
  content: "\e98c";
}
.panda-omega:before {
  content: "\e98d";
}
.panda-strikethrough:before {
  content: "\e98e";
}
.panda-italic:before {
  content: "\e98f";
}
.panda-underline:before {
  content: "\e990";
}
.panda-bold:before {
  content: "\e991";
}
.panda-font-size:before {
  content: "\e992";
}
.panda-text-width:before {
  content: "\e993";
}
.panda-text-height:before {
  content: "\e994";
}
.panda-ligature2:before {
  content: "\e995";
}
.panda-ligature:before {
  content: "\e996";
}
.panda-font:before {
  content: "\e997";
}
.panda-filter:before {
  content: "\e998";
}
.panda-scissors:before {
  content: "\e999";
}
.panda-ungroup:before {
  content: "\e99a";
}
.panda-make-group:before {
  content: "\e99b";
}
.panda-crop:before {
  content: "\e99c";
}
.panda-radio-unchecked:before {
  content: "\e99d";
}
.panda-radio-checked2:before {
  content: "\e99e";
}
.panda-radio-checked:before {
  content: "\e99f";
}
.panda-checkbox-unchecked:before {
  content: "\e9a0";
}
.panda-checkbox-checked:before {
  content: "\e9a1";
}
.panda-opt:before {
  content: "\e9a2";
}
.panda-ctrl:before {
  content: "\e9a3";
}
.panda-shift:before {
  content: "\e9a4";
}
.panda-command:before {
  content: "\e9a5";
}
.panda-sort-amount-desc:before {
  content: "\e9a6";
}
.panda-sort-amount-asc:before {
  content: "\e9a7";
}
.panda-sort-numberic-desc:before {
  content: "\e9a8";
}
.panda-sort-numeric-asc:before {
  content: "\e9a9";
}
.panda-sort-alpha-desc:before {
  content: "\e9aa";
}
.panda-sort-alpha-asc:before {
  content: "\e9ab";
}
.panda-move-down:before {
  content: "\e9ac";
}
.panda-move-up:before {
  content: "\e9ad";
}
.panda-tab:before {
  content: "\e9ae";
}
.panda-circle-left:before {
  content: "\e9af";
}
.panda-circle-down:before {
  content: "\e9b0";
}
.panda-circle-right:before {
  content: "\e9b1";
}
.panda-circle-up:before {
  content: "\e9b2";
}
.panda-arrow-left2:before {
  content: "\e9b3";
}
.panda-arrow-down-left2:before {
  content: "\e9b4";
}
.panda-arrow-down2:before {
  content: "\e9b5";
}
.panda-arrow-down-right2:before {
  content: "\e9b6";
}
.panda-arrow-right2:before {
  content: "\e9b7";
}
.panda-arrow-up-right2:before {
  content: "\e9b8";
}
.panda-arrow-up2:before {
  content: "\e9b9";
}
.panda-arrow-up-left2:before {
  content: "\e9ba";
}
.panda-arrow-left:before {
  content: "\e9bb";
}
.panda-arrow-down-left:before {
  content: "\e9bc";
}
.panda-arrow-down:before {
  content: "\e9bd";
}
.panda-arrow-down-right:before {
  content: "\e9be";
}
.panda-arrow-right:before {
  content: "\e9bf";
}
.panda-arrow-up-right:before {
  content: "\e9c0";
}
.panda-arrow-up:before {
  content: "\e9c1";
}
.panda-arrow-up-left:before {
  content: "\e9c2";
}
.panda-shuffle:before {
  content: "\e9c3";
}
.panda-infinite:before {
  content: "\e9c4";
}
.panda-loop2:before {
  content: "\e9c5";
}
.panda-loop:before {
  content: "\e9c6";
}
.panda-volume-decrease:before {
  content: "\e9c7";
}
.panda-volume-increase:before {
  content: "\e9c8";
}
.panda-volume-mute2:before {
  content: "\e9c9";
}
.panda-volume-mute:before {
  content: "\e9ca";
}
.panda-volume-low:before {
  content: "\e9cb";
}
.panda-volume-medium:before {
  content: "\e9cc";
}
.panda-volume-high:before {
  content: "\e9cd";
}
.panda-eject:before {
  content: "\e9ce";
}
.panda-next2:before {
  content: "\e9cf";
}
.panda-previous2:before {
  content: "\e9d0";
}
.panda-last:before {
  content: "\e9d1";
}
.panda-first:before {
  content: "\e9d2";
}
.panda-forward3:before {
  content: "\e9d3";
}
.panda-backward2:before {
  content: "\e9d4";
}
.panda-stop2:before {
  content: "\e9d5";
}
.panda-pause2:before {
  content: "\e9d6";
}
.panda-play3:before {
  content: "\e9d7";
}
.panda-forward2:before {
  content: "\e9d8";
}
.panda-backward:before {
  content: "\e9d9";
}
.panda-next:before {
  content: "\e9da";
}
.panda-previous:before {
  content: "\e9db";
}
.panda-stop:before {
  content: "\e9dc";
}
.panda-pause:before {
  content: "\e9dd";
}
.panda-play2:before {
  content: "\e9de";
}
.panda-exit:before {
  content: "\e9df";
}
.panda-enter:before {
  content: "\e9e0";
}
.panda-spell-check:before {
  content: "\e9e1";
}
.panda-checkmark2:before {
  content: "\e9e2";
}
.panda-checkmark:before {
  content: "\e9e3";
}
.panda-cross:before {
  content: "\e9e4";
}
.panda-blocked:before {
  content: "\e9e5";
}
.panda-cancel-circle:before {
  content: "\e9e6";
}
.panda-info:before {
  content: "\e9e7";
}
.panda-minus:before {
  content: "\e9e8";
}
.panda-plus:before {
  content: "\e9e9";
}
.panda-question:before {
  content: "\e9ea";
}
.panda-notification:before {
  content: "\e9eb";
}
.panda-warning:before {
  content: "\e9ec";
}
.panda-point-left:before {
  content: "\e9ed";
}
.panda-point-down:before {
  content: "\e9ee";
}
.panda-point-right:before {
  content: "\e9ef";
}
.panda-point-up:before {
  content: "\e9f0";
}
.panda-crying2:before {
  content: "\e9f1";
}
.panda-crying:before {
  content: "\e9f2";
}
.panda-frustrated2:before {
  content: "\e9f3";
}
.panda-frustrated:before {
  content: "\e9f4";
}
.panda-sleepy2:before {
  content: "\e9f5";
}
.panda-sleepy:before {
  content: "\e9f6";
}
.panda-wondering2:before {
  content: "\e9f7";
}
.panda-wondering:before {
  content: "\e9f8";
}
.panda-hipster2:before {
  content: "\e9f9";
}
.panda-hipster:before {
  content: "\e9fa";
}
.panda-neutral2:before {
  content: "\e9fb";
}
.panda-neutral:before {
  content: "\e9fc";
}
.panda-confused2:before {
  content: "\e9fd";
}
.panda-confused:before {
  content: "\e9fe";
}
.panda-baffled2:before {
  content: "\e9ff";
}
.panda-baffled:before {
  content: "\ea00";
}
.panda-shocked2:before {
  content: "\ea01";
}
.panda-shocked:before {
  content: "\ea02";
}
.panda-evil2:before {
  content: "\ea03";
}
.panda-evil:before {
  content: "\ea04";
}
.panda-angry2:before {
  content: "\ea05";
}
.panda-angry:before {
  content: "\ea06";
}
.panda-cool2:before {
  content: "\ea07";
}
.panda-cool:before {
  content: "\ea08";
}
.panda-grin2:before {
  content: "\ea09";
}
.panda-grin:before {
  content: "\ea0a";
}
.panda-wink2:before {
  content: "\ea0b";
}
.panda-wink:before {
  content: "\ea0c";
}
.panda-sad2:before {
  content: "\ea0d";
}
.panda-sad:before {
  content: "\ea0e";
}
.panda-tongue2:before {
  content: "\ea0f";
}
.panda-tongue:before {
  content: "\ea10";
}
.panda-smile2:before {
  content: "\ea11";
}
.panda-smile:before {
  content: "\ea12";
}
.panda-happy2:before {
  content: "\ea13";
}
.panda-happy:before {
  content: "\ea14";
}
.panda-man-woman:before {
  content: "\ea15";
}
.panda-woman:before {
  content: "\ea16";
}
.panda-man:before {
  content: "\ea17";
}
.panda-heart-broken:before {
  content: "\ea18";
}
.panda-heart:before {
  content: "\ea19";
}
.panda-star-full:before {
  content: "\ea1a";
}
.panda-star-half:before {
  content: "\ea1b";
}
.panda-star-empty:before {
  content: "\ea1c";
}
.panda-brightness-contrast:before {
  content: "\ea1d";
}
.panda-contrast:before {
  content: "\ea1e";
}
.panda-sun:before {
  content: "\ea1f";
}
.panda-bookmarks:before {
  content: "\ea20";
}
.panda-bookmark:before {
  content: "\ea21";
}
.panda-eye-blocked:before {
  content: "\ea22";
}
.panda-eye-minus:before {
  content: "\ea23";
}
.panda-eye-plus:before {
  content: "\ea24";
}
.panda-eye:before {
  content: "\ea25";
}
.panda-attachment:before {
  content: "\ea26";
}
.panda-flag:before {
  content: "\ea27";
}
.panda-link:before {
  content: "\ea28";
}
.panda-earth:before {
  content: "\ea29";
}
.panda-sphere:before {
  content: "\ea2a";
}
.panda-upload3:before {
  content: "\ea2b";
}
.panda-download3:before {
  content: "\ea2c";
}
.panda-upload2:before {
  content: "\ea2d";
}
.panda-download2:before {
  content: "\ea2e";
}
.panda-cloud-check:before {
  content: "\ea2f";
}
.panda-cloud-upload:before {
  content: "\ea30";
}
.panda-cloud-download:before {
  content: "\ea31";
}
.panda-cloud:before {
  content: "\ea32";
}
.panda-menu4:before {
  content: "\ea33";
}
.panda-menu3:before {
  content: "\ea34";
}
.panda-menu2:before {
  content: "\ea35";
}
.panda-menu:before {
  content: "\ea36";
}
.panda-tree:before {
  content: "\ea37";
}
.panda-list2:before {
  content: "\ea38";
}
.panda-list:before {
  content: "\ea39";
}
.panda-list-numbered:before {
  content: "\ea3a";
}
.panda-clipboard:before {
  content: "\ea3b";
}
.panda-power-cord:before {
  content: "\ea3c";
}
.panda-switch:before {
  content: "\ea3d";
}
.panda-power:before {
  content: "\ea3e";
}
.panda-shield:before {
  content: "\ea3f";
}
.panda-target:before {
  content: "\ea40";
}
.panda-accessibility:before {
  content: "\ea41";
}
.panda-road:before {
  content: "\ea42";
}
.panda-truck:before {
  content: "\ea43";
}
.panda-airplane:before {
  content: "\ea44";
}
.panda-briefcase:before {
  content: "\ea45";
}
.panda-bin2:before {
  content: "\ea46";
}
.panda-bin:before {
  content: "\ea47";
}
.panda-magnet:before {
  content: "\ea48";
}
.panda-lab:before {
  content: "\ea49";
}
.panda-fire:before {
  content: "\ea4a";
}
.panda-hammer2:before {
  content: "\ea4b";
}
.panda-meter2:before {
  content: "\ea4c";
}
.panda-meter:before {
  content: "\ea4d";
}
.panda-rocket:before {
  content: "\ea4e";
}
.panda-leaf:before {
  content: "\ea4f";
}
.panda-spoon-knife:before {
  content: "\ea50";
}
.panda-mug:before {
  content: "\ea51";
}
.panda-glass2:before {
  content: "\ea52";
}
.panda-glass:before {
  content: "\ea53";
}
.panda-gift:before {
  content: "\ea54";
}
.panda-trophy:before {
  content: "\ea55";
}
.panda-stats-bars2:before {
  content: "\ea56";
}
.panda-stats-bars:before {
  content: "\ea57";
}
.panda-stats-dots:before {
  content: "\ea58";
}
.panda-pie-chart:before {
  content: "\ea59";
}
.panda-bug:before {
  content: "\ea5a";
}
.panda-aid-kit:before {
  content: "\ea5b";
}
.panda-magic-wand:before {
  content: "\ea5c";
}
.panda-hammer:before {
  content: "\ea5d";
}
.panda-cogs:before {
  content: "\ea5e";
}
.panda-cog:before {
  content: "\ea5f";
}
.panda-equalizer2:before {
  content: "\ea60";
}
.panda-equalizer:before {
  content: "\ea61";
}
.panda-wrench:before {
  content: "\ea62";
}
.panda-unlocked:before {
  content: "\ea63";
}
.panda-lock:before {
  content: "\ea64";
}
.panda-key2:before {
  content: "\ea65";
}
.panda-key:before {
  content: "\ea66";
}
.panda-shrink2:before {
  content: "\ea67";
}
.panda-enlarge2:before {
  content: "\ea68";
}
.panda-shrink:before {
  content: "\ea69";
}
.panda-enlarge:before {
  content: "\ea6a";
}
.panda-zoom-out:before {
  content: "\ea6b";
}
.panda-zoom-in:before {
  content: "\ea6c";
}
.panda-search:before {
  content: "\ea6d";
}
.panda-binoculars:before {
  content: "\ea6e";
}
.panda-spinner11:before {
  content: "\ea6f";
}
.panda-spinner10:before {
  content: "\ea70";
}
.panda-spinner9:before {
  content: "\ea71";
}
.panda-spinner8:before {
  content: "\ea72";
}
.panda-spinner7:before {
  content: "\ea73";
}
.panda-spinner6:before {
  content: "\ea74";
}
.panda-spinner5:before {
  content: "\ea75";
}
.panda-spinner4:before {
  content: "\ea76";
}
.panda-spinner3:before {
  content: "\ea77";
}
.panda-spinner2:before {
  content: "\ea78";
}
.panda-spinner:before {
  content: "\ea79";
}
.panda-hour-glass:before {
  content: "\ea7a";
}
.panda-quotes-right:before {
  content: "\ea7b";
}
.panda-quotes-left:before {
  content: "\ea7c";
}
.panda-user-tie:before {
  content: "\ea7d";
}
.panda-user-check:before {
  content: "\ea7e";
}
.panda-user-minus:before {
  content: "\ea7f";
}
.panda-user-plus:before {
  content: "\ea80";
}
.panda-users:before {
  content: "\ea81";
}
.panda-user:before {
  content: "\ea82";
}
.panda-bubbles4:before {
  content: "\ea83";
}
.panda-bubbles3:before {
  content: "\ea84";
}
.panda-bubble2:before {
  content: "\ea85";
}
.panda-bubbles2:before {
  content: "\ea86";
}
.panda-bubbles:before {
  content: "\ea87";
}
.panda-bubble:before {
  content: "\ea88";
}
.panda-reply:before {
  content: "\ea89";
}
.panda-forward:before {
  content: "\ea8a";
}
.panda-redo2:before {
  content: "\ea8b";
}
.panda-undo2:before {
  content: "\ea8c";
}
.panda-redo:before {
  content: "\ea8d";
}
.panda-undo:before {
  content: "\ea8e";
}
.panda-database:before {
  content: "\ea8f";
}
.panda-drive:before {
  content: "\ea90";
}
.panda-floppy-disk:before {
  content: "\ea91";
}
.panda-upload:before {
  content: "\ea92";
}
.panda-download:before {
  content: "\ea93";
}
.panda-box-remove:before {
  content: "\ea94";
}
.panda-box-add:before {
  content: "\ea95";
}
.panda-drawer2:before {
  content: "\ea96";
}
.panda-drawer:before {
  content: "\ea97";
}
.panda-tv:before {
  content: "\ea98";
}
.panda-tablet:before {
  content: "\ea99";
}
.panda-mobile2:before {
  content: "\ea9a";
}
.panda-mobile:before {
  content: "\ea9b";
}
.panda-laptop:before {
  content: "\ea9c";
}
.panda-display:before {
  content: "\ea9d";
}
.panda-keyboard:before {
  content: "\ea9e";
}
.panda-printer:before {
  content: "\ea9f";
}
.panda-calendar:before {
  content: "\eaa0";
}
.panda-stopwatch:before {
  content: "\eaa1";
}
.panda-bell:before {
  content: "\eaa2";
}
.panda-alarm:before {
  content: "\eaa3";
}
.panda-clock2:before {
  content: "\eaa4";
}
.panda-clock:before {
  content: "\eaa5";
}
.panda-history:before {
  content: "\eaa6";
}
.panda-map2:before {
  content: "\eaa7";
}
.panda-map:before {
  content: "\eaa8";
}
.panda-compass2:before {
  content: "\eaa9";
}
.panda-compass:before {
  content: "\eaaa";
}
.panda-location2:before {
  content: "\eaab";
}
.panda-location:before {
  content: "\eaac";
}
.panda-pushpin:before {
  content: "\eaad";
}
.panda-envelop:before {
  content: "\eaae";
}
.panda-address-book:before {
  content: "\eaaf";
}
.panda-phone-hang-up:before {
  content: "\eab0";
}
.panda-phone:before {
  content: "\eab1";
}
.panda-lifebuoy:before {
  content: "\eab2";
}
.panda-calculator:before {
  content: "\eab3";
}
.panda-credit-card:before {
  content: "\eab4";
}
.panda-coin-yen:before {
  content: "\eab5";
}
.panda-coin-pound:before {
  content: "\eab6";
}
.panda-coin-euro:before {
  content: "\eab7";
}
.panda-coin-dollar:before {
  content: "\eab8";
}
.panda-cart:before {
  content: "\eab9";
}
.panda-ticket:before {
  content: "\eaba";
}
.panda-qrcode:before {
  content: "\eabb";
}
.panda-barcode:before {
  content: "\eabc";
}
.panda-price-tags:before {
  content: "\eabd";
}
.panda-price-tag:before {
  content: "\eabe";
}
.panda-folder-upload:before {
  content: "\eabf";
}
.panda-folder-download:before {
  content: "\eac0";
}
.panda-folder-minus:before {
  content: "\eac1";
}
.panda-folder-plus:before {
  content: "\eac2";
}
.panda-folder-open:before {
  content: "\eac3";
}
.panda-folder:before {
  content: "\eac4";
}
.panda-stack:before {
  content: "\eac5";
}
.panda-paste:before {
  content: "\eac6";
}
.panda-copy:before {
  content: "\eac7";
}
.panda-file-zip:before {
  content: "\eac8";
}
.panda-file-video:before {
  content: "\eac9";
}
.panda-file-play:before {
  content: "\eaca";
}
.panda-file-music:before {
  content: "\eacb";
}
.panda-file-picture:before {
  content: "\eacc";
}
.panda-file-text2:before {
  content: "\eacd";
}
.panda-files-empty:before {
  content: "\eace";
}
.panda-file-empty:before {
  content: "\eacf";
}
.panda-profile:before {
  content: "\ead0";
}
.panda-file-text:before {
  content: "\ead1";
}
.panda-library:before {
  content: "\ead2";
}
.panda-books:before {
  content: "\ead3";
}
.panda-book:before {
  content: "\ead4";
}
.panda-mic:before {
  content: "\ead5";
}
.panda-feed:before {
  content: "\ead6";
}
.panda-podcast:before {
  content: "\ead7";
}
.panda-connection:before {
  content: "\ead8";
}
.panda-bullhorn:before {
  content: "\ead9";
}
.panda-diamonds:before {
  content: "\eada";
}
.panda-clubs:before {
  content: "\eadb";
}
.panda-spades:before {
  content: "\eadc";
}
.panda-pacman:before {
  content: "\eadd";
}
.panda-dice:before {
  content: "\eade";
}
.panda-video-camera:before {
  content: "\eadf";
}
.panda-film:before {
  content: "\eae0";
}
.panda-play:before {
  content: "\eae1";
}
.panda-music:before {
  content: "\eae2";
}
.panda-headphones:before {
  content: "\eae3";
}
.panda-camera:before {
  content: "\eae4";
}
.panda-images:before {
  content: "\eae5";
}
.panda-image:before {
  content: "\eae6";
}
.panda-paint-format:before {
  content: "\eae7";
}
.panda-droplet:before {
  content: "\eae8";
}
.panda-eyedropper:before {
  content: "\eae9";
}
.panda-blog:before {
  content: "\eaea";
}
.panda-pen:before {
  content: "\eaeb";
}
.panda-quill:before {
  content: "\eaec";
}
.panda-pencil2:before {
  content: "\eaed";
}
.panda-pencil:before {
  content: "\eaee";
}
.panda-newspaper:before {
  content: "\eaef";
}
.panda-office:before {
  content: "\eaf0";
}
.panda-home3:before {
  content: "\eaf1";
}
.panda-home2:before {
  content: "\eaf2";
}
.panda-home:before {
  content: "\eaf3";
}
.panda-bottom-1:before {
  content: "\e900";
  color: #4f4f4f;
}
.panda-bottom-2:before {
  content: "\e901";
  color: #4f4f4f;
}
.panda-left-1:before {
  content: "\e902";
  color: #4f4f4f;
}
.panda-left-2:before {
  content: "\e903";
  color: #4f4f4f;
}
.panda-right-1:before {
  content: "\e904";
  color: #4f4f4f;
}
.panda-right-2:before {
  content: "\e905";
  color: #4f4f4f;
}
.panda-top-1:before {
  content: "\e906";
  color: #4f4f4f;
}
.panda-top-2:before {
  content: "\e907";
  color: #4f4f4f;
}
.panda-bold-left:before {
  content: "\e908";
  color: #4f4f4f;
}
.panda-bold-right:before {
  content: "\e909";
  color: #4f4f4f;
}