aside.sh-asidebar {
    background-color: #4276A4;
    width: 240px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.sh-margin-medium-top { margin-top: 10px!important; }

body {
    overflow-x:auto !important;

    table th { border-bottom: 3px solid #dddddd; }
}

ul.tm-aside-nav > li {

    &.uk-open { background-color: #589AC1; }

    &.uk-nav-header {
        border-top: 1px solid;
        border-color: #474a51;
        color: #afb2b7;
        padding: 9px 30px;
        font-weight: normal;
        font-size: 20px;
        > p { color: #fff}
    }

    > a {
        font-family: $mirzab-font;
        font-size: 14px;
        padding: 12px 30px 12px 20px;

        > i {
            width: 24px;
            text-align: center;
            margin-left: 10px;
            font-size: 18px;
            vertical-align: text-top;
        }

        > span.new-number-products {
            background-color: #d3d3d3;
            border-radius: 50%;
            color: white;
            float: left;
            font-size: 10px;
            padding: 1px 5px;
        }

        &:hover {
            background-color: #589AC1;
            color: #fff;
        }
    }

    a {
        color: #d3d3d3;

        > span.new-number-subproduct {
            background-color: #ff5251;
            border-radius: 50%;
            color: white;
            font-size: 10px;
            padding: 5px 5px;
        }
    }

    ul.uk-nav-sub {
        background-color: #4890BB;
        padding-right: 30px;

        a {
            padding: 10px 0;

            &:hover {
                color: #fff;

                > span.new-number-subproduct { color: #ffffff; }
            }
        }
    }
}

.sent,
.canceled,
.pending,
.sending,
.delivered,
.payment_down,
.payment_pending {

    > span {
        padding: 6px 10px !important;
        color: #ffffff;
        border-radius: 5px;
    }
}

.sent span { background-color: #61beb4; }

.canceled span { background-color: #ee7878; }

.pending span { background-color: #BAAF61; }

.sending span { background-color: #35abdd; }

.delivered span { background-color: #32c5d2; }

.payment_down span { background-color: #32c5d2; }

.payment_pending span { background-color: #35abdd; }

section.sh-content {
    margin-right: 240px;

    //@include height(calc(100% - 68px));
}

div.tm-content {
    position: relative;
    padding: 20px;

    > h2 {
        font-family: $mirza-font;
        font-size: 29px;
    }
}

ul.tm-breadcrumb {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;

    & > li:last-child:before { display: none; }

    i.panda-home {
        font-size: 20px;
        vertical-align: text-bottom;
    }
}

div.tm-footer-block {
    text-align: center;
    background-color: #fff;
    height: 68px;
    line-height: 68px;
    padding-right: 240px;

    > p { margin: 0; }

    i {
        color: $brand-color;
        font-size: 32px;
        margin-right: 10px;
    }
}

div.tm-panel {
    padding: 20px 40px 20px 40px;

    > h3.uk-panel-title {
        color: #999;
        border-bottom: 1px solid #f2f2f2;
        margin: -20px -40px 40px;

        > i { margin-left: 5px; }
    }

    > p:nth-child(3) {
        margin: 40px -20px 0 0;
        font-family: "Mirza";
        font-size:15px;
        float: right;

        > i {
            vertical-align: text-bottom;
            margin-right: 10px;
            color: #5fbfb3;
        }
    }

    > p:last-child {
        float: left;margin: 40px 0 0 -20px;
        font-size: 15px;
    }

    > p#max-user-visitor {
        float: left;margin: 40px 0 0 -20px;
        font-size: 15px;
    }

    > p:nth-child(3) {
        margin: 40px -20px 0 0;
        font-family: "Mirza";
        font-size:15px;
        float: right;

        > i {
            vertical-align: text-bottom;
            margin-right: 10px;
            color: #5fbfb3;
        }
    }

    @include border-radius(5px);
}


div#flotTip {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;

    @include border-radius(3px);
}

div.tm-panel-footer {
    border-top: 1px solid #f2f2f2;
    margin: 0 -40px -40px -40px !important;
    padding: 40px;
}

div.tm-panel-footer-small {
    border-top: 1px solid #f2f2f2;
    margin: 45px -40px -40px -40px !important;
    padding: 20px 40px;
}

ul.tm-tab { margin-bottom: 45px; }

div.tm-panel-header {
    margin: -25px -40px 30px -40px;
    padding: 25px 40px;
    border-bottom: 1px solid #f2f2f2;

    > h2 {
        float: left;

        > span {
            color: #999999;
            font-family: "Mirzab"
        }
    }
}

.sh-product-head {
    border-bottom: 1px solid #f2f2f2;
    margin: 0 -40px 25px -40px;

    > .uk-panel-title {
        border-bottom: none;
        float: right;
        margin: -40px 0 15px 0;
        line-height: 40px;
    }

    > .sh-title-menu {
        float: left;
        margin: -40px 0 25px 0;
        line-height: 3;

        > a:first-of-type {
            border-left: 1px solid #f2f2f2;
            padding:11px 15px 15px 15px;
            border-right: 1px solid #f2f2f2;
            line-height: 40px;

            > i {
            font-size: 16px;
            margin-left:5px;
            vertical-align: text-bottom;
            }
        }

        > a:last-of-type {
            font-size: 16px;
            margin:0 15px;
            vertical-align: text-top;
        }
    }
}

.sh-breadcrumb-next { vertical-align: text-bottom; }

.sh-products {

    label {
        margin: 10px 0 0 10px;
     }

     span > label { margin-right: 20px; }

     a.selectBox-dropdown { width: 135px !important; }
}

.tm-panel-header-factors {
    margin-bottom: 30px;

    >.sh-myorder-details-txt { margin: 10px 0 0 10px; }

    a.selectBox-dropdown { width: 135px !important; }

    > h2 {
        float: left;
        font-weight: bold;

        > span { color: #999; }
    }

    > select {
        float: right;
        margin: 0 10px 0 30px;
    }

    > div#sh-date {
        float: right;
        > label { vertical-align: text-top; }
    }


    > span.sh-search {
        float: right;
        cursor: pointer;

        > input { width: 300px; }
    }

    > p {

        &:last-of-type { line-height: 20px; }
    }
}

.sh-header-prefac {
    height: 90px;

    > div > p:last-of-type {
        font-family: Mirzab;
        font-size: 20px;
    }
}

.sh-prefac-texts {
    margin: 30px 0 70px 0;

    > p {
        width: 300px;
        margin: 5px 0 0 0;

        &:nth-child(2){
            font-family: Mirzab;
            margin-bottom: 10px;
        }

        &:nth-child(5){ margin-bottom: 30px; }
    }
}

.sh-prefac-texts-last {
    margin-top: 30px;

    span{

        &:first-of-type { vertical-align: baseline; }
        &:last-of-type { font-family: Mirzab; }
    }
}

.sh-lastinf-prefac {
    border:1px solid #f2f2f2;
    border-radius: 5px;
    margin: 25px 0 60px 0;

    > dl > dd { width: 200px; }

    > dl:first-of-type {
        padding: 20px 20px 10px 20px;

        > dt:nth-child(3) { margin: 20px 0;}

        > dd:nth-child(4) { margin: 20px 180px 20px 0; }
    }

    > dl:last-of-type {
        margin: 10px !important;
        background-color: #32c5d2;
        padding: 15px 10px;
        border-radius: 5px;

        > dt, dd { color: #ffffff; }
    }

    > hr { margin: 10px 20px; }
}

.sh-prefac-tables {
    > table {

        th {

            &:nth-child(1) { width: 15px; }

            &:nth-child(2) { width: 100px; }

            &:nth-child(3) { width: 280px; }

            &:nth-child(4) { width: 350px; }

            &:nth-child(5) { width: 100px; }

            &:nth-child(6) { width: 110px; }
        }
    }
}

.sh-users-tables {

    > thead {

        th {

            &:nth-child(1) { width: 15px; }

            &:nth-child(2) { width: 100px; }

            &:nth-child(3) { width: 280px; }

            &:nth-child(4) { width: 200px; }

            &:last-of-type {
                width: 200px;
                text-align: right;
            }
        }
    }
}

.sh-groups-tables {

    > thead {

        th {

            &:nth-child(1) { width: 30px; }

            &:nth-child(2) { width: 150px; }

            &:nth-child(3) { width: 200px; }

            &:last-of-type {
                width: 200px;
                text-align: right;
            }
        }
    }
}

.sh-review-examin {
    margin: 30px 35px 0 0;

    > a.sh-photo-review {
        color: #ccc;
        width: 150px;
        height: 150px !important;
        display: inline-block;
        text-align: center;
        border: 1px dashed #ccc;
        position: relative;
        border-radius: 50%;
        vertical-align: middle;

        > i {
            font-size: 25px;
            margin-top: -12px;
            margin-right: -13px;
            position: absolute;
            top: 50%;
            right: 50%;
        }
    }

    i:first-of-type { margin:0 20px 0 15px; }

    > textarea {
        vertical-align: middle;
        width: 800px;
        height: 150px;
        border-radius: 5px;
        resize:none;
    }
}

.sh-border-bottom { margin: 0 -40px; }

p.sh-myorder-details-txt {line-height: 40px; }

.sh-newpro-first {

    > p:last-of-type {
        float: right;
        margin-left: 20px;
    }

    .sbHolder { width: 210px;}
}

.sh-addform-btn {

    > hr { margin: 30px -40px 0 -40px; }
}

//  -------------- add style  for plugin text editor -----------------
.trumbowyg-fullscreen-button { display: none !important; }

ul.trumbowyg-button-pane {

    > li { float: right; }
}
// ---------------------------------------------------

div#question {
    list-style: none;
    margin-bottom: 45px;

    > ul {
        margin: 0;
        padding: 0;
        display: inline-block;

        > li {
            margin-right: 40px;
            display: inline-block;
        }
    }
}

.sh-getinfo-login {

    > label {
        width: 61px !important;
        margin-top: 1px !important;
    }

    > div {
        margin-right: 61px!important;

        > input {
            height: 23px !important;
            width: 100% !important;
            border: 1px solid transparent !important;
        }
    }
}

form.sh-panel-1 img { margin: 20px 0 30px; }

ul.tm-switcher-product {

    input[name="product_name_fa"],
    input[name="product_name_en"] {
        width: 100%;
    }

    input, select { width: 250px; }

    hr { margin: 45px 0; }
}


.sh-add-piccircle {
    width: 150px;
    height: 150px;
}

input[name="min_price"],
input[name="max_price"] { width: 100px; }

div#table-footer-info { color: #999; }

span.product {
    font-size: 14px;
    font-weight: bold;

    &:nth-child(n+2) { margin-right: 30px; }

    &.record { color: #666; }

    &.publish { color: #5fbfb1; }

    &.Unpublished { color: #fed653; }
}


.close-technical-title {
    float: right;
    line-height: 40px;
    margin-right: 9px;
}

#sh-info {
    margin-bottom: 25px;

    > i {
        vertical-align: text-bottom;
        color: #ffb426;
        margin-left: 5px;
    }
}

.close-technical-sub {
    line-height: 40px;
    margin-right: 9px;
}
.add_sub {

    > i {
        float: right;
        line-height: 40px;
        margin-right: 9px;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        top: 0;
    }
}

.add_sub_form {

    > i {
        float: right;
        line-height: 40px;
        margin-right: 9px;
        font-size: 14px;
        font-weight: bold;
        position: relative;
        top: -48px;
    }
}

#technical_info {
    border-radius: 5px !important;

    hr {
        margin:30px -40px 0 -40px;
        clear: both;
    }
}

.class_technical { margin-top: 30px; }

.class_technical_sub {
    margin:0 30px 10px 0;
    clear: both;

    > a > i.panda-plus {
        float: right;
        margin: 15px -20px 0 0;
        font-weight: bolder;
        font-size: 15px;
    }

    > input[type="checkbox"] {
        float: right;
        margin: 15px 0 0 15px;
    }
}

.sort-1 {
    width: 101px;
    height: 39px;
    float: right;
    border: 1px solid #f5f6fb;
    border-radius: 5px;
    background-color: #f5f6fb;
    line-height: 40px;
    margin-left: 20px;
    position: relative;

    a.sbToggle {
        position: absolute;
        float: left;
        top: 1px;
        bottom:-1px;
        left:1px;
        display: block;
        width: 35px;
        text-align: center;
        line-height: 39.5px;
        font-size: 10px;
        background-color: #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    a.sbSelector {
        background: #f4f6fb;
        color: #999;
        display: block;
        line-height: 40px;
        text-indent: 5px;
        border: 1px solid #f4f6fb;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

     ul.sbOptions {
        position: absolute;
        left: 0;
        right: 0;
        border: 1px solid #EFEFEF;
        padding: 5px;
        margin: 5px 0 ;
        background-color: #fff;
        z-index: 1;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
     }
}


.sh-comment-body {
    margin-right: 65px;
    width: 1265px;
    float: right;
    margin-bottom: 15px;
}

// #id_color { margin: -8px 10px 0 0; }


div.sh-comment-block {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding:20px 20px 0 20px;
    background-color: #ffffff;

    > img {
        float: left;
        margin-bottom: 20px;
        border-radius: 5px;
    }

    > article { float: right; }
}

.uk-height-1-1 { padding-left: 0 !important; }

.sh-footer-comment-dash {
    height: 45px;
    background-color:#f2f2f2;
    margin: 0 -20px;
    border-bottom-left-radius:9px;
    border-bottom-right-radius:9px;
    clear: both;

    > p {
        float: right;
        margin: 0px 20px 0 0;
        line-height: 45px;
    }

    > .sh-footer-comment-clear { margin: 10px 0 0 20px; }

    > .sh-footer-comment-check { margin: 10px 0 0 5px; }
}

.sh-delete-gallery {
  float: left;
  margin-left: 15px;
  margin-top: -4px;
}

.sh-delete-image {
  float: left;
  margin-left: -15px;
}

#gift {
    > span {

        &:first-child {
            background-color: #ffffff;
            padding:13px 0 14px 15px;
            vertical-align: text-top;
        }

        &:last-of-type {
            background-color: #f0f0f0;
            padding:13px 20px 13px 20px;
            line-height: 23px;
            vertical-align: text-top;
            border-radius: 5px;
            margin-right: 6px;
        }
    }
}



.sh-select-color {
    padding: 20px 0 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-bottom: 25px;

    > p {
        margin:0 20px;

        input,label { float: right; }

        input { margin: 3px 0 0 10px !important; }

        > select { float: right; }

        > span {
            float: right;
            width: 15% !important;
            margin: -10px 15px 0 0;
        }
    }
}

.sh-select-pictures {
    padding: 40px 0 20px 0;
    clear: both;
    padding-left: 0 !important;

    > .uk-width-1-3 {
        border-left: 1px solid #e2e2e2;
        width: 19.540%;

        &:last-child { border-left: none; }
    }
}

.sh-primary-pic {
    width: 150px;
    float: right;
    background-color: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    margin:0 45px 20px 0;

    > i {
        font-size: 40px;
        text-align: center;
        padding: 48px 42px;
        position: relative;
        color: #9a9a9a;

        > p {
            font-size: 14px;
            font-family: Mirza;
            width: 65px;
            margin: 15px 0 0 0;
        }
    }
}

.sh-thumbnail-170 {
    width: 120px;
    height: 130px;
    background-color: #eeeeee;
    float: right;
    margin:0 45px 0 0;
    border-radius: 10px;
    cursor: pointer;

    > i {
        font-size: 40px;
        text-align: center;
        padding: 31px 28px;
        position: relative;
        color: #9a9a9a;

        > p {
            font-size: 13px;
            font-family: Mirza;
            width: 65px;
            margin: 15px 0 0 0;
        }
    }
}

.sh-thumbnail-97 {
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;

    > i {
        text-align: center;
        font-size: 20px;
        color: #9a9a9a;
        padding: 20px 5px;

        > p {
            width: 65px;
            font-size: 10px;
            margin: 5px 0 0 0;
            font-family: Mirza;
        }
    }
}

input#id_category_name {
    width: 18%;
    margin:0 10px 0 20px;
}

input#id_category_url, #id_category_order {
    width: 25%;
    margin: 0 10px 0 20px;

    &:disabled { background-color: #fbfbfb; }
}

label#id_category_publish_label { margin:0 10px 0 10px; }

select#id_category_publish {
    margin:0 10px 0 20px;
    width: 95px;
}

select#id_category_type {
    margin:0 10px 0 20px;
    width: 135px;
}

.sh-category-url-p { margin: 0 30px 0 0; }

.sh-head-category {

    > * {
    padding-left: 0;
    line-height: 40px;
    }

    > .sh-category-type { margin: 0 30px 0 10px; }

    > a.selectBox-dropdown { width: 135px !important; }
}

.sh-chmodal {
    background-color: #fff;

    > hr {
        background-color:#e3e3e3;
        margin:0 -20px 35px -20px;
        height:1px;
    }
}

/* ---------------------  style for select box plugin ---------------*/

.selectBox-dropdown {
    height: 40px;
    cursor: pointer !important;
    background: #efefef !important;
    border:none !important;

    > span:first-of-type {
        text-align: right;
        float: right;
        color: #666666;
        font-family: "Mirza";
        padding: 9px 8px;
    }

    > span:last-of-type {
        background-color: #ffffff;
        width: 40px;
        right: inherit;
        border-right: solid 1px #efefef;
        border-left: none;
        border-radius: 3px;
        height: 38px;
        top: 1px;
        left: 1px;

        &:focus {
            // border: 1px solid !important;
            // border-color: #4cd964 !important;
            outline: 0;
        }
    }

    &:focus { border-color: #61beb3 !important; }
}

.selectBox-dropdown-menu {
    max-height: 100px;

    > li {
        height: 30px;
        cursor: pointer !important;
    }
}
 .sh-select-publish-unpublish {
    width: 110px !important;
    height: 25px !important;

    > span:first-of-type {
        padding-top: 2px;
        text-align: center;
        float: left;
    }

    > span:last-of-type {
        width: 25px;
        height: 23px;
        right: 0;

        > i {
            position: absolute;
            top: 7px;
            right: 6.5px;
        }
    }
}
/* ---------------------  end of style for select box plugin ---------------*/

.sh-brands {

    > form {
        display: initial;

        > div:first-of-type {
            float: right;
            margin-left: 30px;
        }

        .sbHolder a.sbSelector { height: 38px; }
    }
}

.sh-chmodal-head {

    > a { line-height: 25px; }

    > h3 {
        margin: 0 0 20px 0;
        line-height: 25px;

        > i {
            vertical-align: text-bottom;
            margin-left: 5px;
        }
    }
}

input.update_category_name_name,
#id_update_category_add_subcategory_name {
    width: 82.3%;
    height: 40px;
    margin:8px 10px 20px 0;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #f5f6fb;
    padding:0 5px;
    background-color: #f0f0f0;

    &:focus {
        outline: 0;
        border:1px solid rgb(76, 217, 100);
        width: 82.3%;
        height: 40px;
    }
}

#id_update_subcategory_name_name,
#id_update_category_add_subcategory_name {
    width: 79.3%;

    &:focus { width: 79.3%; }
}

.btn-inp-changname { margin-bottom: 40px; }

#id_add_subcategory_modal {
    z-index: 1;

    > .sh-chmodal { height: 232px; }
}

label.sh-chmodal-txt {
    line-height: 55px;
    font-size: 13px;
    float: right;
}

.sh-trashed-table {

    > thead > tr > th {
        border-bottom: 1px solid #f2f2f2;

        &:nth-child(1) { width: 15px; }

        &:nth-child(2) { width: 125px; }

        &:nth-child(3) { width: 160px; }

        &:nth-child(4) { width: 250px; }

        &:nth-child(5) { width: 100px; }

        &:nth-child(6) { width: 130px; }

        &:last-of-type { width: 185px; }

    }

    > tbody > tr {

        &:nth-child(odd) { background-color: #f0f0f0; }

        > td > input.sh-btn-6 {
            cursor: pointer;
            border:none;

            &:first-of-type {
                background-color: #4cda63;
                margin-left: 5px;

                &:focus, &:hover {
                    outline: 0;
                    background-color: #2dd21e;
                }
            }
        }

        button:first-of-type { margin-left: 5px; }
    }
}

.uk-sortable { list-style: none; }


span.sh-published-yes, span.sh-published-no {
    padding: 6px 10px;
    color: #ffffff;
    line-height: 40px;
    border-radius: 5px;
}

span.sh-published-no { background-color: #BAAF61; }

span.sh-published-yes { background-color: #32c5d2; }

.sh-megamenu-tab {

    > hr:first-of-type { margin:0 -40px 40px -40px; }
}

.sh-title-megamenu {

    p:first-of-type { padding-right: 86px; }

    p:nth-child(2) { margin: 20px 0 0 412px; }

    p:last-of-type { margin: 20px 0 0 76px }
}

.sh-space-title {
    border: 2px solid #dddddd;
    margin: 0 !important;
    clear: both;
}

.sh-sortable-group {
    padding: 0 15px 20px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 30px;
    width: 1098px;

    > li.sh-sortable-group-details {
        padding-left: 0;
        background-color: #f0f0f0;
        height: 42px;
        margin: 20px 0 0 10px;
        border-radius: 5px;
        position: relative;
    }
}

div.sh-mog {
    background-color:#f0f0f0;
    height: 42px;
    border-radius: 5px;

    > i:first-of-type {
        float: right;
        margin:0 5px  0 15px;
        line-height: 40px;
        color: #ffffff;
    }

    > i:last-of-type {
        float: left;
        margin:1px 0 -4px 1px;
        padding: 14px;
        background-color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
    }

    > p:first-of-type {
        margin: 0 ;
        line-height: 40px;
        position: relative;
        top: 0;
        float: right;
    }

    > p:last-of-type {
        color: #f0f0f0;
        position:relative;
        width: 50px;
        float: right;
    }
}

div.sh-number-category {
    float: right;
    color: #999999;
}

div.sh-number-category { margin-left: 30px; }

#sh-edit-head {
    z-index: 0;

    hr:first-of-type {
        background-color:#e3e3e3;
        margin:0 -20px 35px -20px;
    }

    hr { margin:40px -20px; }

    hr:last-of-type { margin:40px -20px 20px; }
}

.sh-subgrp-footer { height: 40px; }

#mCSB_3_container { margin-left: 0; }

ul#id_subgroups_ul { margin: 15px 0; }

.sh-add-newprod {

    > p{ margin: 10px 0 0 10px; }

    .sbHolder { width: 210px; }
}

.sh-added-newprod {
    margin-bottom: 30px;

    > p:last-of-type { font-family: "Mirzab"; }

    .sbHolder{ width: 180px; }
}

.sh-sub-left {
    max-height: 400px;
    margin-top: 30px;

    ul { list-style: none; }

    .mCSB_scrollTools_vertical { left: 615px!important; }

    .mCSB_container {
        margin-right: 80px !important;
        padding-bottom: 90px;
    }

    ul li > div.uk-nestable-panel {
        width: 300px;
        border-radius: 5px;

        i {
            vertical-align: text-top;
            margin-left: 10px;
            color: #ffffff;
        }
    }
}

#id_update_category_delete_subcategory_form {
    border-top: 1px solid #f0f0f0;

    > button {
        margin: 10px;
        position: relative;
        left: -270px;
    }
}

.sh-edit-head {
    background-color: #ffffff;
    width: 1170px;

    > .uk-grid {

        > .uk-width-2-4 {
            width: 39.38%;
            padding-left: 35px;
        }
    }

    > .uk-grid > .uk-width-3-5 {
        width: 57.5%;
        padding: 30px 45px 0 0;
    }
}

.add-color-selected-div {
    background-color: #666 !important;

    span { color: #ffffff; }
}

.sh-addgroup-users {

    > p {
        font-family: "Mirzab";
        font-size: 15px;
    }

    ul { list-style: none; }

    label { margin: 8px 20px 40px 10px; }

    > div:first-of-type > label { float: right; }
}

.sh-bg-publish {
    color: #ffffff !important;
    background-color: #32c5d2 !important;
}

.sh-bg-unpublish {
    color: #ffffff !important;
    background-color: #BAAF61 !important;
}

.sh-adduser-users {

    > p {
        font-family: "Mirzab";
        font-size: 15px;
        margin-bottom: 30px;
    }

    label {
        width: 150px;
        float: right;
        margin: 8px 0 30px 10px;
    }

    ul#id_gender { list-style: none; }

    a.selectBox-dropdown { width: 180px !important; }

}

.add-color-selected-background {
    background-color: #eee !important;
    border-radius: 5px;
    padding: 1px 10px;
}

.uk-nestable-empty{ min-height: 0; }

.sh-add-group {

    .uk-grid-width-1-6 > * { width: auto; }

    > p { margin-bottom: 30px; }
}

.sh-input-edit-megamenu {
    width: 20%;
    height: 38px;
    border-radius: 5px;
    background-color: #f0f0f0;
    outline: 0;
    border: none;
    border: 1px solid #f5f6fb;
    padding: 0 5px;

    &:focus {
        width: 20%;
        height: 38px;
        outline: 0;
        border: 1px solid #61beb3;
    }
}

tbody#products {

    tr {
        white-space: nowrap;
        background-color: #ffffff;
    }
}

.tm-content { background-color: #f2f2f2; }

.sh-crop-dialog {
    background-color: #ffffff;

    > div:first-of-type {

        > i { vertical-align: text-bottom; }
    }

    > div:last-of-type {
        height: 40px !important;
        margin-top: 30px;

        >.uk-form-file {

            &:hover button {
                background-color: #ccc;
                border-color: #ccc;
                color: #ffffff;
            }
        }
    }

    > div:nth-last-of-type(2) { margin-top: 30px; }
}

.sh-navbar-nav > li{

    color: #afb2b7;
    > span {
        margin-right: 5px;
        vertical-align: text-top;
        font-family: "Mirzab";

        > span {
            font-family: "Mirzab";
            font-size: 16px;
            vertical-align: sub;
        }
    }

    > a { cursor: pointer!important; }
}

#general-info {
    margin-bottom: 30px;

    .sbHolder { width: 250px; }

    label { line-height: 30px; }

    div:nth-child(13) {

        > label { line-height: 48px !important; }
    }
}

#form_add_suggested_product {
    margin: 20px 0;

    > input {
        margin-right: 15px;
        width: 94%;
    }

    > input#id_product_name_en { direction: ltr; }
}

#brand {

    >tr > td {

        > p { line-height: 40px; }
    }
}

.sh-advantages {
    width: 50%;

    > label {
        line-height: 40px;
        font-family: "Mirzab";
        font-size: 13px;
    }
}

#advantages, #disadvantages{
    display: table-caption;
    margin-left: 20px;

    > * { margin-bottom: 10px; }

    a {

        > i {
            line-height: 40px;
            margin-right: 10px;
        }
    }
}

#add_advantages, #add_disadvantages {
    line-height: 30px;
    margin-left: 10px;
}

.sh-category-subgroup { margin: 10px 40px 0 0;  }

.sh-dropdown-modal {

    > div.uk-dropdown {
        top: 18px !important;
        left: -37px !important;
        background-color: #ffffff;
        width: 117px;
        padding: 5px;
        margin-top: 10px;

        @include border-radius(10px);

        &:after { @include dropdown-arrow(7px, 51px, #fff, 1); }

        &:before { @include dropdown-arrow(8px, 50px, #eee, 2); }
    }

    ul.uk-nav > li > a {
        text-align: center;
        padding: 2px;
        line-height: 20px;

        @include border-radius(7px);

        &:hover {
            background-color: #f5f6fb;
            color: black;
             }
    }
}

.sh-brands-details {

    > .sh-btn-2 { margin-top: 40px; }

    > hr {

        &:first-of-type { margin: 0 -40px 40px -40px; }
    }
}

.sh-btm-btn {
    height: 40px!important;
    padding: 0;

    > a:first-of-type { margin-right: 10px; }

    > a:last-of-type { float: left; }
}

@include combo-box(135px, 40px, 0 0 0 10px, '.sbHolder');

.sh-edit-brand {
    background: #FFFFFF;
    width: 628px;

    > a { margin: -6px -10px 0 -6px !important; }

    > div:first-of-type {
        height: auto;
        line-height: 45px;
    }

    .sh-btn-2 { font-family: "Mirzab";}

    > .uk-grid > form {
        width: 100%;

        > p {
            float: right;
            line-height: 99px;
            margin:0 0 0 10px;

            &:last-of-type { margin-right: 35px; }
        }

        > .sh-select-picbrand {
            clear: both;

            > p {
                float: right;
                line-height: 40px;
                margin-left: 10px;
            }

            > img {
                margin:0 95px 0 82px;
                height: 40px;
            }

            > div.uk-form-file {
                float: right;

                > button {
                margin-right: 1px;
                font-family: "Mirzab";
                margin-right: 1px;
                }

                &:hover button {
                    background-color: #ffffff;
                    color: #666;
                }
            }
        }

        > #id_fa_name, #id_en_name {
            float: right;
            margin-top: 30px;
        }


        > div:last-of-type {
            padding-left: 15px;
            margin: 20px 0 20px 0;
        }
    }
}
.sh-catgrp {
    float: right;
    clear: both;

    > p {
        line-height: 40px;
        margin-left: 10px;
    }

    > a.selectBox-dropdown:first-of-type {
        width: 210px !important;
        margin-left: 10px;
    }

    > a.selectBox-dropdown {
        width: 210px !important;
        margin: 0;
    }

    > a.sh-btn-2 { margin-right: 75px }
}

.dataTables_length {
    width: 195px;
    margin-right: 40px;

    a.selectBox-dropdown { width: 120px !important; }
}

.sh-comment-table { .uk-comment-title { margin-top: 8px; } }

#send-message {

    .sh-btn-6 { line-height: 40px; }

    img { vertical-align: -13px; }

    textarea { background-color: #f4f6fb; }
}

.sh-brands-table {

    tr > th {

        &:first-of-type { width: 15px; }

        &:nth-child(2) { width: 100px; }

        &:nth-child(3) { width: 150px; }

        &:nth-child(5) { width: 171px; }
    }
}

.sh-brands-pending {

    tr > th {

        &:first-of-type { width: 30px; }

        &:nth-child(2){ width: 125px; }

        &:nth-child(3){ width: 160px; }

        &:nth-child(4){ width: 145px; }

        &:last-of-type {
            text-align: right;
            width: 430px;
        }
    }
}

.sh-allfactors-tables {

    tr > th {

        &:first-of-type { width: 30px; }

        &:nth-child(2){ width: 180px; }

        &:nth-child(3){ width: 100px; }

        &:nth-child(4){ width: 145px; }

        &:nth-child(5){ width: 100px; }

        &:nth-child(6){ width: 385px; }

        &:last-of-type {
            text-align: right;
            width: 275px;
        }
    }
}

.sh-all-product-table {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:nth-child(2) { width: 125px; }

        &:nth-child(3) { width: 160px; }

        &:nth-child(4) { width: 250px; }

        &:nth-child(5) { width: 130px; }

        &:nth-child(6) { width: 80px; }

        &:last-of-type {
            width: 375px;
            text-align: right;
         }

        &:nth-last-of-type(2) { width: 70px; }
    }
}

.sh-add-border-banner {
    border-right: 5px;
    border: 1px solid #efefef;
}

.sh-all-pendingproduct-table {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:nth-child(2) { width: 150px; }

        &:nth-child(3) { width: 100px; }

        &:nth-child(4) { width: 200px; }

        &:nth-child(5) { width: 60px; }

        &:last-of-type {
            width: 210px;
            text-align: right;
         }
     }
}

.sh-bestoffer-alloffer {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:nth-child(2) { width: 160px; }

        &:nth-child(3) { width: 100px; }

        &:nth-child(4) { width: 125px; }

        &:nth-child(5) { width: 235px; }

        &:last-of-type {
            width: 171px;
            text-align: right;
         }
    }
}

.sh-brands-allbrands {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:nth-child(2) { width: 150px; }

        &:nth-child(3) { width: 300px; }

        &:nth-child(4) { width: 125px; }

        // &:nth-child(5) { width: 235px; }

        &:last-of-type {
            width: 171px;
            text-align: right;
         }
    }
}

.sh-sampleform-table {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:nth-child(2) { width: 125px; }

        &:nth-child(3) { width: 100px; }

        &:nth-child(4) { width: 100px; }

        &:last-of-type {
            width: 169px;
            text-align: right;
         }
    }
}

.sh-sampleform-tables {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:last-of-type {
            width: 171px;
            text-align: right;
         }
    }
}

.sh-allsize-table {

    tr > th {

        &:nth-child(1) { width: 30px; }

        &:last-of-type {
            width: 171px;
            text-align: right;
         }
    }
}

.sh-filter-worlds {
    margin-bottom: 5px;

    > a {
        vertical-align: text-bottom;

        > i {
        font-size: 10px;
        margin-left: 5px;
        }
    }
}

#all_gallery { margin-bottom: 35px; }

.sh-add-filter-worlds {
    margin-bottom: 25px;

    > label {vertical-align: text-top;}
}

.sh-flitered-worlds {

    > hr { margin: 0 -40px 40px -40px !important; }
}

.sh-allbrands-table {

    th:first-of-type { padding-right: 20px; }

    th:nth-child(2) {
        padding-right: 0;
    }
}

#all_category_group {
    border-bottom: 1px solid #f2f2f2;

    tr {
        border-bottom: none;

        > td {
            padding: 0;
            background-color: #ffffff;

            &:first-of-type {

                > div {
                    padding-right: 20px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

            &:last-of-type {
                text-align: left;

                > div {
                    padding-left: 20px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;

                    > a { vertical-align: 1px; }
                 }
             }

            div {
                margin: 5.5px 0;
                background-color: #f2f2f2;
                line-height: 40px;
            }
        }
    }
}

.sh-comment-none-exist { float: left; }

.gallery_image {

    > a > img { border-radius: 5px; }
}

.sh-add-newrecord-form { margin: 40px 0 }

.sh-addmanage-video,
.sh-create-newproduct-tab,
#id_discount_maker,
#id_virtual_reality,
.sh-allsize-table,
.sh-sampleform-table,
.sh-sampleform-tables,
.sh-brands-table,
.sh-bestoffer-alloffer,
.sh-brands-allbrands,
.sh-users-tables,
.sh-allstickers-table,
.sh-advantages-disadvantages { margin-bottom: 30px; }

.sh-confirm-modal {
    text-align: center;
    padding: 24px 0 12px;

    > i {
        margin-left: 7px;
        vertical-align: sub;
        color: #ffb528;
        font-size: 18px;
    }
}

.sh-confirm-modal-footer a {
    background-color: #fff;
    width: 150px;
    border-top: 1px solid #eee;
    padding: 10px 0;
    font-weight: bold;
}

.sh-confirm-modal-footer a.js-modal-confirm-cancel {
    border-left: 1px solid #eee;
    border-bottom-right-radius: 15px;

    &:hover {background-color: #eceff4; }
}

.sh-confirm-modal-footer a.js-modal-confirm {
    border-bottom-left-radius: 15px;

    &:hover {
        background-color: #4897BE;
        color: #fff;
    }
}

.dash-addsticker {

    a.selectBox-dropdown { width: 135px !important; }

    label { vertical-align: text-top; }

    > .tm-panel-footer { margin-top: 30px !important; }
}

#products td.sh-operations {

    button:last-of-type { margin-right: 5px; }
    button:nth-last-of-type(2) { margin-right: 5px; }
}

.sh-operations {

    button:last-of-type { margin-left: 20px; }
}

.sh-table-panel {
    width: 95%;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    margin: 0 20px;
    padding-left: 0;

    &:first-of-type { margin-top: 10px; }


    > .uk-panel-box { padding: 0 20px 0 0; }
}

.uk-sortable-dragged {

    > .uk-panel {
        padding: 0;
        border-bottom: 1px solid #dddddd;

        > .sh-megatable-right { margin: 9px 10px 0 0; }

        > .sh-operations { margin-top: 5px; }
    }
}

.sh-megatable-right { margin-top: 3px; }

.sh-txtcategory-published { margin: -6px 0 0 40px; }

.dash-addsticker-details {

    > div:first-of-type {
        float: right;
        margin-top: 40px;
    }

    img {
        width: 50px;
        height: 50px;
        margin-top: 30px;
    }
}

#add_group {
    margin:0 20px 20px 0;

    &:disabled {

        &:hover {
            background-color: #efefef;
            color: #777;
        }
    }
}

#tblData {

    td,th { .uk-width-1-2 { width: 48% } }

    th {

        input {
            line-height: 0;
            height: 20px;
            width: 150px;

            &:first-of-type { margin-left: 5px; }
        }
    }
}

.btnEditCol { margin-left: 5px; }

a.btnSaveCol {
    margin-right: 5px;
    color: #04ce9c;

    > i {
        font-size: 20px;
        font-weight: bolder;
    }
}

.sh-edit-group-subgroup { max-height: 200px; }

 .sh-pos-rel {
    position: relative;
    margin-top: 10px;
    cursor: pointer;

    &:focus { background-color: red; }
 }

 #size-check-box {

    input, label {
        line-height: 7px;
        margin-left: 10px;
    }

    input {
        vertical-align: text-bottom;
        margin-left: 10px;
    }
}

.btnDeleteCol, .btnEditCol {
    float: left;

     i { margin-left: 0 !important; }
}

 .btnDeleteCol { margin-left: 20px; }

 .btnDeleteCo { margin-left: 20px; }

 .sh-colname-sizetab {
    float: right;
    padding-right: 20px;
}

 .btnDelete {
    vertical-align: text-bottom;
    margin-right: 10px;
}

.sh-bestoffer-search, #amazing_offer_form {

    label {
        vertical-align: text-top;
        margin-left: 10px;
    }
}

.sh-bestoffer-search { margin-bottom: 30px; }

#amazing_offer_form {
    margin-bottom: 30px;

    button {margin: 0 15px; }
}

button#create_product, button#add_group_to_size {

    &:disabled {

        &:hover {
            background-color: #f0f0f0 !important;
            color: #666;
        }
    }
}

.sh-result-search { img { border-radius: 5px; } }

.sh-add-amzingoffer-banner {
    margin-bottom: 30px;
    width: 709px;
    height: 239px;
    border-radius: 5px;

    > img {
        width: inherit;
        height: inherit;
    }

    > i {
        transform:rotate(90deg);
        position: relative;
        right: 260px;
        bottom: 200px;
        color: #f0f0f0;
        font-size: 160px;
    }
}

.dash-details-products {
    padding-top: 15px;

    ul {
        list-style: none;

        li { clear: both; }
    }

    p {
        color: #9a9a9a;
        font-family: Mirzab;
        font-size: 12px;
        float: right;
    }

    label { margin-right: 10px; }
}

.sh-published-light {
    background-color: #32c5d2;
    font-size: 13px;
    padding: 0 7px;
    border-radius: 50%;
    margin-left: 5px;
}

.sh-unpublished-light{
    background-color: #BAAF61;
    font-size: 13px;
    padding: 0 7px;
    border-radius: 50%;
    margin-left: 5px;
}
@include combo-box(100%, 23px, 0 0 0 7px, ".kh");

ul#id_visible_templatetags > li > label{
    & > input { vertical-align: sub; }
}

.sh-badge-warning { background-color: #BAAF61;}
.sh-badge-success { background-color: #32c5d2;}
