/*=========================================
=            Navigation Codes.            =
=========================================*/

nav.sh-navbar {
    min-height: 46px;
    height: 46px;
    background: #4276A4;
    padding: 0 10px;
}

ul.tm-aside-nav > li:first-child { max-height: 44px; }

ul.sh-navbar-nav {
    li {
        img {
            height: 29px;
            width: 29px;
        }
        a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            border: 1px solid #eee;
            text-align: center;
            font-size: 16px;
            margin-right: 15px;

            @include border-radius(5px);

            &:hover {
                background-color: #eee;
                border-color: #eee;
                color: #777;
            }
        }
    }
}

.sh-search {

    input[type="text"] {
        width: 400px;
        background-color: #fff;
        border-color: #eee;
        margin-right: 35px;
        height: 40px;
        line-height: 40px;
        padding: 5px 5px 5px 40px;
    }

    &:before {
        width: 40px;
        line-height: 40px;
    }
}
