/*======================================
=            Register Code.            =
======================================*/
/* Comapss */
/* Settings */
/*======================================
=            Setting Codes.            =
======================================*/
/* Mixin */
/*====================================
=            Mixin Codes.            =
====================================*/
/* Mixin */
/*====================================
=            Fonts Codes.            =
====================================*/
@font-face {
  font-family: Mirza;
  src: url("../fonts/mirza/Mirza.woff") format("woff"), url("../fonts/mirza/Mirza.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Mirzab;
  src: url("../fonts/mirza/Mirza-Bold.woff") format("woff"), url("../fonts/mirza/Mirza-Bold.ttf") format("truetype");
  font-weight: normal;
}

.sh-navbar {
  border-bottom: 1px solid #f4f4f4;
}

.sh-navbar-nav > li > a {
  height: 55px;
  line-height: 55px;
}
.sh-navbar-nav > li.uk-parent > a {
  font-size: 19px;
}
.sh-navbar-nav > li:nth-child(2) > a:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  background: #2E3192;
  height: 3px;
}

.sh-dropdown-toggle {
  margin-top: -5px;
  border-color: #e4e4e4;
}
.sh-dropdown-toggle:after {
  content: "";
  position: absolute;
  top: -6px;
  right: 18px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
}
.sh-dropdown-toggle:before {
  content: "";
  position: absolute;
  top: -8px;
  right: 17px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #e4e4e4;
}

.sh-nav-dropdown-toggle > li > a i {
  font-size: 32px;
  line-height: 40px;
}
.sh-nav-dropdown-toggle > li > a > dl.uk-description-list-line {
  margin: 0 50px 0 0;
}
.sh-nav-dropdown-toggle > li > a > dl.uk-description-list-line dt {
  font-family: "Mirzab";
  font-size: 15px;
  font-weight: bold;
}
.sh-nav-dropdown-toggle > li > a:hover {
  color: #444;
}
.sh-nav-dropdown-toggle > li > a:hover dd {
  color: #444;
}
.sh-nav-dropdown-toggle > li:first-child > a > i {
  color: #04cf9a;
}
.sh-nav-dropdown-toggle > li:nth-child(2) > a > i {
  color: #35a9da;
}
.sh-nav-dropdown-toggle > li:nth-child(3) > a > i {
  color: #ff5454;
}
.sh-nav-dropdown-toggle > li:last-child > a {
  background: #f5f5f5;
  margin: 10px -10px -10px -10px;
  padding: 20px 23px;
  border-top: 1px solid #f0f0f0;
}
.sh-nav-dropdown-toggle > li:last-child > a:hover {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.sh-panel-left {
  padding-top: 40px;
}
.sh-panel-left i {
  font-size: 57px;
  color: #DE5354;
}
.sh-panel-left p, .sh-panel-left div {
  color: #848484;
}
.sh-panel-left p {
  margin: 0 0 15px 0;
}

.sh-btn-1 {
  min-height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 195px;
  font-family: "Mirzab";
  font-size: 17px;
  font-weight: bold;
}
.sh-btn-1:hover {
  color: #fff;
  background: #DE5354;
}
.sh-btn-1:focus {
  color: #fff;
  background: #DE5354;
  border-color: #DE5354;
}
.sh-btn-1:active {
  color: #fff;
  background: #DE5354;
  border-color: #DE5354;
}
.sh-btn-1 > i {
  vertical-align: -20%;
}

.sh-btn-2 {
  min-height: 35px;
  line-height: 35px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 5px;
  padding: 0;
  width: 100%;
}
.sh-btn-2:hover {
  color: #fff;
  background: #4cda64;
}
.sh-btn-2:focus {
  color: #fff;
  background: #4cda64;
  border-color: #4cda64;
}
.sh-btn-2:active {
  color: #fff;
  background: #4cda64;
  border-color: #4cda64;
}
.sh-btn-2 > i {
  vertical-align: -20%;
}
.sh-btn-2 i {
  margin-left: 5px;
  font-size: 18px;
  vertical-align: sub;
}

.sh-btn-3 {
  min-height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 220px;
  font-family: "Mirzab";
  font-size: 20px;
  font-weight: bold;
  padding: 0 9px;
  margin-top: 30px;
}
.sh-btn-3:hover {
  color: #fff;
  background: #32AADC;
}
.sh-btn-3:focus {
  color: #fff;
  background: #32AADC;
  border-color: #32AADC;
}
.sh-btn-3:active {
  color: #fff;
  background: #32AADC;
  border-color: #32AADC;
}
.sh-btn-3 > i {
  vertical-align: -20%;
}

.sh-btn-4 {
  min-height: 40px;
  line-height: 40px;
  background: #4cda64;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sh-btn-4:hover {
  color: #fff;
  background: #37C54F;
}
.sh-btn-4:focus {
  color: #fff;
  background: #37C54F;
}
.sh-btn-4:active {
  color: #fff;
  background: #37C54F;
}
.sh-btn-4 > i {
  vertical-align: -20%;
}
.sh-btn-4 i {
  margin-left: 5px;
  font-size: 14px;
}

.sh-btn-5 {
  min-height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.sh-btn-5:hover {
  color: #fff;
  background: #ccc;
}
.sh-btn-5:focus {
  color: #fff;
  background: #ccc;
  border-color: #ccc;
}
.sh-btn-5:active {
  color: #fff;
  background: #ccc;
  border-color: #ccc;
}
.sh-btn-5 > i {
  vertical-align: -20%;
}
.sh-btn-5 i {
  margin-left: 5px;
  font-size: 14px;
}

.sh-btn-6 {
  min-height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 13px;
}
.sh-btn-6:hover {
  color: #fff;
  background: #4cda64;
}
.sh-btn-6:focus {
  color: #fff;
  background: #4cda64;
  border-color: #4cda64;
}
.sh-btn-6:active {
  color: #fff;
  background: #4cda64;
  border-color: #4cda64;
}
.sh-btn-6 > i {
  vertical-align: -20%;
}
.sh-btn-6 i {
  margin-left: 5px;
  font-size: 24px;
}

hr {
  border-color: #f4f4f4;
}
hr#sh-divider-1 {
  margin: 24px 0 18px 0;
}
hr#sh-divider-2 {
  margin: 15px 0 30px 0;
}

.sh-panel-right {
  padding-top: 20px;
}
.sh-panel-right h5 i {
  color: #32aadc;
  margin-left: 5px;
}

.sh-panel-image {
  width: 97px;
  float: right;
  position: absolute;
}
.sh-panel-image img {
  width: 97px;
  height: 97px;
}

.sh-form-box {
  margin-right: 141px;
}
.sh-form-box h2 {
  font-family: "Mirzab";
  font-weight: bold;
}
.sh-form-box > p {
  margin-bottom: 37px;
}
.sh-form-box > p i {
  color: #32AADC;
  font-size: 6px;
  margin-left: 9px;
}

.sh-form-register input[type="text"],
.sh-form-register input[type="email"],
.sh-form-register input[type="password"] {
  height: 25px;
}

.uk-form-horizontal .uk-form-label {
  width: 88px;
  margin-top: 3px;
}

.uk-form-horizontal .uk-form-controls {
  margin-right: 88px;
}

.sh-grid-main {
  margin-top: 31px;
  padding: 0 45px;
}
.sh-grid-main .uk-width-1-4 {
  width: 306px;
  border-left: 1px solid #f4f4f4;
  padding-left: 47px;
  margin-left: 64px;
}
.sh-grid-main .uk-width-3-4 {
  width: 730px;
}

#id_gender {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}
#id_gender li {
  float: right;
}
#id_gender li:last-child {
  margin-right: 30px;
}

.uk-form-row + .uk-form-row {
  margin-top: 20px;
}

div.sh-form-panel-bottom p {
  margin: 22px 0;
}
div.sh-form-panel-bottom img.captcha {
  width: 55px;
  height: 25px;
  float: right;
}
div.sh-form-panel-bottom input[type="text"] {
  width: 90px;
  margin: 0 8px;
  text-align: center;
}
div.sh-form-panel-bottom i {
  color: #32AADC;
  margin-left: 5px;
}

.sbHolder {
  width: 69px;
  margin: 0 0 0 7px;
  float: right;
  outline: none;
  position: relative;
}
.sbHolder:focus a.sbSelector {
  border-color: #4cd964;
}
.sbHolder:last-child {
  margin-left: 0;
}
.sbHolder a.sbToggle {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  display: block;
  width: 23px;
  text-align: center;
  line-height: 24px;
  font-size: 10px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sbHolder a.sbSelector {
  background: #EFEFEF;
  color: #999;
  display: block;
  height: 23px;
  line-height: 23px;
  text-indent: 5px;
  border: 1px solid #EFEFEF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sbHolder ul.sbOptions {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #EFEFEF;
  padding: 5px;
  margin: 5px 0 0;
  background-color: #fff;
  max-height: 200px !important;
  z-index: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.sbHolder ul.sbOptions li > a {
  display: block;
  padding: 0 5px;
}
.sbHolder ul.sbOptions li > a:hover {
  color: #999;
  background-color: #f5f6fb;
}

.sbHolderDisabled a {
  cursor: default;
}
.sbHolderDisabled a.sbSelector {
  background-color: #F3F2F7;
  border-color: #F3F2F7;
  color: #cecdd2;
}
.sbHolderDisabled a.sbToggle {
  color: #b7b8bc;
}

#sh-date > label {
  width: 55px;
  margin-top: 3px;
}
#sh-date > div {
  margin-right: 55px;
}

.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  margin-left: 15px !important;
}

div.sh-crop-dialog {
  width: 640px;
  min-height: 640px;
}
div.sh-crop-dialog > div.uk-modal-header {
  margin-bottom: 30px;
}
div.sh-crop-dialog > div.uk-modal-header i {
  font-size: 14px;
}
div.sh-crop-dialog > div.uk-modal-footer {
  margin-top: 30px;
}

p#sh-info {
  color: #999;
  margin-bottom: 25px;
}
p#sh-info > i {
  color: #ffb426;
  font-style: 13px;
  margin-left: 5px;
}

div.tm-img-container {
  width: 350px;
  height: 455px;
  position: relative;
}
div.tm-img-container > i.panda-warning {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -38px;
  font-size: 76px;
  color: #f0f0f0;
}
