/*====================================
=            Style Codes.            =
====================================*/
/* Compass */
/* Bourbon */
/* Settings */
/*======================================
=            Setting Codes.            =
======================================*/
/*====================================
=            Mixin Codes.            =
====================================*/
/* Fonts */
/*====================================
=            Fonts Codes.            =
====================================*/
@font-face {
    font-family: Mirza;
    src: url("../fonts/mirza/Mirza.woff") format("woff"), url("../fonts/mirza/Mirza.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: Mirzab;
    src: url("../fonts/mirza/Mirza-Bold.woff") format("woff"), url("../fonts/mirza/Mirza-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "calibri";
    src: url("../fonts/Calibri/Calibri.eot");
    src: url("../fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri.woff") format("woff"), url("../fonts/Calibri/Calibri.ttf") format("truetype"), url("../fonts/Calibri/Calibri.svg#shopwebfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panda';
    src: url("../fonts/panda/panda.eot?6g9uxh");
    src: url("../fonts/panda/panda.eot?6g9uxh#iefix") format("embedded-opentype"), url("../fonts/panda/panda.ttf?6g9uxh") format("truetype"), url("../fonts/panda/panda.woff?6g9uxh") format("woff"), url("../fonts/panda/panda.svg?6g9uxh#panda") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class*="panda-"] {
    font-family: "panda" !important;
    display: inline-block;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

.panda-svg:before {
    content: "\e90a";
}

.panda-codepen:before {
    content: "\e90b";
}

.panda-git:before {
    content: "\e90c";
}

.panda-css3:before {
    content: "\e90d";
}

.panda-html-five2:before {
    content: "\e90e";
}

.panda-html-five:before {
    content: "\e90f";
}

.panda-libreoffice:before {
    content: "\e910";
}

.panda-file-excel:before {
    content: "\e911";
}

.panda-file-word:before {
    content: "\e912";
}

.panda-file-openoffice:before {
    content: "\e913";
}

.panda-file-pdf:before {
    content: "\e914";
}

.panda-opera:before {
    content: "\e915";
}

.panda-safari:before {
    content: "\e916";
}

.panda-edge:before {
    content: "\e917";
}

.panda-IE:before {
    content: "\e918";
}

.panda-firefox:before {
    content: "\e919";
}

.panda-chrome:before {
    content: "\e91a";
}

.panda-paypal:before {
    content: "\e91b";
}

.panda-yelp:before {
    content: "\e91c";
}

.panda-foursquare:before {
    content: "\e91d";
}

.panda-flattr:before {
    content: "\e91e";
}

.panda-xing2:before {
    content: "\e91f";
}

.panda-xing:before {
    content: "\e920";
}

.panda-pinterest2:before {
    content: "\e921";
}

.panda-pinterest:before {
    content: "\e922";
}

.panda-stackoverflow:before {
    content: "\e923";
}

.panda-stumbleupon2:before {
    content: "\e924";
}

.panda-stumbleupon:before {
    content: "\e925";
}

.panda-delicious:before {
    content: "\e926";
}

.panda-lastfm2:before {
    content: "\e927";
}

.panda-lastfm:before {
    content: "\e928";
}

.panda-linkedin2:before {
    content: "\e929";
}

.panda-linkedin:before {
    content: "\e92a";
}

.panda-wikipedia:before {
    content: "\e92b";
}

.panda-hackernews:before {
    content: "\e92c";
}

.panda-reddit:before {
    content: "\e92d";
}

.panda-skype:before {
    content: "\e92e";
}

.panda-soundcloud2:before {
    content: "\e92f";
}

.panda-soundcloud:before {
    content: "\e930";
}

.panda-windows8:before {
    content: "\e931";
}

.panda-windows:before {
    content: "\e932";
}

.panda-android:before {
    content: "\e933";
}

.panda-finder:before {
    content: "\e934";
}

.panda-appleinc:before {
    content: "\e935";
}

.panda-tux:before {
    content: "\e936";
}

.panda-yahoo2:before {
    content: "\e937";
}

.panda-yahoo:before {
    content: "\e938";
}

.panda-tumblr2:before {
    content: "\e939";
}

.panda-tumblr:before {
    content: "\e93a";
}

.panda-blogger2:before {
    content: "\e93b";
}

.panda-blogger:before {
    content: "\e93c";
}

.panda-ello:before {
    content: "\e93d";
}

.panda-joomla:before {
    content: "\e93e";
}

.panda-wordpress:before {
    content: "\e93f";
}

.panda-trello:before {
    content: "\e940";
}

.panda-basecamp:before {
    content: "\e941";
}

.panda-npm:before {
    content: "\e942";
}

.panda-github:before {
    content: "\e943";
}

.panda-onedrive:before {
    content: "\e944";
}

.panda-dropbox:before {
    content: "\e945";
}

.panda-steam2:before {
    content: "\e946";
}

.panda-steam:before {
    content: "\e947";
}

.panda-500px:before {
    content: "\e948";
}

.panda-deviantart:before {
    content: "\e949";
}

.panda-behance2:before {
    content: "\e94a";
}

.panda-behance:before {
    content: "\e94b";
}

.panda-dribbble:before {
    content: "\e94c";
}

.panda-flickr4:before {
    content: "\e94d";
}

.panda-flickr3:before {
    content: "\e94e";
}

.panda-flickr2:before {
    content: "\e94f";
}

.panda-flickr:before {
    content: "\e950";
}

.panda-lanyrd:before {
    content: "\e951";
}

.panda-vimeo2:before {
    content: "\e952";
}

.panda-vimeo:before {
    content: "\e953";
}

.panda-twitch:before {
    content: "\e954";
}

.panda-youtube2:before {
    content: "\e955";
}

.panda-youtube:before {
    content: "\e956";
}

.panda-rss2:before {
    content: "\e957";
}

.panda-rss:before {
    content: "\e958";
}

.panda-sina-weibo:before {
    content: "\e959";
}

.panda-renren:before {
    content: "\e95a";
}

.panda-vk:before {
    content: "\e95b";
}

.panda-vine:before {
    content: "\e95c";
}

.panda-twitter:before {
    content: "\e95d";
}

.panda-telegram:before {
    content: "\e95e";
}

.panda-spotify:before {
    content: "\e95f";
}

.panda-whatsapp:before {
    content: "\e960";
}

.panda-instagram:before {
    content: "\e961";
}

.panda-facebook2:before {
    content: "\e962";
}

.panda-facebook:before {
    content: "\e963";
}

.panda-google-drive:before {
    content: "\e964";
}

.panda-hangouts:before {
    content: "\e965";
}

.panda-google-plus3:before {
    content: "\e966";
}

.panda-google-plus2:before {
    content: "\e967";
}

.panda-google-plus:before {
    content: "\e968";
}

.panda-google3:before {
    content: "\e969";
}

.panda-google2:before {
    content: "\e96a";
}

.panda-google:before {
    content: "\e96b";
}

.panda-amazon:before {
    content: "\e96c";
}

.panda-mail4:before {
    content: "\e96d";
}

.panda-mail3:before {
    content: "\e96e";
}

.panda-mail2:before {
    content: "\e96f";
}

.panda-mail:before {
    content: "\e970";
}

.panda-share2:before {
    content: "\e971";
}

.panda-terminal:before {
    content: "\e972";
}

.panda-embed2:before {
    content: "\e973";
}

.panda-embed:before {
    content: "\e974";
}

.panda-new-tab:before {
    content: "\e975";
}

.panda-share:before {
    content: "\e976";
}

.panda-indent-decrease:before {
    content: "\e977";
}

.panda-indent-increase:before {
    content: "\e978";
}

.panda-paragraph-justify:before {
    content: "\e979";
}

.panda-paragraph-right:before {
    content: "\e97a";
}

.panda-paragraph-center:before {
    content: "\e97b";
}

.panda-paragraph-left:before {
    content: "\e97c";
}

.panda-section:before {
    content: "\e97d";
}

.panda-rtl:before {
    content: "\e97e";
}

.panda-ltr:before {
    content: "\e97f";
}

.panda-pilcrow:before {
    content: "\e980";
}

.panda-insert-template:before {
    content: "\e981";
}

.panda-table2:before {
    content: "\e982";
}

.panda-table:before {
    content: "\e983";
}

.panda-clear-formatting:before {
    content: "\e984";
}

.panda-pagebreak:before {
    content: "\e985";
}

.panda-text-color:before {
    content: "\e986";
}

.panda-subscript2:before {
    content: "\e987";
}

.panda-superscript2:before {
    content: "\e988";
}

.panda-subscript:before {
    content: "\e989";
}

.panda-superscript:before {
    content: "\e98a";
}

.panda-page-break:before {
    content: "\e98b";
}

.panda-sigma:before {
    content: "\e98c";
}

.panda-omega:before {
    content: "\e98d";
}

.panda-strikethrough:before {
    content: "\e98e";
}

.panda-italic:before {
    content: "\e98f";
}

.panda-underline:before {
    content: "\e990";
}

.panda-bold:before {
    content: "\e991";
}

.panda-font-size:before {
    content: "\e992";
}

.panda-text-width:before {
    content: "\e993";
}

.panda-text-height:before {
    content: "\e994";
}

.panda-ligature2:before {
    content: "\e995";
}

.panda-ligature:before {
    content: "\e996";
}

.panda-font:before {
    content: "\e997";
}

.panda-filter:before {
    content: "\e998";
}

.panda-scissors:before {
    content: "\e999";
}

.panda-ungroup:before {
    content: "\e99a";
}

.panda-make-group:before {
    content: "\e99b";
}

.panda-crop:before {
    content: "\e99c";
}

.panda-radio-unchecked:before {
    content: "\e99d";
}

.panda-radio-checked2:before {
    content: "\e99e";
}

.panda-radio-checked:before {
    content: "\e99f";
}

.panda-checkbox-unchecked:before {
    content: "\e9a0";
}

.panda-checkbox-checked:before {
    content: "\e9a1";
}

.panda-opt:before {
    content: "\e9a2";
}

.panda-ctrl:before {
    content: "\e9a3";
}

.panda-shift:before {
    content: "\e9a4";
}

.panda-command:before {
    content: "\e9a5";
}

.panda-sort-amount-desc:before {
    content: "\e9a6";
}

.panda-sort-amount-asc:before {
    content: "\e9a7";
}

.panda-sort-numberic-desc:before {
    content: "\e9a8";
}

.panda-sort-numeric-asc:before {
    content: "\e9a9";
}

.panda-sort-alpha-desc:before {
    content: "\e9aa";
}

.panda-sort-alpha-asc:before {
    content: "\e9ab";
}

.panda-move-down:before {
    content: "\e9ac";
}

.panda-move-up:before {
    content: "\e9ad";
}

.panda-tab:before {
    content: "\e9ae";
}

.panda-circle-left:before {
    content: "\e9af";
}

.panda-circle-down:before {
    content: "\e9b0";
}

.panda-circle-right:before {
    content: "\e9b1";
}

.panda-circle-up:before {
    content: "\e9b2";
}

.panda-arrow-left2:before {
    content: "\e9b3";
}

.panda-arrow-down-left2:before {
    content: "\e9b4";
}

.panda-arrow-down2:before {
    content: "\e9b5";
}

.panda-arrow-down-right2:before {
    content: "\e9b6";
}

.panda-arrow-right2:before {
    content: "\e9b7";
}

.panda-arrow-up-right2:before {
    content: "\e9b8";
}

.panda-arrow-up2:before {
    content: "\e9b9";
}

.panda-arrow-up-left2:before {
    content: "\e9ba";
}

.panda-arrow-left:before {
    content: "\e9bb";
}

.panda-arrow-down-left:before {
    content: "\e9bc";
}

.panda-arrow-down:before {
    content: "\e9bd";
}

.panda-arrow-down-right:before {
    content: "\e9be";
}

.panda-arrow-right:before {
    content: "\e9bf";
}

.panda-arrow-up-right:before {
    content: "\e9c0";
}

.panda-arrow-up:before {
    content: "\e9c1";
}

.panda-arrow-up-left:before {
    content: "\e9c2";
}

.panda-shuffle:before {
    content: "\e9c3";
}

.panda-infinite:before {
    content: "\e9c4";
}

.panda-loop2:before {
    content: "\e9c5";
}

.panda-loop:before {
    content: "\e9c6";
}

.panda-volume-decrease:before {
    content: "\e9c7";
}

.panda-volume-increase:before {
    content: "\e9c8";
}

.panda-volume-mute2:before {
    content: "\e9c9";
}

.panda-volume-mute:before {
    content: "\e9ca";
}

.panda-volume-low:before {
    content: "\e9cb";
}

.panda-volume-medium:before {
    content: "\e9cc";
}

.panda-volume-high:before {
    content: "\e9cd";
}

.panda-eject:before {
    content: "\e9ce";
}

.panda-next2:before {
    content: "\e9cf";
}

.panda-previous2:before {
    content: "\e9d0";
}

.panda-last:before {
    content: "\e9d1";
}

.panda-first:before {
    content: "\e9d2";
}

.panda-forward3:before {
    content: "\e9d3";
}

.panda-backward2:before {
    content: "\e9d4";
}

.panda-stop2:before {
    content: "\e9d5";
}

.panda-pause2:before {
    content: "\e9d6";
}

.panda-play3:before {
    content: "\e9d7";
}

.panda-forward2:before {
    content: "\e9d8";
}

.panda-backward:before {
    content: "\e9d9";
}

.panda-next:before {
    content: "\e9da";
}

.panda-previous:before {
    content: "\e9db";
}

.panda-stop:before {
    content: "\e9dc";
}

.panda-pause:before {
    content: "\e9dd";
}

.panda-play2:before {
    content: "\e9de";
}

.panda-exit:before {
    content: "\e9df";
}

.panda-enter:before {
    content: "\e9e0";
}

.panda-spell-check:before {
    content: "\e9e1";
}

.panda-checkmark2:before {
    content: "\e9e2";
}

.panda-checkmark:before {
    content: "\e9e3";
}

.panda-cross:before {
    content: "\e9e4";
}

.panda-blocked:before {
    content: "\e9e5";
}

.panda-cancel-circle:before {
    content: "\e9e6";
}

.panda-info:before {
    content: "\e9e7";
}

.panda-minus:before {
    content: "\e9e8";
}

.panda-plus:before {
    content: "\e9e9";
}

.panda-question:before {
    content: "\e9ea";
}

.panda-notification:before {
    content: "\e9eb";
}

.panda-warning:before {
    content: "\e9ec";
}

.panda-point-left:before {
    content: "\e9ed";
}

.panda-point-down:before {
    content: "\e9ee";
}

.panda-point-right:before {
    content: "\e9ef";
}

.panda-point-up:before {
    content: "\e9f0";
}

.panda-crying2:before {
    content: "\e9f1";
}

.panda-crying:before {
    content: "\e9f2";
}

.panda-frustrated2:before {
    content: "\e9f3";
}

.panda-frustrated:before {
    content: "\e9f4";
}

.panda-sleepy2:before {
    content: "\e9f5";
}

.panda-sleepy:before {
    content: "\e9f6";
}

.panda-wondering2:before {
    content: "\e9f7";
}

.panda-wondering:before {
    content: "\e9f8";
}

.panda-hipster2:before {
    content: "\e9f9";
}

.panda-hipster:before {
    content: "\e9fa";
}

.panda-neutral2:before {
    content: "\e9fb";
}

.panda-neutral:before {
    content: "\e9fc";
}

.panda-confused2:before {
    content: "\e9fd";
}

.panda-confused:before {
    content: "\e9fe";
}

.panda-baffled2:before {
    content: "\e9ff";
}

.panda-baffled:before {
    content: "\ea00";
}

.panda-shocked2:before {
    content: "\ea01";
}

.panda-shocked:before {
    content: "\ea02";
}

.panda-evil2:before {
    content: "\ea03";
}

.panda-evil:before {
    content: "\ea04";
}

.panda-angry2:before {
    content: "\ea05";
}

.panda-angry:before {
    content: "\ea06";
}

.panda-cool2:before {
    content: "\ea07";
}

.panda-cool:before {
    content: "\ea08";
}

.panda-grin2:before {
    content: "\ea09";
}

.panda-grin:before {
    content: "\ea0a";
}

.panda-wink2:before {
    content: "\ea0b";
}

.panda-wink:before {
    content: "\ea0c";
}

.panda-sad2:before {
    content: "\ea0d";
}

.panda-sad:before {
    content: "\ea0e";
}

.panda-tongue2:before {
    content: "\ea0f";
}

.panda-tongue:before {
    content: "\ea10";
}

.panda-smile2:before {
    content: "\ea11";
}

.panda-smile:before {
    content: "\ea12";
}

.panda-happy2:before {
    content: "\ea13";
}

.panda-happy:before {
    content: "\ea14";
}

.panda-man-woman:before {
    content: "\ea15";
}

.panda-woman:before {
    content: "\ea16";
}

.panda-man:before {
    content: "\ea17";
}

.panda-heart-broken:before {
    content: "\ea18";
}

.panda-heart:before {
    content: "\ea19";
}

.panda-star-full:before {
    content: "\ea1a";
}

.panda-star-half:before {
    content: "\ea1b";
}

.panda-star-empty:before {
    content: "\ea1c";
}

.panda-brightness-contrast:before {
    content: "\ea1d";
}

.panda-contrast:before {
    content: "\ea1e";
}

.panda-sun:before {
    content: "\ea1f";
}

.panda-bookmarks:before {
    content: "\ea20";
}

.panda-bookmark:before {
    content: "\ea21";
}

.panda-eye-blocked:before {
    content: "\ea22";
}

.panda-eye-minus:before {
    content: "\ea23";
}

.panda-eye-plus:before {
    content: "\ea24";
}

.panda-eye:before {
    content: "\ea25";
}

.panda-attachment:before {
    content: "\ea26";
}

.panda-flag:before {
    content: "\ea27";
}

.panda-link:before {
    content: "\ea28";
}

.panda-earth:before {
    content: "\ea29";
}

.panda-sphere:before {
    content: "\ea2a";
}

.panda-upload3:before {
    content: "\ea2b";
}

.panda-download3:before {
    content: "\ea2c";
}

.panda-upload2:before {
    content: "\ea2d";
}

.panda-download2:before {
    content: "\ea2e";
}

.panda-cloud-check:before {
    content: "\ea2f";
}

.panda-cloud-upload:before {
    content: "\ea30";
}

.panda-cloud-download:before {
    content: "\ea31";
}

.panda-cloud:before {
    content: "\ea32";
}

.panda-menu4:before {
    content: "\ea33";
}

.panda-menu3:before {
    content: "\ea34";
}

.panda-menu2:before {
    content: "\ea35";
}

.panda-menu:before {
    content: "\ea36";
}

.panda-tree:before {
    content: "\ea37";
}

.panda-list2:before {
    content: "\ea38";
}

.panda-list:before {
    content: "\ea39";
}

.panda-list-numbered:before {
    content: "\ea3a";
}

.panda-clipboard:before {
    content: "\ea3b";
}

.panda-power-cord:before {
    content: "\ea3c";
}

.panda-switch:before {
    content: "\ea3d";
}

.panda-power:before {
    content: "\ea3e";
}

.panda-shield:before {
    content: "\ea3f";
}

.panda-target:before {
    content: "\ea40";
}

.panda-accessibility:before {
    content: "\ea41";
}

.panda-road:before {
    content: "\ea42";
}

.panda-truck:before {
    content: "\ea43";
}

.panda-airplane:before {
    content: "\ea44";
}

.panda-briefcase:before {
    content: "\ea45";
}

.panda-bin2:before {
    content: "\ea46";
}

.panda-bin:before {
    content: "\ea47";
}

.panda-magnet:before {
    content: "\ea48";
}

.panda-lab:before {
    content: "\ea49";
}

.panda-fire:before {
    content: "\ea4a";
}

.panda-hammer2:before {
    content: "\ea4b";
}

.panda-meter2:before {
    content: "\ea4c";
}

.panda-meter:before {
    content: "\ea4d";
}

.panda-rocket:before {
    content: "\ea4e";
}

.panda-leaf:before {
    content: "\ea4f";
}

.panda-spoon-knife:before {
    content: "\ea50";
}

.panda-mug:before {
    content: "\ea51";
}

.panda-glass2:before {
    content: "\ea52";
}

.panda-glass:before {
    content: "\ea53";
}

.panda-gift:before {
    content: "\ea54";
}

.panda-trophy:before {
    content: "\ea55";
}

.panda-stats-bars2:before {
    content: "\ea56";
}

.panda-stats-bars:before {
    content: "\ea57";
}

.panda-stats-dots:before {
    content: "\ea58";
}

.panda-pie-chart:before {
    content: "\ea59";
}

.panda-bug:before {
    content: "\ea5a";
}

.panda-aid-kit:before {
    content: "\ea5b";
}

.panda-magic-wand:before {
    content: "\ea5c";
}

.panda-hammer:before {
    content: "\ea5d";
}

.panda-cogs:before {
    content: "\ea5e";
}

.panda-cog:before {
    content: "\ea5f";
}

.panda-equalizer2:before {
    content: "\ea60";
}

.panda-equalizer:before {
    content: "\ea61";
}

.panda-wrench:before {
    content: "\ea62";
}

.panda-unlocked:before {
    content: "\ea63";
}

.panda-lock:before {
    content: "\ea64";
}

.panda-key2:before {
    content: "\ea65";
}

.panda-key:before {
    content: "\ea66";
}

.panda-shrink2:before {
    content: "\ea67";
}

.panda-enlarge2:before {
    content: "\ea68";
}

.panda-shrink:before {
    content: "\ea69";
}

.panda-enlarge:before {
    content: "\ea6a";
}

.panda-zoom-out:before {
    content: "\ea6b";
}

.panda-zoom-in:before {
    content: "\ea6c";
}

.panda-search:before {
    content: "\ea6d";
}

.panda-binoculars:before {
    content: "\ea6e";
}

.panda-spinner11:before {
    content: "\ea6f";
}

.panda-spinner10:before {
    content: "\ea70";
}

.panda-spinner9:before {
    content: "\ea71";
}

.panda-spinner8:before {
    content: "\ea72";
}

.panda-spinner7:before {
    content: "\ea73";
}

.panda-spinner6:before {
    content: "\ea74";
}

.panda-spinner5:before {
    content: "\ea75";
}

.panda-spinner4:before {
    content: "\ea76";
}

.panda-spinner3:before {
    content: "\ea77";
}

.panda-spinner2:before {
    content: "\ea78";
}

.panda-spinner:before {
    content: "\ea79";
}

.panda-hour-glass:before {
    content: "\ea7a";
}

.panda-quotes-right:before {
    content: "\ea7b";
}

.panda-quotes-left:before {
    content: "\ea7c";
}

.panda-user-tie:before {
    content: "\ea7d";
}

.panda-user-check:before {
    content: "\ea7e";
}

.panda-user-minus:before {
    content: "\ea7f";
}

.panda-user-plus:before {
    content: "\ea80";
}

.panda-users:before {
    content: "\ea81";
}

.panda-user:before {
    content: "\ea82";
}

.panda-bubbles4:before {
    content: "\ea83";
}

.panda-bubbles3:before {
    content: "\ea84";
}

.panda-bubble2:before {
    content: "\ea85";
}

.panda-bubbles2:before {
    content: "\ea86";
}

.panda-bubbles:before {
    content: "\ea87";
}

.panda-bubble:before {
    content: "\ea88";
}

.panda-reply:before {
    content: "\ea89";
}

.panda-forward:before {
    content: "\ea8a";
}

.panda-redo2:before {
    content: "\ea8b";
}

.panda-undo2:before {
    content: "\ea8c";
}

.panda-redo:before {
    content: "\ea8d";
}

.panda-undo:before {
    content: "\ea8e";
}

.panda-database:before {
    content: "\ea8f";
}

.panda-drive:before {
    content: "\ea90";
}

.panda-floppy-disk:before {
    content: "\ea91";
}

.panda-upload:before {
    content: "\ea92";
}

.panda-download:before {
    content: "\ea93";
}

.panda-box-remove:before {
    content: "\ea94";
}

.panda-box-add:before {
    content: "\ea95";
}

.panda-drawer2:before {
    content: "\ea96";
}

.panda-drawer:before {
    content: "\ea97";
}

.panda-tv:before {
    content: "\ea98";
}

.panda-tablet:before {
    content: "\ea99";
}

.panda-mobile2:before {
    content: "\ea9a";
}

.panda-mobile:before {
    content: "\ea9b";
}

.panda-laptop:before {
    content: "\ea9c";
}

.panda-display:before {
    content: "\ea9d";
}

.panda-keyboard:before {
    content: "\ea9e";
}

.panda-printer:before {
    content: "\ea9f";
}

.panda-calendar:before {
    content: "\eaa0";
}

.panda-stopwatch:before {
    content: "\eaa1";
}

.panda-bell:before {
    content: "\eaa2";
}

.panda-alarm:before {
    content: "\eaa3";
}

.panda-clock2:before {
    content: "\eaa4";
}

.panda-clock:before {
    content: "\eaa5";
}

.panda-history:before {
    content: "\eaa6";
}

.panda-map2:before {
    content: "\eaa7";
}

.panda-map:before {
    content: "\eaa8";
}

.panda-compass2:before {
    content: "\eaa9";
}

.panda-compass:before {
    content: "\eaaa";
}

.panda-location2:before {
    content: "\eaab";
}

.panda-location:before {
    content: "\eaac";
}

.panda-pushpin:before {
    content: "\eaad";
}

.panda-envelop:before {
    content: "\eaae";
}

.panda-address-book:before {
    content: "\eaaf";
}

.panda-phone-hang-up:before {
    content: "\eab0";
}

.panda-phone:before {
    content: "\eab1";
}

.panda-lifebuoy:before {
    content: "\eab2";
}

.panda-calculator:before {
    content: "\eab3";
}

.panda-credit-card:before {
    content: "\eab4";
}

.panda-coin-yen:before {
    content: "\eab5";
}

.panda-coin-pound:before {
    content: "\eab6";
}

.panda-coin-euro:before {
    content: "\eab7";
}

.panda-coin-dollar:before {
    content: "\eab8";
}

.panda-cart:before {
    content: "\eab9";
}

.panda-ticket:before {
    content: "\eaba";
}

.panda-qrcode:before {
    content: "\eabb";
}

.panda-barcode:before {
    content: "\eabc";
}

.panda-price-tags:before {
    content: "\eabd";
}

.panda-price-tag:before {
    content: "\eabe";
}

.panda-folder-upload:before {
    content: "\eabf";
}

.panda-folder-download:before {
    content: "\eac0";
}

.panda-folder-minus:before {
    content: "\eac1";
}

.panda-folder-plus:before {
    content: "\eac2";
}

.panda-folder-open:before {
    content: "\eac3";
}

.panda-folder:before {
    content: "\eac4";
}

.panda-stack:before {
    content: "\eac5";
}

.panda-paste:before {
    content: "\eac6";
}

.panda-copy:before {
    content: "\eac7";
}

.panda-file-zip:before {
    content: "\eac8";
}

.panda-file-video:before {
    content: "\eac9";
}

.panda-file-play:before {
    content: "\eaca";
}

.panda-file-music:before {
    content: "\eacb";
}

.panda-file-picture:before {
    content: "\eacc";
}

.panda-file-text2:before {
    content: "\eacd";
}

.panda-files-empty:before {
    content: "\eace";
}

.panda-file-empty:before {
    content: "\eacf";
}

.panda-profile:before {
    content: "\ead0";
}

.panda-file-text:before {
    content: "\ead1";
}

.panda-library:before {
    content: "\ead2";
}

.panda-books:before {
    content: "\ead3";
}

.panda-book:before {
    content: "\ead4";
}

.panda-mic:before {
    content: "\ead5";
}

.panda-feed:before {
    content: "\ead6";
}

.panda-podcast:before {
    content: "\ead7";
}

.panda-connection:before {
    content: "\ead8";
}

.panda-bullhorn:before {
    content: "\ead9";
}

.panda-diamonds:before {
    content: "\eada";
}

.panda-clubs:before {
    content: "\eadb";
}

.panda-spades:before {
    content: "\eadc";
}

.panda-pacman:before {
    content: "\eadd";
}

.panda-dice:before {
    content: "\eade";
}

.panda-video-camera:before {
    content: "\eadf";
}

.panda-film:before {
    content: "\eae0";
}

.panda-play:before {
    content: "\eae1";
}

.panda-music:before {
    content: "\eae2";
}

.panda-headphones:before {
    content: "\eae3";
}

.panda-camera:before {
    content: "\eae4";
}

.panda-images:before {
    content: "\eae5";
}

.panda-image:before {
    content: "\eae6";
}

.panda-paint-format:before {
    content: "\eae7";
}

.panda-droplet:before {
    content: "\eae8";
}

.panda-eyedropper:before {
    content: "\eae9";
}

.panda-blog:before {
    content: "\eaea";
}

.panda-pen:before {
    content: "\eaeb";
}

.panda-quill:before {
    content: "\eaec";
}

.panda-pencil2:before {
    content: "\eaed";
}

.panda-pencil:before {
    content: "\eaee";
}

.panda-newspaper:before {
    content: "\eaef";
}

.panda-office:before {
    content: "\eaf0";
}

.panda-home3:before {
    content: "\eaf1";
}

.panda-home2:before {
    content: "\eaf2";
}

.panda-home:before {
    content: "\eaf3";
}

.panda-bottom-1:before {
    content: "\e900";
    color: #4f4f4f;
}

.panda-bottom-2:before {
    content: "\e901";
    color: #4f4f4f;
}

.panda-left-1:before {
    content: "\e902";
    color: #4f4f4f;
}

.panda-left-2:before {
    content: "\e903";
    color: #4f4f4f;
}

.panda-right-1:before {
    content: "\e904";
    color: #4f4f4f;
}

.panda-right-2:before {
    content: "\e905";
    color: #4f4f4f;
}

.panda-top-1:before {
    content: "\e906";
    color: #4f4f4f;
}

.panda-top-2:before {
    content: "\e907";
    color: #4f4f4f;
}

.panda-bold-left:before {
    content: "\e908";
    color: #4f4f4f;
}

.panda-bold-right:before {
    content: "\e909";
    color: #4f4f4f;
}

/* Layout */
/*=========================================
=            Navigation Codes.            =
=========================================*/
nav.sh-navbar {
    min-height: 46px;
    height: 46px;
    background: #4276A4;
    padding: 0 10px;
}

ul.tm-aside-nav > li:first-child {
    max-height: 44px;
}

ul.sh-navbar-nav li img {
    height: 29px;
    width: 29px;
}

ul.sh-navbar-nav li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border: 1px solid #eee;
    text-align: center;
    font-size: 16px;
    margin-right: 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul.sh-navbar-nav li a:hover {
    background-color: #eee;
    border-color: #eee;
    color: #777;
}

.sh-search input[type="text"] {
    width: 400px;
    background-color: #fff;
    border-color: #eee;
    margin-right: 35px;
    height: 40px;
    line-height: 40px;
    padding: 5px 5px 5px 40px;
}

.sh-search:before {
    width: 40px;
    line-height: 40px;
}

aside.sh-asidebar {
    background-color: #4276A4;
    width: 240px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.sh-margin-medium-top {
    margin-top: 10px !important;
}

body {
    overflow-x: auto !important;
}

body table th {
    border-bottom: 3px solid #dddddd;
}

ul.tm-aside-nav > li.uk-open {
    background-color: #589AC1;
}

ul.tm-aside-nav > li.uk-nav-header {
    border-top: 1px solid;
    border-color: #474a51;
    color: #afb2b7;
    padding: 9px 30px;
    font-weight: normal;
    font-size: 20px;
}

ul.tm-aside-nav > li.uk-nav-header > p {
    color: #fff;
}

ul.tm-aside-nav > li > a {
    font-family: "Mirzab";
    font-size: 14px;
    padding: 12px 30px 12px 20px;
}

ul.tm-aside-nav > li > a > i {
    width: 24px;
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
    vertical-align: text-top;
}

ul.tm-aside-nav > li > a > span.new-number-products {
    background-color: #d3d3d3;
    border-radius: 50%;
    color: white;
    float: left;
    font-size: 10px;
    padding: 1px 5px;
}

ul.tm-aside-nav > li > a:hover {
    background-color: #589AC1;
    color: #fff;
}

ul.tm-aside-nav > li a {
    color: #d3d3d3;
}

ul.tm-aside-nav > li a > span.new-number-subproduct {
    background-color: #ff5251;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    padding: 5px 5px;
}

ul.tm-aside-nav > li ul.uk-nav-sub {
    background-color: #4890BB;
    padding-right: 30px;
}

ul.tm-aside-nav > li ul.uk-nav-sub a {
    padding: 10px 0;
}

ul.tm-aside-nav > li ul.uk-nav-sub a:hover {
    color: #fff;
}

ul.tm-aside-nav > li ul.uk-nav-sub a:hover > span.new-number-subproduct {
    color: #ffffff;
}

.sent > span,
.canceled > span,
.pending > span,
.sending > span,
.delivered > span,
.payment_down > span,
.payment_pending > span {
    padding: 6px 10px !important;
    color: #ffffff;
    border-radius: 5px;
}

.sent span {
    background-color: #61beb4;
}

.canceled span {
    background-color: #ee7878;
}

.pending span {
    background-color: #BAAF61;
}

.sending span {
    background-color: #35abdd;
}

.delivered span {
    background-color: #32c5d2;
}

.payment_down span {
    background-color: #32c5d2;
}

.payment_pending span {
    background-color: #35abdd;
}

section.sh-content {
    margin-right: 240px;
}

div.tm-content {
    position: relative;
    padding: 20px;
}

div.tm-content > h2 {
    font-family: "Mirza";
    font-size: 29px;
}

ul.tm-breadcrumb {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

ul.tm-breadcrumb > li:last-child:before {
    display: none;
}

ul.tm-breadcrumb i.panda-home {
    font-size: 20px;
    vertical-align: text-bottom;
}

div.tm-footer-block {
    text-align: center;
    background-color: #fff;
    height: 68px;
    line-height: 68px;
    padding-right: 240px;
}

div.tm-footer-block > p {
    margin: 0;
}

div.tm-footer-block i {
    color: #FF9500;
    font-size: 32px;
    margin-right: 10px;
}

div.tm-panel {
    padding: 20px 40px 20px 40px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.tm-panel > h3.uk-panel-title {
    color: #999;
    border-bottom: 1px solid #f2f2f2;
    margin: -20px -40px 40px;
}

div.tm-panel > h3.uk-panel-title > i {
    margin-left: 5px;
}

div.tm-panel > p:nth-child(3) {
    margin: 40px -20px 0 0;
    font-family: "Mirza";
    font-size: 15px;
    float: right;
}

div.tm-panel > p:nth-child(3) > i {
    vertical-align: text-bottom;
    margin-right: 10px;
    color: #5fbfb3;
}

div.tm-panel > p:last-child {
    float: left;
    margin: 40px 0 0 -20px;
    font-size: 15px;
}

div.tm-panel > p#max-user-visitor {
    float: left;
    margin: 40px 0 0 -20px;
    font-size: 15px;
}

div.tm-panel > p:nth-child(3) {
    margin: 40px -20px 0 0;
    font-family: "Mirza";
    font-size: 15px;
    float: right;
}

div.tm-panel > p:nth-child(3) > i {
    vertical-align: text-bottom;
    margin-right: 10px;
    color: #5fbfb3;
}

div#flotTip {
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

div.tm-panel-footer {
    border-top: 1px solid #f2f2f2;
    margin: 0 -40px -40px -40px !important;
    padding: 40px;
}

div.tm-panel-footer-small {
    border-top: 1px solid #f2f2f2;
    margin: 45px -40px -40px -40px !important;
    padding: 20px 40px;
}

ul.tm-tab {
    margin-bottom: 45px;
}

div.tm-panel-header {
    margin: -25px -40px 30px -40px;
    padding: 25px 40px;
    border-bottom: 1px solid #f2f2f2;
}

div.tm-panel-header > h2 {
    float: left;
}

div.tm-panel-header > h2 > span {
    color: #999999;
    font-family: "Mirzab";
}

.sh-product-head {
    border-bottom: 1px solid #f2f2f2;
    margin: 0 -40px 25px -40px;
}

.sh-product-head > .uk-panel-title {
    border-bottom: none;
    float: right;
    margin: -40px 0 15px 0;
    line-height: 40px;
}

.sh-product-head > .sh-title-menu {
    float: left;
    margin: -40px 0 25px 0;
    line-height: 3;
}

.sh-product-head > .sh-title-menu > a:first-of-type {
    border-left: 1px solid #f2f2f2;
    padding: 11px 15px 15px 15px;
    border-right: 1px solid #f2f2f2;
    line-height: 40px;
}

.sh-product-head > .sh-title-menu > a:first-of-type > i {
    font-size: 16px;
    margin-left: 5px;
    vertical-align: text-bottom;
}

.sh-product-head > .sh-title-menu > a:last-of-type {
    font-size: 16px;
    margin: 0 15px;
    vertical-align: text-top;
}

.sh-breadcrumb-next {
    vertical-align: text-bottom;
}

.sh-products label {
    margin: 10px 0 0 10px;
}

.sh-products span > label {
    margin-right: 20px;
}

.sh-products a.selectBox-dropdown {
    width: 135px !important;
}

.tm-panel-header-factors {
    margin-bottom: 30px;
}

.tm-panel-header-factors > .sh-myorder-details-txt {
    margin: 10px 0 0 10px;
}

.tm-panel-header-factors a.selectBox-dropdown {
    width: 135px !important;
}

.tm-panel-header-factors > h2 {
    float: left;
    font-weight: bold;
}

.tm-panel-header-factors > h2 > span {
    color: #999;
}

.tm-panel-header-factors > select {
    float: right;
    margin: 0 10px 0 30px;
}

.tm-panel-header-factors > div#sh-date {
    float: right;
}

.tm-panel-header-factors > div#sh-date > label {
    vertical-align: text-top;
}

.tm-panel-header-factors > span.sh-search {
    float: right;
    cursor: pointer;
}

.tm-panel-header-factors > span.sh-search > input {
    width: 300px;
}

.tm-panel-header-factors > p:last-of-type {
    line-height: 20px;
}

.sh-header-prefac {
    height: 90px;
}

.sh-header-prefac > div > p:last-of-type {
    font-family: Mirzab;
    font-size: 20px;
}

.sh-prefac-texts {
    margin: 30px 0 70px 0;
}

.sh-prefac-texts > p {
    width: 300px;
    margin: 5px 0 0 0;
}

.sh-prefac-texts > p:nth-child(2) {
    font-family: Mirzab;
    margin-bottom: 10px;
}

.sh-prefac-texts > p:nth-child(5) {
    margin-bottom: 30px;
}

.sh-prefac-texts-last {
    margin-top: 30px;
}

.sh-prefac-texts-last span:first-of-type {
    vertical-align: baseline;
}

.sh-prefac-texts-last span:last-of-type {
    font-family: Mirzab;
}

.sh-lastinf-prefac {
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin: 25px 0 60px 0;
}

.sh-lastinf-prefac > dl > dd {
    width: 200px;
}

.sh-lastinf-prefac > dl:first-of-type {
    padding: 20px 20px 10px 20px;
}

.sh-lastinf-prefac > dl:first-of-type > dt:nth-child(3) {
    margin: 20px 0;
}

.sh-lastinf-prefac > dl:first-of-type > dd:nth-child(4) {
    margin: 20px 180px 20px 0;
}

.sh-lastinf-prefac > dl:last-of-type {
    margin: 10px !important;
    background-color: #32c5d2;
    padding: 15px 10px;
    border-radius: 5px;
}

.sh-lastinf-prefac > dl:last-of-type > dt, .sh-lastinf-prefac > dl:last-of-type dd {
    color: #ffffff;
}

.sh-lastinf-prefac > hr {
    margin: 10px 20px;
}

.sh-prefac-tables > table th:nth-child(1) {
    width: 15px;
}

.sh-prefac-tables > table th:nth-child(2) {
    width: 100px;
}

.sh-prefac-tables > table th:nth-child(3) {
    width: 280px;
}

.sh-prefac-tables > table th:nth-child(4) {
    width: 350px;
}

.sh-prefac-tables > table th:nth-child(5) {
    width: 100px;
}

.sh-prefac-tables > table th:nth-child(6) {
    width: 110px;
}

.sh-users-tables > thead th:nth-child(1) {
    width: 15px;
}

.sh-users-tables > thead th:nth-child(2) {
    width: 100px;
}

.sh-users-tables > thead th:nth-child(3) {
    width: 280px;
}

.sh-users-tables > thead th:nth-child(4) {
    width: 200px;
}

.sh-users-tables > thead th:last-of-type {
    width: 200px;
    text-align: right;
}

.sh-groups-tables > thead th:nth-child(1) {
    width: 30px;
}

.sh-groups-tables > thead th:nth-child(2) {
    width: 150px;
}

.sh-groups-tables > thead th:nth-child(3) {
    width: 200px;
}

.sh-groups-tables > thead th:last-of-type {
    width: 200px;
    text-align: right;
}

.sh-review-examin {
    margin: 30px 35px 0 0;
}

.sh-review-examin > a.sh-photo-review {
    color: #ccc;
    width: 150px;
    height: 150px !important;
    display: inline-block;
    text-align: center;
    border: 1px dashed #ccc;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}

.sh-review-examin > a.sh-photo-review > i {
    font-size: 25px;
    margin-top: -12px;
    margin-right: -13px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.sh-review-examin i:first-of-type {
    margin: 0 20px 0 15px;
}

.sh-review-examin > textarea {
    vertical-align: middle;
    width: 800px;
    height: 150px;
    border-radius: 5px;
    resize: none;
}

.sh-border-bottom {
    margin: 0 -40px;
}

p.sh-myorder-details-txt {
    line-height: 40px;
}

.sh-newpro-first > p:last-of-type {
    float: right;
    margin-left: 20px;
}

.sh-newpro-first .sbHolder {
    width: 210px;
}

.sh-addform-btn > hr {
    margin: 30px -40px 0 -40px;
}

.trumbowyg-fullscreen-button {
    display: none !important;
}

ul.trumbowyg-button-pane > li {
    float: right;
}

div#question {
    list-style: none;
    margin-bottom: 45px;
}

div#question > ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

div#question > ul > li {
    margin-right: 40px;
    display: inline-block;
}

.sh-getinfo-login > label {
    width: 61px !important;
    margin-top: 1px !important;
}

.sh-getinfo-login > div {
    margin-right: 61px !important;
}

.sh-getinfo-login > div > input {
    height: 23px !important;
    width: 100% !important;
    border: 1px solid transparent !important;
}

form.sh-panel-1 img {
    margin: 20px 0 30px;
}

ul.tm-switcher-product input[name="product_name_fa"],
ul.tm-switcher-product input[name="product_name_en"] {
    width: 100%;
}

ul.tm-switcher-product input, ul.tm-switcher-product select {
    width: 250px;
}

ul.tm-switcher-product hr {
    margin: 45px 0;
}

.sh-add-piccircle {
    width: 150px;
    height: 150px;
}

input[name="min_price"],
input[name="max_price"] {
    width: 100px;
}

div#table-footer-info {
    color: #999;
}

span.product {
    font-size: 14px;
    font-weight: bold;
}

span.product:nth-child(n+2) {
    margin-right: 30px;
}

span.product.record {
    color: #666;
}

span.product.publish {
    color: #5fbfb1;
}

span.product.Unpublished {
    color: #fed653;
}

.close-technical-title {
    float: right;
    line-height: 40px;
    margin-right: 9px;
}

#sh-info {
    margin-bottom: 25px;
}

#sh-info > i {
    vertical-align: text-bottom;
    color: #ffb426;
    margin-left: 5px;
}

.close-technical-sub {
    line-height: 40px;
    margin-right: 9px;
}

.add_sub > i {
    float: right;
    line-height: 40px;
    margin-right: 9px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 0;
}

.add_sub_form > i {
    float: right;
    line-height: 40px;
    margin-right: 9px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -48px;
}

#technical_info {
    border-radius: 5px !important;
}

#technical_info hr {
    margin: 30px -40px 0 -40px;
    clear: both;
}

.class_technical {
    margin-top: 30px;
}

.class_technical_sub {
    margin: 0 30px 10px 0;
    clear: both;
}

.class_technical_sub > a > i.panda-plus {
    float: right;
    margin: 15px -20px 0 0;
    font-weight: bolder;
    font-size: 15px;
}

.class_technical_sub > input[type="checkbox"] {
    float: right;
    margin: 15px 0 0 15px;
}

.sort-1 {
    width: 101px;
    height: 39px;
    float: right;
    border: 1px solid #f5f6fb;
    border-radius: 5px;
    background-color: #f5f6fb;
    line-height: 40px;
    margin-left: 20px;
    position: relative;
}

.sort-1 a.sbToggle {
    position: absolute;
    float: left;
    top: 1px;
    bottom: -1px;
    left: 1px;
    display: block;
    width: 35px;
    text-align: center;
    line-height: 39.5px;
    font-size: 10px;
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sort-1 a.sbSelector {
    background: #f4f6fb;
    color: #999;
    display: block;
    line-height: 40px;
    text-indent: 5px;
    border: 1px solid #f4f6fb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sort-1 ul.sbOptions {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #EFEFEF;
    padding: 5px;
    margin: 5px 0;
    background-color: #fff;
    z-index: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sh-comment-body {
    margin-right: 65px;
    width: 1265px;
    float: right;
    margin-bottom: 15px;
}

div.sh-comment-block {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding: 20px 20px 0 20px;
    background-color: #ffffff;
}

div.sh-comment-block > img {
    float: left;
    margin-bottom: 20px;
    border-radius: 5px;
}

div.sh-comment-block > article {
    float: right;
}

.uk-height-1-1 {
    padding-left: 0 !important;
}

.sh-footer-comment-dash {
    height: 45px;
    background-color: #f2f2f2;
    margin: 0 -20px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    clear: both;
}

.sh-footer-comment-dash > p {
    float: right;
    margin: 0px 20px 0 0;
    line-height: 45px;
}

.sh-footer-comment-dash > .sh-footer-comment-clear {
    margin: 10px 0 0 20px;
}

.sh-footer-comment-dash > .sh-footer-comment-check {
    margin: 10px 0 0 5px;
}

.sh-delete-gallery {
    float: left;
    margin-left: 15px;
    margin-top: -4px;
}

.sh-delete-image {
    float: left;
    margin-left: -15px;
}

#gift > span:first-child {
    background-color: #ffffff;
    padding: 13px 0 14px 15px;
    vertical-align: text-top;
}

#gift > span:last-of-type {
    background-color: #f0f0f0;
    padding: 13px 20px 13px 20px;
    line-height: 23px;
    vertical-align: text-top;
    border-radius: 5px;
    margin-right: 6px;
}

.sh-select-color {
    padding: 20px 0 0 0;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin-bottom: 25px;
}

.sh-select-color > p {
    margin: 0 20px;
}

.sh-select-color > p input, .sh-select-color > p label {
    float: right;
}

.sh-select-color > p input {
    margin: 3px 0 0 10px !important;
}

.sh-select-color > p > select {
    float: right;
}

.sh-select-color > p > span {
    float: right;
    width: 15% !important;
    margin: -10px 15px 0 0;
}

.sh-select-pictures {
    padding: 40px 0 20px 0;
    clear: both;
    padding-left: 0 !important;
}

.sh-select-pictures > .uk-width-1-3 {
    border-left: 1px solid #e2e2e2;
    width: 19.540%;
}

.sh-select-pictures > .uk-width-1-3:last-child {
    border-left: none;
}

.sh-primary-pic {
    width: 150px;
    float: right;
    background-color: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 45px 20px 0;
}

.sh-primary-pic > i {
    font-size: 40px;
    text-align: center;
    padding: 48px 42px;
    position: relative;
    color: #9a9a9a;
}

.sh-primary-pic > i > p {
    font-size: 14px;
    font-family: Mirza;
    width: 65px;
    margin: 15px 0 0 0;
}

.sh-thumbnail-170 {
    width: 120px;
    height: 130px;
    background-color: #eeeeee;
    float: right;
    margin: 0 45px 0 0;
    border-radius: 10px;
    cursor: pointer;
}

.sh-thumbnail-170 > i {
    font-size: 40px;
    text-align: center;
    padding: 31px 28px;
    position: relative;
    color: #9a9a9a;
}

.sh-thumbnail-170 > i > p {
    font-size: 13px;
    font-family: Mirza;
    width: 65px;
    margin: 15px 0 0 0;
}

.sh-thumbnail-97 {
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
}

.sh-thumbnail-97 > i {
    text-align: center;
    font-size: 20px;
    color: #9a9a9a;
    padding: 20px 5px;
}

.sh-thumbnail-97 > i > p {
    width: 65px;
    font-size: 10px;
    margin: 5px 0 0 0;
    font-family: Mirza;
}

input#id_category_name {
    width: 18%;
    margin: 0 10px 0 20px;
}

input#id_category_url, #id_category_order {
    width: 25%;
    margin: 0 10px 0 20px;
}

input#id_category_url:disabled, #id_category_order:disabled {
    background-color: #fbfbfb;
}

label#id_category_publish_label {
    margin: 0 10px 0 10px;
}

select#id_category_publish {
    margin: 0 10px 0 20px;
    width: 95px;
}

select#id_category_type {
    margin: 0 10px 0 20px;
    width: 135px;
}

.sh-category-url-p {
    margin: 0 30px 0 0;
}

.sh-head-category > * {
    padding-left: 0;
    line-height: 40px;
}

.sh-head-category > .sh-category-type {
    margin: 0 30px 0 10px;
}

.sh-head-category > a.selectBox-dropdown {
    width: 135px !important;
}

.sh-chmodal {
    background-color: #fff;
}

.sh-chmodal > hr {
    background-color: #e3e3e3;
    margin: 0 -20px 35px -20px;
    height: 1px;
}

/* ---------------------  style for select box plugin ---------------*/
.selectBox-dropdown {
    height: 40px;
    cursor: pointer !important;
    background: #efefef !important;
    border: none !important;
}

.selectBox-dropdown > span:first-of-type {
    text-align: right;
    float: right;
    color: #666666;
    font-family: "Mirza";
    padding: 9px 8px;
}

.selectBox-dropdown > span:last-of-type {
    background-color: #ffffff;
    width: 40px;
    right: inherit;
    border-right: solid 1px #efefef;
    border-left: none;
    border-radius: 3px;
    height: 38px;
    top: 1px;
    left: 1px;
}

.selectBox-dropdown > span:last-of-type:focus {
    outline: 0;
}

.selectBox-dropdown:focus {
    border-color: #61beb3 !important;
}

.selectBox-dropdown-menu {
    max-height: 100px;
}

.selectBox-dropdown-menu > li {
    height: 30px;
    cursor: pointer !important;
}

.sh-select-publish-unpublish {
    width: 110px !important;
    height: 25px !important;
}

.sh-select-publish-unpublish > span:first-of-type {
    padding-top: 2px;
    text-align: center;
    float: left;
}

.sh-select-publish-unpublish > span:last-of-type {
    width: 25px;
    height: 23px;
    right: 0;
}

.sh-select-publish-unpublish > span:last-of-type > i {
    position: absolute;
    top: 7px;
    right: 6.5px;
}

/* ---------------------  end of style for select box plugin ---------------*/
.sh-brands > form {
    display: initial;
}

.sh-brands > form > div:first-of-type {
    float: right;
    margin-left: 30px;
}

.sh-brands > form .sbHolder a.sbSelector {
    height: 38px;
}

.sh-chmodal-head > a {
    line-height: 25px;
}

.sh-chmodal-head > h3 {
    margin: 0 0 20px 0;
    line-height: 25px;
}

.sh-chmodal-head > h3 > i {
    vertical-align: text-bottom;
    margin-left: 5px;
}

input.update_category_name_name,
#id_update_category_add_subcategory_name {
    width: 82.3%;
    height: 40px;
    margin: 8px 10px 20px 0;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #f5f6fb;
    padding: 0 5px;
    background-color: #f0f0f0;
}

input.update_category_name_name:focus,
#id_update_category_add_subcategory_name:focus {
    outline: 0;
    border: 1px solid #4cd964;
    width: 82.3%;
    height: 40px;
}

#id_update_subcategory_name_name,
#id_update_category_add_subcategory_name {
    width: 79.3%;
}

#id_update_subcategory_name_name:focus,
#id_update_category_add_subcategory_name:focus {
    width: 79.3%;
}

.btn-inp-changname {
    margin-bottom: 40px;
}

#id_add_subcategory_modal {
    z-index: 1;
}

#id_add_subcategory_modal > .sh-chmodal {
    height: 232px;
}

label.sh-chmodal-txt {
    line-height: 55px;
    font-size: 13px;
    float: right;
}

.sh-trashed-table > thead > tr > th {
    border-bottom: 1px solid #f2f2f2;
}

.sh-trashed-table > thead > tr > th:nth-child(1) {
    width: 15px;
}

.sh-trashed-table > thead > tr > th:nth-child(2) {
    width: 125px;
}

.sh-trashed-table > thead > tr > th:nth-child(3) {
    width: 160px;
}

.sh-trashed-table > thead > tr > th:nth-child(4) {
    width: 250px;
}

.sh-trashed-table > thead > tr > th:nth-child(5) {
    width: 100px;
}

.sh-trashed-table > thead > tr > th:nth-child(6) {
    width: 130px;
}

.sh-trashed-table > thead > tr > th:last-of-type {
    width: 185px;
}

.sh-trashed-table > tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}

.sh-trashed-table > tbody > tr > td > input.sh-btn-6 {
    cursor: pointer;
    border: none;
}

.sh-trashed-table > tbody > tr > td > input.sh-btn-6:first-of-type {
    background-color: #4cda63;
    margin-left: 5px;
}

.sh-trashed-table > tbody > tr > td > input.sh-btn-6:first-of-type:focus, .sh-trashed-table > tbody > tr > td > input.sh-btn-6:first-of-type:hover {
    outline: 0;
    background-color: #2dd21e;
}

.sh-trashed-table > tbody > tr button:first-of-type {
    margin-left: 5px;
}

.uk-sortable {
    list-style: none;
}

span.sh-published-yes, span.sh-published-no {
    padding: 6px 10px;
    color: #ffffff;
    line-height: 40px;
    border-radius: 5px;
}

span.sh-published-no {
    background-color: #BAAF61;
}

span.sh-published-yes {
    background-color: #32c5d2;
}

.sh-megamenu-tab > hr:first-of-type {
    margin: 0 -40px 40px -40px;
}

.sh-title-megamenu p:first-of-type {
    padding-right: 86px;
}

.sh-title-megamenu p:nth-child(2) {
    margin: 20px 0 0 412px;
}

.sh-title-megamenu p:last-of-type {
    margin: 20px 0 0 76px;
}

.sh-space-title {
    border: 2px solid #dddddd;
    margin: 0 !important;
    clear: both;
}

.sh-sortable-group {
    padding: 0 15px 20px 15px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 30px;
    width: 1098px;
}

.sh-sortable-group > li.sh-sortable-group-details {
    padding-left: 0;
    background-color: #f0f0f0;
    height: 42px;
    margin: 20px 0 0 10px;
    border-radius: 5px;
    position: relative;
}

div.sh-mog {
    background-color: #f0f0f0;
    height: 42px;
    border-radius: 5px;
}

div.sh-mog > i:first-of-type {
    float: right;
    margin: 0 5px 0 15px;
    line-height: 40px;
    color: #ffffff;
}

div.sh-mog > i:last-of-type {
    float: left;
    margin: 1px 0 -4px 1px;
    padding: 14px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

div.sh-mog > p:first-of-type {
    margin: 0;
    line-height: 40px;
    position: relative;
    top: 0;
    float: right;
}

div.sh-mog > p:last-of-type {
    color: #f0f0f0;
    position: relative;
    width: 50px;
    float: right;
}

div.sh-number-category {
    float: right;
    color: #999999;
}

div.sh-number-category {
    margin-left: 30px;
}

#sh-edit-head {
    z-index: 0;
}

#sh-edit-head hr:first-of-type {
    background-color: #e3e3e3;
    margin: 0 -20px 35px -20px;
}

#sh-edit-head hr {
    margin: 40px -20px;
}

#sh-edit-head hr:last-of-type {
    margin: 40px -20px 20px;
}

.sh-subgrp-footer {
    height: 40px;
}

#mCSB_3_container {
    margin-left: 0;
}

ul#id_subgroups_ul {
    margin: 15px 0;
}

.sh-add-newprod > p {
    margin: 10px 0 0 10px;
}

.sh-add-newprod .sbHolder {
    width: 210px;
}

.sh-added-newprod {
    margin-bottom: 30px;
}

.sh-added-newprod > p:last-of-type {
    font-family: "Mirzab";
}

.sh-added-newprod .sbHolder {
    width: 180px;
}

.sh-sub-left {
    max-height: 400px;
    margin-top: 30px;
}

.sh-sub-left ul {
    list-style: none;
}

.sh-sub-left .mCSB_scrollTools_vertical {
    left: 615px !important;
}

.sh-sub-left .mCSB_container {
    margin-right: 80px !important;
    padding-bottom: 90px;
}

.sh-sub-left ul li > div.uk-nestable-panel {
    width: 300px;
    border-radius: 5px;
}

.sh-sub-left ul li > div.uk-nestable-panel i {
    vertical-align: text-top;
    margin-left: 10px;
    color: #ffffff;
}

#id_update_category_delete_subcategory_form {
    border-top: 1px solid #f0f0f0;
}

#id_update_category_delete_subcategory_form > button {
    margin: 10px;
    position: relative;
    left: -270px;
}

.sh-edit-head {
    background-color: #ffffff;
    width: 1170px;
}

.sh-edit-head > .uk-grid > .uk-width-2-4 {
    width: 39.38%;
    padding-left: 35px;
}

.sh-edit-head > .uk-grid > .uk-width-3-5 {
    width: 57.5%;
    padding: 30px 45px 0 0;
}

.add-color-selected-div {
    background-color: #666 !important;
}

.add-color-selected-div span {
    color: #ffffff;
}

.sh-addgroup-users > p {
    font-family: "Mirzab";
    font-size: 15px;
}

.sh-addgroup-users ul {
    list-style: none;
}

.sh-addgroup-users label {
    margin: 8px 20px 40px 10px;
}

.sh-addgroup-users > div:first-of-type > label {
    float: right;
}

.sh-bg-publish {
    color: #ffffff !important;
    background-color: #32c5d2 !important;
}

.sh-bg-unpublish {
    color: #ffffff !important;
    background-color: #BAAF61 !important;
}

.sh-adduser-users > p {
    font-family: "Mirzab";
    font-size: 15px;
    margin-bottom: 30px;
}

.sh-adduser-users label {
    width: 150px;
    float: right;
    margin: 8px 0 30px 10px;
}

.sh-adduser-users ul#id_gender {
    list-style: none;
}

.sh-adduser-users a.selectBox-dropdown {
    width: 180px !important;
}

.add-color-selected-background {
    background-color: #eee !important;
    border-radius: 5px;
    padding: 1px 10px;
}

.uk-nestable-empty {
    min-height: 0;
}

.sh-add-group .uk-grid-width-1-6 > * {
    width: auto;
}

.sh-add-group > p {
    margin-bottom: 30px;
}

.sh-input-edit-megamenu {
    width: 20%;
    height: 38px;
    border-radius: 5px;
    background-color: #f0f0f0;
    outline: 0;
    border: none;
    border: 1px solid #f5f6fb;
    padding: 0 5px;
}

.sh-input-edit-megamenu:focus {
    width: 20%;
    height: 38px;
    outline: 0;
    border: 1px solid #61beb3;
}

tbody#products tr {
    white-space: nowrap;
    background-color: #ffffff;
}

.tm-content {
    background-color: #f2f2f2;
}

.sh-crop-dialog {
    background-color: #ffffff;
}

.sh-crop-dialog > div:first-of-type > i {
    vertical-align: text-bottom;
}

.sh-crop-dialog > div:last-of-type {
    height: 40px !important;
    margin-top: 30px;
}

.sh-crop-dialog > div:last-of-type > .uk-form-file:hover button {
    background-color: #ccc;
    border-color: #ccc;
    color: #ffffff;
}

.sh-crop-dialog > div:nth-last-of-type(2) {
    margin-top: 30px;
}

.sh-navbar-nav > li {
    color: #afb2b7;
}

.sh-navbar-nav > li > span {
    margin-right: 5px;
    vertical-align: text-top;
    font-family: "Mirzab";
}

.sh-navbar-nav > li > span > span {
    font-family: "Mirzab";
    font-size: 16px;
    vertical-align: sub;
}

.sh-navbar-nav > li > a {
    cursor: pointer !important;
}

#general-info {
    margin-bottom: 30px;
}

#general-info .sbHolder {
    width: 250px;
}

#general-info label {
    line-height: 30px;
}

#general-info div:nth-child(13) > label {
    line-height: 48px !important;
}

#form_add_suggested_product {
    margin: 20px 0;
}

#form_add_suggested_product > input {
    margin-right: 15px;
    width: 94%;
}

#form_add_suggested_product > input#id_product_name_en {
    direction: ltr;
}

#brand > tr > td > p {
    line-height: 40px;
}

.sh-advantages {
    width: 50%;
}

.sh-advantages > label {
    line-height: 40px;
    font-family: "Mirzab";
    font-size: 13px;
}

#advantages, #disadvantages {
    display: table-caption;
    margin-left: 20px;
}

#advantages > *, #disadvantages > * {
    margin-bottom: 10px;
}

#advantages a > i, #disadvantages a > i {
    line-height: 40px;
    margin-right: 10px;
}

#add_advantages, #add_disadvantages {
    line-height: 30px;
    margin-left: 10px;
}

.sh-category-subgroup {
    margin: 10px 40px 0 0;
}

.sh-dropdown-modal > div.uk-dropdown {
    top: 18px !important;
    left: -37px !important;
    background-color: #ffffff;
    width: 117px;
    padding: 5px;
    margin-top: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.sh-dropdown-modal > div.uk-dropdown:after {
    content: "";
    position: absolute;
    top: -7px;
    right: 51px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.sh-dropdown-modal > div.uk-dropdown:before {
    content: "";
    position: absolute;
    top: -9px;
    right: 50px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #eee;
}

.sh-dropdown-modal ul.uk-nav > li > a {
    text-align: center;
    padding: 2px;
    line-height: 20px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.sh-dropdown-modal ul.uk-nav > li > a:hover {
    background-color: #f5f6fb;
    color: black;
}

.sh-brands-details > .sh-btn-2 {
    margin-top: 40px;
}

.sh-brands-details > hr:first-of-type {
    margin: 0 -40px 40px -40px;
}

.sh-btm-btn {
    height: 40px !important;
    padding: 0;
}

.sh-btm-btn > a:first-of-type {
    margin-right: 10px;
}

.sh-btm-btn > a:last-of-type {
    float: left;
}

.sbHolder {
    width: 135px;
    margin: 0 0 0 10px;
    float: right;
    outline: none;
    position: relative;
}

.sbHolder:focus a.sbSelector {
    border-color: #61beb3;
}

.sbHolder:last-child {
    margin-left: 0;
}

.sbHolder a.sbToggle {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    display: block;
    width: 40px;
    text-align: center;
    line-height: 41px;
    font-size: 12px;
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sbHolder a.sbToggle:hover {
    color: inherit;
}

.sbHolder a.sbSelector {
    background: #f0f0f0;
    color: #666666;
    display: block;
    height: 38px;
    line-height: 38px;
    text-indent: 5px;
    border: 1px solid #f4f6fb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sbHolder ul.sbOptions {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #EFEFEF;
    padding: 5px;
    margin: 5px 0 0;
    background-color: #fff;
    max-height: 100px !important;
    z-index: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sbHolder ul.sbOptions li > a {
    display: block;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sbHolder ul.sbOptions li > a:hover {
    color: #999;
    background-color: #f5f6fb;
}

.sbHolderDisabled a {
    cursor: default;
}

.sbHolderDisabled a.sbSelector {
    background-color: #F3F2F7;
    border-color: #F3F2F7;
    color: #cecdd2;
}

.sbHolderDisabled a.sbToggle {
    color: #b7b8bc;
}

.sh-edit-brand {
    background: #FFFFFF;
    width: 628px;
}

.sh-edit-brand > a {
    margin: -6px -10px 0 -6px !important;
}

.sh-edit-brand > div:first-of-type {
    height: auto;
    line-height: 45px;
}

.sh-edit-brand .sh-btn-2 {
    font-family: "Mirzab";
}

.sh-edit-brand > .uk-grid > form {
    width: 100%;
}

.sh-edit-brand > .uk-grid > form > p {
    float: right;
    line-height: 99px;
    margin: 0 0 0 10px;
}

.sh-edit-brand > .uk-grid > form > p:last-of-type {
    margin-right: 35px;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand {
    clear: both;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand > p {
    float: right;
    line-height: 40px;
    margin-left: 10px;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand > img {
    margin: 0 95px 0 82px;
    height: 40px;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand > div.uk-form-file {
    float: right;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand > div.uk-form-file > button {
    margin-right: 1px;
    font-family: "Mirzab";
    margin-right: 1px;
}

.sh-edit-brand > .uk-grid > form > .sh-select-picbrand > div.uk-form-file:hover button {
    background-color: #ffffff;
    color: #666;
}

.sh-edit-brand > .uk-grid > form > #id_fa_name, .sh-edit-brand > .uk-grid > form #id_en_name {
    float: right;
    margin-top: 30px;
}

.sh-edit-brand > .uk-grid > form > div:last-of-type {
    padding-left: 15px;
    margin: 20px 0 20px 0;
}

.sh-catgrp {
    float: right;
    clear: both;
}

.sh-catgrp > p {
    line-height: 40px;
    margin-left: 10px;
}

.sh-catgrp > a.selectBox-dropdown:first-of-type {
    width: 210px !important;
    margin-left: 10px;
}

.sh-catgrp > a.selectBox-dropdown {
    width: 210px !important;
    margin: 0;
}

.sh-catgrp > a.sh-btn-2 {
    margin-right: 75px;
}

.dataTables_length {
    width: 195px;
    margin-right: 40px;
}

.dataTables_length a.selectBox-dropdown {
    width: 120px !important;
}

.sh-comment-table .uk-comment-title {
    margin-top: 8px;
}

#send-message .sh-btn-6 {
    line-height: 40px;
}

#send-message img {
    vertical-align: -13px;
}

#send-message textarea {
    background-color: #f4f6fb;
}

.sh-brands-table tr > th:first-of-type {
    width: 15px;
}

.sh-brands-table tr > th:nth-child(2) {
    width: 100px;
}

.sh-brands-table tr > th:nth-child(3) {
    width: 150px;
}

.sh-brands-table tr > th:nth-child(5) {
    width: 171px;
}

.sh-brands-pending tr > th:first-of-type {
    width: 30px;
}

.sh-brands-pending tr > th:nth-child(2) {
    width: 125px;
}

.sh-brands-pending tr > th:nth-child(3) {
    width: 160px;
}

.sh-brands-pending tr > th:nth-child(4) {
    width: 145px;
}

.sh-brands-pending tr > th:last-of-type {
    text-align: right;
    width: 430px;
}

.sh-allfactors-tables tr > th:first-of-type {
    width: 30px;
}

.sh-allfactors-tables tr > th:nth-child(2) {
    width: 180px;
}

.sh-allfactors-tables tr > th:nth-child(3) {
    width: 100px;
}

.sh-allfactors-tables tr > th:nth-child(4) {
    width: 145px;
}

.sh-allfactors-tables tr > th:nth-child(5) {
    width: 100px;
}

.sh-allfactors-tables tr > th:nth-child(6) {
    width: 385px;
}

.sh-allfactors-tables tr > th:last-of-type {
    text-align: right;
    width: 275px;
}

.sh-all-product-table tr > th:nth-child(1) {
    width: 30px;
}

.sh-all-product-table tr > th:nth-child(2) {
    width: 125px;
}

.sh-all-product-table tr > th:nth-child(3) {
    width: 160px;
}

.sh-all-product-table tr > th:nth-child(4) {
    width: 250px;
}

.sh-all-product-table tr > th:nth-child(5) {
    width: 130px;
}

.sh-all-product-table tr > th:nth-child(6) {
    width: 80px;
}

.sh-all-product-table tr > th:last-of-type {
    width: 375px;
    text-align: right;
}

.sh-all-product-table tr > th:nth-last-of-type(2) {
    width: 70px;
}

.sh-add-border-banner {
    border-right: 5px;
    border: 1px solid #efefef;
}

.sh-all-pendingproduct-table tr > th:nth-child(1) {
    width: 30px;
}

.sh-all-pendingproduct-table tr > th:nth-child(2) {
    width: 150px;
}

.sh-all-pendingproduct-table tr > th:nth-child(3) {
    width: 100px;
}

.sh-all-pendingproduct-table tr > th:nth-child(4) {
    width: 200px;
}

.sh-all-pendingproduct-table tr > th:nth-child(5) {
    width: 60px;
}

.sh-all-pendingproduct-table tr > th:last-of-type {
    width: 210px;
    text-align: right;
}

.sh-bestoffer-alloffer tr > th:nth-child(1) {
    width: 30px;
}

.sh-bestoffer-alloffer tr > th:nth-child(2) {
    width: 160px;
}

.sh-bestoffer-alloffer tr > th:nth-child(3) {
    width: 100px;
}

.sh-bestoffer-alloffer tr > th:nth-child(4) {
    width: 125px;
}

.sh-bestoffer-alloffer tr > th:nth-child(5) {
    width: 235px;
}

.sh-bestoffer-alloffer tr > th:last-of-type {
    width: 171px;
    text-align: right;
}

.sh-brands-allbrands tr > th:nth-child(1) {
    width: 30px;
}

.sh-brands-allbrands tr > th:nth-child(2) {
    width: 150px;
}

.sh-brands-allbrands tr > th:nth-child(3) {
    width: 300px;
}

.sh-brands-allbrands tr > th:nth-child(4) {
    width: 125px;
}

.sh-brands-allbrands tr > th:last-of-type {
    width: 171px;
    text-align: right;
}

.sh-sampleform-table tr > th:nth-child(1) {
    width: 30px;
}

.sh-sampleform-table tr > th:nth-child(2) {
    width: 125px;
}

.sh-sampleform-table tr > th:nth-child(3) {
    width: 100px;
}

.sh-sampleform-table tr > th:nth-child(4) {
    width: 100px;
}

.sh-sampleform-table tr > th:last-of-type {
    width: 169px;
    text-align: right;
}

.sh-sampleform-tables tr > th:nth-child(1) {
    width: 30px;
}

.sh-sampleform-tables tr > th:last-of-type {
    width: 171px;
    text-align: right;
}

.sh-allsize-table tr > th:nth-child(1) {
    width: 30px;
}

.sh-allsize-table tr > th:last-of-type {
    width: 171px;
    text-align: right;
}

.sh-filter-worlds {
    margin-bottom: 5px;
}

.sh-filter-worlds > a {
    vertical-align: text-bottom;
}

.sh-filter-worlds > a > i {
    font-size: 10px;
    margin-left: 5px;
}

#all_gallery {
    margin-bottom: 35px;
}

.sh-add-filter-worlds {
    margin-bottom: 25px;
}

.sh-add-filter-worlds > label {
    vertical-align: text-top;
}

.sh-flitered-worlds > hr {
    margin: 0 -40px 40px -40px !important;
}

.sh-allbrands-table th:first-of-type {
    padding-right: 20px;
}

.sh-allbrands-table th:nth-child(2) {
    padding-right: 0;
}

#all_category_group {
    border-bottom: 1px solid #f2f2f2;
}

#all_category_group tr {
    border-bottom: none;
}

#all_category_group tr > td {
    padding: 0;
    background-color: #ffffff;
}

#all_category_group tr > td:first-of-type > div {
    padding-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#all_category_group tr > td:last-of-type {
    text-align: left;
}

#all_category_group tr > td:last-of-type > div {
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#all_category_group tr > td:last-of-type > div > a {
    vertical-align: 1px;
}

#all_category_group tr > td div {
    margin: 5.5px 0;
    background-color: #f2f2f2;
    line-height: 40px;
}

.sh-comment-none-exist {
    float: left;
}

.gallery_image > a > img {
    border-radius: 5px;
}

.sh-add-newrecord-form {
    margin: 40px 0;
}

.sh-addmanage-video,
.sh-create-newproduct-tab,
#id_discount_maker,
#id_virtual_reality,
.sh-allsize-table,
.sh-sampleform-table,
.sh-sampleform-tables,
.sh-brands-table,
.sh-bestoffer-alloffer,
.sh-brands-allbrands,
.sh-users-tables,
.sh-allstickers-table,
.sh-advantages-disadvantages {
    margin-bottom: 30px;
}

.sh-confirm-modal {
    text-align: center;
    padding: 24px 0 12px;
}

.sh-confirm-modal > i {
    margin-left: 7px;
    vertical-align: sub;
    color: #ffb528;
    font-size: 18px;
}

.sh-confirm-modal-footer a {
    background-color: #fff;
    width: 150px;
    border-top: 1px solid #eee;
    padding: 10px 0;
    font-weight: bold;
}

.sh-confirm-modal-footer a.js-modal-confirm-cancel {
    border-left: 1px solid #eee;
    border-bottom-right-radius: 15px;
}

.sh-confirm-modal-footer a.js-modal-confirm-cancel:hover {
    background-color: #eceff4;
}

.sh-confirm-modal-footer a.js-modal-confirm {
    border-bottom-left-radius: 15px;
}

.sh-confirm-modal-footer a.js-modal-confirm:hover {
    background-color: #4897BE;
    color: #fff;
}

.dash-addsticker a.selectBox-dropdown {
    width: 135px !important;
}

.dash-addsticker label {
    vertical-align: text-top;
}

.dash-addsticker > .tm-panel-footer {
    margin-top: 30px !important;
}

#products td.sh-operations button:last-of-type {
    margin-right: 5px;
}

#products td.sh-operations button:nth-last-of-type(2) {
    margin-right: 5px;
}

.sh-operations button:last-of-type {
    margin-left: 20px;
}

.sh-table-panel {
    width: 95%;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    margin: 0 20px;
    padding-left: 0;
}

.sh-table-panel:first-of-type {
    margin-top: 10px;
}

.sh-table-panel > .uk-panel-box {
    padding: 0 20px 0 0;
}

.uk-sortable-dragged > .uk-panel {
    padding: 0;
    border-bottom: 1px solid #dddddd;
}

.uk-sortable-dragged > .uk-panel > .sh-megatable-right {
    margin: 9px 10px 0 0;
}

.uk-sortable-dragged > .uk-panel > .sh-operations {
    margin-top: 5px;
}

.sh-megatable-right {
    margin-top: 3px;
}

.sh-txtcategory-published {
    margin: -6px 0 0 40px;
}

.dash-addsticker-details > div:first-of-type {
    float: right;
    margin-top: 40px;
}

.dash-addsticker-details img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

#add_group {
    margin: 0 20px 20px 0;
}

#add_group:disabled:hover {
    background-color: #efefef;
    color: #777;
}

#tblData td .uk-width-1-2, #tblData th .uk-width-1-2 {
    width: 48%;
}

#tblData th input {
    line-height: 0;
    height: 20px;
    width: 150px;
}

#tblData th input:first-of-type {
    margin-left: 5px;
}

.btnEditCol {
    margin-left: 5px;
}

a.btnSaveCol {
    margin-right: 5px;
    color: #04ce9c;
}

a.btnSaveCol > i {
    font-size: 20px;
    font-weight: bolder;
}

.sh-edit-group-subgroup {
    max-height: 200px;
}

.sh-pos-rel {
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}

.sh-pos-rel:focus {
    background-color: red;
}

#size-check-box input, #size-check-box label {
    line-height: 7px;
    margin-left: 10px;
}

#size-check-box input {
    vertical-align: text-bottom;
    margin-left: 10px;
}

.btnDeleteCol, .btnEditCol {
    float: left;
}

.btnDeleteCol i, .btnEditCol i {
    margin-left: 0 !important;
}

.btnDeleteCol {
    margin-left: 20px;
}

.btnDeleteCo {
    margin-left: 20px;
}

.sh-colname-sizetab {
    float: right;
    padding-right: 20px;
}

.btnDelete {
    vertical-align: text-bottom;
    margin-right: 10px;
}

.sh-bestoffer-search label, #amazing_offer_form label {
    vertical-align: text-top;
    margin-left: 10px;
}

.sh-bestoffer-search {
    margin-bottom: 30px;
}

#amazing_offer_form {
    margin-bottom: 30px;
}

#amazing_offer_form button {
    margin: 0 15px;
}

button#create_product:disabled:hover, button#add_group_to_size:disabled:hover {
    background-color: #f0f0f0 !important;
    color: #666;
}

.sh-result-search img {
    border-radius: 5px;
}

.sh-add-amzingoffer-banner {
    margin-bottom: 30px;
    width: 709px;
    height: 239px;
    border-radius: 5px;
}

.sh-add-amzingoffer-banner > img {
    width: inherit;
    height: inherit;
}

.sh-add-amzingoffer-banner > i {
    transform: rotate(90deg);
    position: relative;
    right: 260px;
    bottom: 200px;
    color: #f0f0f0;
    font-size: 160px;
}

.dash-details-products {
    padding-top: 15px;
}

.dash-details-products ul {
    list-style: none;
}

.dash-details-products ul li {
    clear: both;
}

.dash-details-products p {
    color: #9a9a9a;
    font-family: Mirzab;
    font-size: 12px;
    float: right;
}

.dash-details-products label {
    margin-right: 10px;
}

.sh-published-light {
    background-color: #32c5d2;
    font-size: 13px;
    padding: 0 7px;
    border-radius: 50%;
    margin-left: 5px;
}

.sh-unpublished-light {
    background-color: #BAAF61;
    font-size: 13px;
    padding: 0 7px;
    border-radius: 50%;
    margin-left: 5px;
}

.kh {
    width: 100%;
    margin: 0 0 0 7px;
    float: right;
    outline: none;
    position: relative;
}

.kh:focus a.sbSelector {
    border-color: #61beb3;
}

.kh:last-child {
    margin-left: 0;
}

.kh a.sbToggle {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    display: block;
    width: 23px;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    background-color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.kh a.sbToggle:hover {
    color: inherit;
}

.kh a.sbSelector {
    background: #f0f0f0;
    color: #666666;
    display: block;
    height: 21px;
    line-height: 21px;
    text-indent: 5px;
    border: 1px solid #f4f6fb;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.kh ul.sbOptions {
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #EFEFEF;
    padding: 5px;
    margin: 5px 0 0;
    background-color: #fff;
    max-height: 100px !important;
    z-index: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.kh ul.sbOptions li > a {
    display: block;
    padding: 0 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.kh ul.sbOptions li > a:hover {
    color: #999;
    background-color: #f5f6fb;
}

.sbHolderDisabled a {
    cursor: default;
}

.sbHolderDisabled a.sbSelector {
    background-color: #F3F2F7;
    border-color: #F3F2F7;
    color: #cecdd2;
}

.sbHolderDisabled a.sbToggle {
    color: #b7b8bc;
}

ul#id_visible_templatetags > li > label > input {
    vertical-align: sub;
}

.sh-badge-warning {
    background-color: #BAAF61;
}

.sh-badge-success {
    background-color: #32c5d2;
}

/* Modules */
/*======================================
=            Button Styles.            =
======================================*/
.sh-btn-1 {
    min-height: 38px;
    line-height: 38px;
    background: #fff;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
    float: left;
}

.sh-btn-1:hover {
    color: #fff;
    background: #4d69ce;
    border-color: #4d69ce;
}

.sh-btn-1:focus {
    color: #fff;
    background: #4d69ce;
    border-color: #4d69ce;
}

.sh-btn-1:active {
    color: #fff;
    background: #4d69ce;
    border-color: #4d69ce;
}

.sh-btn-1 > i {
    vertical-align: -20%;
}

.sh-btn-1 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-2 {
    min-height: 40px;
    line-height: 40px;
    background: #32c5d2;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-2:hover {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-2:focus {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-2:active {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-2 > i {
    vertical-align: -20%;
}

.sh-btn-2 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-3 {
    padding: 0 12px;
    outline: 0;
    cursor: pointer;
    min-height: 38px;
    line-height: 38px;
    background: #fff;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-3:hover {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-3:focus {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-3:active {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-3 > i {
    vertical-align: -20%;
}

.sh-btn-3:focus {
    outline: 0;
    color: #666;
    background-color: #ffffff;
}

.sh-btn-3 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-4 {
    min-height: 40px;
    line-height: 40px;
    background: #5FA4C6;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-4:hover {
    color: #fff;
    background: #4897BE;
}

.sh-btn-4:focus {
    color: #fff;
    background: #4897BE;
}

.sh-btn-4:active {
    color: #fff;
    background: #4897BE;
}

.sh-btn-4 > i {
    vertical-align: -20%;
}

.sh-btn-4 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-5 {
    min-height: 38px;
    line-height: 38px;
    background: #ffffff;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-5:hover {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-5:focus {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-5:active {
    color: #fff;
    background: #ccc;
    border-color: #ccc;
}

.sh-btn-5 > i {
    vertical-align: -20%;
}

.sh-btn-5 > i {
    font-size: 15px;
    margin-left: 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sh-btn-6 {
    min-height: 25px;
    line-height: 25px;
    background: #FF4573;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
}

.sh-btn-6:hover {
    color: #fff;
    background: #FF003F;
}

.sh-btn-6:focus {
    color: #fff;
    background: #FF003F;
}

.sh-btn-6:active {
    color: #fff;
    background: #FF003F;
}

.sh-btn-6 > i {
    vertical-align: -20%;
}

.sh-btn-6 > i {
    margin-left: 5px;
}

.sh-btn-7 {
    min-height: 23px;
    line-height: 23px;
    background: transparent;
    color: #999;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-7 > i {
    vertical-align: -20%;
}

.sh-btn-7 > i {
    margin-left: 5px;
}

.sh-btn-8 {
    min-height: 24px;
    line-height: 24px;
    background: transparent;
    color: #666666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
}

.sh-btn-8:hover {
    color: #fff;
    background: #4276A4;
    border-color: #4276A4;
}

.sh-btn-8:focus {
    color: #fff;
    background: #4276A4;
    border-color: #4276A4;
}

.sh-btn-8:active {
    color: #fff;
    background: #4276A4;
    border-color: #4276A4;
}

.sh-btn-8 > i {
    vertical-align: -20%;
}

.sh-btn-8 > i {
    margin-left: 5px;
}

.sh-btn-6-1 {
    min-height: 25px;
    line-height: 25px;
    background: #32c5d2;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
}

.sh-btn-6-1:hover {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-6-1:focus {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-6-1:active {
    color: #fff;
    background: #26a1ab;
}

.sh-btn-6-1 > i {
    vertical-align: -20%;
}

.sh-btn-6-1 > i {
    margin-left: 5px;
}

.sh-btn-9 {
    min-height: 38px;
    line-height: 38px;
    background: #ffffff;
    color: #999;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
}

.sh-btn-9:hover {
    color: #ffffff;
    background: #32c5d2;
    border-color: #32c5d2;
}

.sh-btn-9:focus {
    color: #ffffff;
    background: #32c5d2;
    border-color: #32c5d2;
}

.sh-btn-9:active {
    color: #ffffff;
    background: #32c5d2;
    border-color: #32c5d2;
}

.sh-btn-9 > i {
    vertical-align: -20%;
}

.sh-btn-9 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-large {
    color: #ccc;
    width: 148px;
    height: 92px;
    display: inline-block;
    text-align: center;
    border: 1px dashed #ccc;
    position: relative;
    float: right;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.sh-btn-large > i {
    font-size: 25px;
    margin-top: -20px;
    margin-right: -10px;
    position: absolute;
    top: 50%;
    right: 50%;
}

.sh-btn-large > p {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.sh-btn-10 {
    padding: 0 12px;
    outline: 0;
    cursor: pointer;
    min-height: 38px;
    line-height: 38px;
    background: #fff;
    color: #666;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sh-btn-10 > i {
    vertical-align: -20%;
}

.sh-btn-10:focus {
    outline: 0;
    color: #666;
    background-color: #ffffff;
}

.sh-btn-10 > i {
    font-size: 15px;
    margin-left: 5px;
}

.sh-btn-10 > i:hover {
    color: #FF9500;
}
