{% extends "base.html" %}
{% load static %}
{% block meta_head %}
     <link rel="stylesheet" type="text/css" href="{% static "css/colorpicker.css" %}" />
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href="#"><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li><span>بنر</span></li>
        <li class="uk-active"><span>ویرایش بنر</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form dash-addsticker uk-form-row">
            <div class="sh-product-head">
                <h3 class="uk-panel-title">
                    <i class="panda panda-profile"></i>ویرایش بنر
                </h3>
            </div>
            <label class="uk-margin-small-left">{{ form.name.label }} :</label>{{ form.name }}
            <label class="uk-margin-small-left uk-margin-large-right">{{ form.link.label }} :</label>{{ form.link }}
            <label class="uk-margin-small-left uk-margin-large-right">{{ form.color.label }} :</label>{{ form.color }}
            <div class="uk-form-row">
                <div class="dash-addsticker-details">
                    <div class="uk-form-file">
                        <label style="vertical-align:baseline;">{{ form.image.label }}:</label>{{ form.image }}
                        <button class="sh-btn-9">Choose File</button>
                    </div>
                    <img class="uk-margin-large-right" src="{{ image }}" id="image">
                </div>
            </div>
            <div class="tm-panel-footer">
                <a class="sh-btn-3 uk-button" href="{% url 'banner_list' %}"><i class="panda panda-cross"></i>انصراف</a>
                <button class="sh-btn-4 uk-button" type="submit"><i class="panda panda-floppy-disk"></i>ذخیره</button>
            </div>
        </div>
    </form>

{% endblock content %}
{% block js_code %}
    <script src="{% static "js/colorpicker.js" %}"></script>

    <script>
        aside_dynamic('site_management', 'banner_management');

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                 uikitNotify('{{ error }}', 'panda\&#32panda-warning', 'warning');
                {% endfor %}
            {% endfor %}
        {% endif %}

        function delete_banner(banner_id){
            UIkit.modal.confirm('آیا مطمین هستید ؟', function () {
                var data = {
                    'banner_id': banner_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                $.ajax({
                    url: '{% url "banner_delete" %}',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if(result['message'] == 'success'){
                            $('#'+banner_id).remove();
                            uikitNotify('محصول از پیشنهاد ویژه پاک شد.', 'panda\&#32panda-cross', 'success');
                        }else{
                            notify_error(500, false)
                        }
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                })
            }, {labels: {'Ok': 'بلی', 'Cancel': 'خیر'}});
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').removeClass('uk-hidden');
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#id_image").change(function(){
            readURL(this);
        });

        $('input#id_color').ColorPicker({
            color: '#EFEFEF',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('input#id_color').css('backgroundColor', '#' + hex);
                $('input#id_color').val("#" + hex);
            }
        });
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
