{% extends "base.html" %}
{% load static %}
{% block meta_head %}
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>بنر</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary sh-brands-details">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>بنر
            </h3>
        </div>
        <div class="tm-panel-header">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'banner_add' %}"><i class="panda panda-plus"></i>افزودن بنر</a>
        </div>
        <table class="uk-table sh-brands-allbrands">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام</th>
                <th>لینک</th>
                <th>رنگ</th>
                <th>عکس</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="sample_form">
            {% for banner in banners %}
                <tr id="{{ banner.id }}">
                    <td>{{ forloop.counter0 }}</td>
                    <td>{{ banner.name|truncatechars:20 }}</td>
                    <td>{{ banner.link }}</td>
                    <td>{{ banner.color }}</td>
                    <td><img src="{{ banner.image }}" style="height: 20px;width: 40px"></td>
                    <td class="uk-float-left">
                        <a href="{% url 'banner_edit' banner.id %}" class="sh-btn-7 uk-button"><i class="panda panda-pencil"></i>ویرایش</a>
                        <a onclick="delete_banner('{{ banner.id }}')" class="sh-btn-6 uk-button"><i class="panda panda-bin"></i>پاک کردن</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'banner_add' %}"><i class="panda panda-plus"></i>افزودن بنر</a>
        </div>
    </div>

{% endblock content %}
{% block js_code %}
    <script>
        aside_dynamic('site_management', 'banner_management');

        function delete_banner(banner_id){
            UIkit.modal.confirm('آیا مطمین هستید ؟', function () {
                var data = {
                    'banner_id': banner_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                $.ajax({
                    url: '{% url "banner_delete" %}',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        $('#'+banner_id).remove();
                        uikitNotify('بنر مورد نظر از لیست بنرها حذف شد.', 'panda\&#32panda-cross', 'success');
                    },
                    // error: function (e) {
                    //     notify_error(e, true)
                    // }
                })
            }, {labels: {'Ok': 'بلی', 'Cancel': 'خیر'}});

        }
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
