{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link href="{% static 'css/cropper.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/trumbowyg.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span>تکمیل محتوا</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3 class="uk-panel-title"><i class="panda panda-qrcode"></i>تکمیل محتوا</h3>

        <div class="tm-panel-header uk-clearfix">
            <h2>Product ID: <span>PPID-{{ product_id }}</span></h2>
            <a class="sh-btn-3 uk-button" href="{% url 'productList' %}"><i class="panda panda-cross"></i>انصراف</a>
            <button class="add_product_submit sh-btn-4 uk-button" onclick="createProduct()"><i class="panda panda-floppy-disk"></i>ذخیره</button>
        </div>
        <ul class="tm-tab uk-tab" data-uk-switcher="{connect:'#sh-details-products', animation:'fade'}">
            <li class="uk-active"><a>اطلاعات کلی</a></li>
            <li><a>قیمت محصول</a></li>
            <li><a>رنگ بندی محصول</a></li>
        </ul>
        <input type="hidden" id="update_product" value="{{ update_product }}">
        <div class="uk-form uk-form-horizontal sh-create-newproduct-tab">
            <ul id="sh-details-products" class="tm-switcher-product uk-switcher">
                <li id="general-info">
                    <div class="uk-form-row">
                        {{ form.suggested_id }}
                        <label class="uk-form-label uk-text-left">{{ form.product_id.label }}:</label>

                        <div class="uk-form-controls">{{ form.product_id }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.product_name_fa.label }}:</label>
                        <div class="uk-form-controls">{{ form.product_name_fa }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.product_name_en.label }}:</label>
                        <div class="uk-form-controls">{{ form.product_name_en }}</div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.unit.label }}:</label>
                        <div class="uk-form-controls">{{ form.unit }}</div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.unit_type.label }}:</label>
                        <div class="uk-form-controls">{{ form.unit_type }}</div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.gender.label }}:</label>
                        <div class="uk-form-controls">{{ form.gender }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.brand.label }}</label>
                        <div class="uk-form-controls">
                            <select id="id_brand" name="brand" class="select_search">
                                {% for brand in brands %}
                                    <option value="{{ brand.brand_id }}" {% if brand.brand_id == product_brand %}selected{% endif %}>{{ brand.en_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.national_code.label }}:</label>
                        <div class="uk-form-controls">{{ form.national_code }}</div>
                    </div>
                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.exist.label }}:</label>
                        <div class="uk-form-controls">{{ form.exist }}</div>
                    </div>
                </li>
                <li>
                    <div class="uk-form-row">
                        <input id="old_sell" type="hidden" value="{{ form.sell.value }}">
                        <label class="uk-form-label uk-text-left sh-margin-medium-top">{{ form.buy.label }}:</label>
                        <div class="uk-form-controls">{{ form.buy }}</div>
                    </div>

                    <div class="uk-form-row">
                        <input id="old_buy" type="hidden" value="{{ form.buy.value }}">
                        <label class="uk-form-label uk-text-left sh-margin-medium-top">{{ form.sell.label }}:</label>
                        <div class="uk-form-controls">{{ form.sell }}</div>
                    </div>
                </li>
                <li>
                    <div id="Color">
                        <select name="color" class="select_color" id="selected_colors">
                            {% for color in all_color %}
                                <option value="{{ color.code }}" data-code="{{ color.code }}" data-presentation="{{ color.presentation }}">
                                    {{ color.presentation }}
                                </option>
                            {% endfor %}
                        </select>
                        <a class="sh-btn-2 uk-button uk-margin-small-right" onclick="addColor()"><i class="panda panda-plus"></i>افزودن</a>
                        <div id="colors" class="uk-margin-large-top uk-margin-large-right">
                            {% for item in product_colors %}
                                <a id="color_{{ item.code }}" class="sh-btn-10 uk-button"><i class="panda panda-cross" onclick="removeColor('{{ item.code }}')"></i>{{ item.presentation }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="tm-panel-footer">
            <a class="sh-btn-3 uk-button" href="{% url 'productList' %}"><i class="panda panda-cross"></i>انصراف</a>
            <button class="add_product_submit sh-btn-4 uk-button" onclick="createProduct()"><i class="panda panda-floppy-disk"></i>ذخیره</button>
        </div>
    </div>
{% endblock %}
{% block js_plugin %}
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script src="{% static 'js/colors.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic('manage_products', 'manage_products_all');

        csrf_token = '{{ csrf_token }}';

        $('#id_gender').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        $('#id_exist').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        $('#id_unit_type').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });

        $('.select_color').select2({'width': '15%'});

        $(".selectBox-dropdown-menu").mCustomScrollbar({theme: "dark-thin"});
        $(".select2-results").mCustomScrollbar({theme: "dark-thin"});

        $('.select_search').select2();

        {% for item in product_colors %}
            colors.push({code: '{{ item.code }}', presentation: '{{ item.presentation }}'});
        {% endfor %}


        var product_data = {};
        function createProduct() {
            UIkit.modal.confirm("آیا می خواهید تغییرات ذخیره شود؟", function () {
                $('#general-info').find("input[name], select[name]").each(function (index, node) {
                    product_data[node.name] = node.value;
                });
                product_data['colors'] = JSON.stringify(colors);
                product_data['price_change'] = JSON.stringify(checkPriceIsChange());
                product_data['csrfmiddlewaretoken'] = csrf_token;
                $('.add_product_submit').attr('disabled', 'disabled');
                $.ajax({
                    url: '{% url 'create_json_product' %}',
                    type: 'POST',
                    data: product_data,
                    success: function (result) {
                        $('.add_product_submit').removeAttr('disabled');
                        if (result['message'] == 'insert') {
                            uikitNotify('محصول با موفقیت اضافه شد.', 'panda\&#32panda-checkmark2', 'success');

                        } else if (result['message'] == 'update') {
                            uikitNotify('محصول به روز رسانی شد.', 'panda\&#32panda-checkmark2', 'success');

                        } else if (result['message'] == 'color_error') {
                            uikitNotify('محصول با رنگی که پاک شده در انبار وجود دارد', 'panda\&#32panda-warning', 'warning');
                            for (var color in remove_colors) {
                                colors.push(remove_colors[color]);
                                var html = '<a id="color_' + remove_colors[color].code + '" class="sh-btn-10 uk-button" style="margin-left:5px;"><i class="panda panda-cross" onclick="removeColor(\'' + remove_colors[color].code + '\')"></i>' + remove_colors[color].presentation + '</a>';
                                $("#colors").append(html)
                            }
                            remove_colors = []

                        } else if (result['message'] == 'session_error') {
                            uikitNotify('دوباره امتحان کنید.', 'panda\&#32panda-warning', 'warning');
                            setTimeout(function () {
                                window.location.href = "{% url 'productList'%}";
                            }, 1000);

                        } else if (result['message'] == 'form_error') {
                            for (var value in result['result']) {
                                uikitNotify(result['result'][value], 'panda\&#32panda-cross', 'danger');
                            }

                        } else if (result['message'] == 'error') {
                            notify_error(500, false)
                        }
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                });
            });
        }

        function checkPriceIsChange() {
            var price_change = false,
                old_buy = $("#old_buy").val(),
                old_sell = $("#old_sell").val(),
                new_buy = $('#id_buy').val(),
                new_sell = $('#id_sell').val();
            if (old_buy != new_buy || old_sell != new_sell) {
                product_data['sell'] = $('#id_sell').val();
                product_data['buy'] = $('#id_buy').val();
                price_change = true
            }
            return price_change
        }

    </script>
{% endblock %}
