{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span>ایجاد محصول جدید</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-newpro-first">
        <h3 class="uk-panel-title"><i class="panda panda-folder-open"></i>ایجاد محصول جدید</h3>
        <div class="uk-grid uk-margin-large-bottom uk-form-row">
            <p class="uk-width-1-6" style="margin: auto;" >رسته و گروه و .... محصول را مشخص کنید :</p>
            <div class="uk-width-5-6" id="all_c_g"></div>
        </div>
        <div class="tm-panel-footer">
            <a class="sh-btn-3 uk-button" href="{% url 'productList' %}"><i class="panda panda-cross"></i>انصراف</a>
            <button class="sh-btn-2 uk-button c-disabled" id="create_product" disabled="disabled"><i class="panda panda-plus"></i>ایجاد محصول جدید</button>
        </div>
    </div>
{% endblock %}
{% block js_code %}
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
    <script src="{% static 'js/category_tree.js' %}"></script>
    <script>
        aside_dynamic ('manage_products', 'manage_products-create');
        CategoryTree = JSON.parse('{{ category_tree }}'.replace(/&quot;/g, '"'));
        create_default_category();

        url_load_group = '{% url "load_group" %}';
        $('#create_product').on('click', function(event) {
            event.preventDefault();
            $.ajax({
                url: '{% url "create_product_id" %}',
                type: 'POST',
                data: {
                    'id_last_group': JSON.stringify(IdLastGroup),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (result) {
                    if(result['message'] == 'success'){
                        window.location.href = "/products/create/" + result['product_id'];
                    }else{
                        uikitNotify('مقدار های وارد شده صحیح نیست', 'panda\&#32panda-warning', 'warning');
                    }
                },
                error: function (e) {
                    notify_error(e, true)
                }
            })
        });
    </script>
{% endblock %}
