{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span> در انتظار تولید محتوا</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-spinner6"></i>محصولات در انتظار تولید محتوا
            </h3>
        </div>
        <table class="uk-table sh-all-pendingproduct-table">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد محصول</th>
                    <th>نام محصول</th>
                    <th>رسته و گروه</th>
                    <th>قیمت</th>
                    <th>تاریخ ثبت</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody id="products">
                {% for product in products %}
                    <tr id="{{ product.product_id }}">
                        <td>{{ forloop.counter }}</td>
                        <td>PPID-{{ product.product_id }}</td>
                        <td>{{ product.product_name_en|truncatechars:30 }}</td>
                        <td>
                            {% for item in product.categories %}
                                {{ item.name }}
                                {% if not forloop.last %}<i class="panda panda-left-2 sh-breadcrumb-next"></i>{% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ product.customer_price }}</td>
                        <td>{{ product.created_date }}</td>
                        <td class="uk-float-left sh-operations">
                            <a class="sh-btn-7 uk-button" href="/products/update/{{ product.product_id }}">
                                <i class="panda panda-file-text"></i>تولید محتوا
                            </a>
                            <button class="sh-btn-6 uk-button" onclick="transitions_product('{{ product.product_id }}', 'True')"><i class="panda panda-cross"></i>پاک کردن</button>
                        </td>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}
{% block js_code %}
    <script src="{% static 'js/paginator.js' %}"></script>
    <script>
        perm = true;
        content_product = true;
        csrf_token = '{{ csrf_token }}';
        aside_dynamic ('manage_products', 'pending_product');
        $(".sbOptions").mCustomScrollbar({theme:"dark-thin"});
    </script>
{% endblock %}
