{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span>محصولات پاک شده</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div id="dash-sh-content">
            <h3 class="uk-panel-title"><i class="panda panda-folder-open"></i>محصولات پاک شده</h3>
            <div class="tm-panel-header sh-products uk-form">
                <!--
            <a href="{% url 'productList' %}">محصولات</a>
        -->
                <label class="uk-float-right uk-margin-left">مرتب سازی</label>
                {{ filter_form.exist }}
                {{ filter_form.published }}
            <span>
                <label class="uk-float-right uk-margin-left">از قیمت (تومان)</label>
                {{ filter_form.min_price }}
                تا
                {{ filter_form.max_price }}
            </span>
                <span class="sh-search uk-search">{{ filter_form.search }}</span>
                <div class="uk-float-left">
                    <label class="uk-float-right uk-margin-left">تعداد نمایش</label>
                    {{ filter_form.product_per_page }}
                </div>
            </div>
            {{ filter_form.trash }}
            <table class="uk-table uk-table-striped sh-trashed-table">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>کد محصول</th>
                    <th>نام محصول</th>
                    <th>رسته و گروه</th>
                    <th>قیمت</th>
                    <th>تاریخ ثبت</th>
                    <th>آخرین تاریخ ویرایش</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="products"></tbody>
            </table>
            <div class="tm-panel-footer-small uk-clearfix">
                <ul class="uk-pagination uk-float-left" id="paginator"></ul>
            </div>
        </div>
    </div>

{% endblock content %}
{% block uikit_js %}
    <script src="{% static 'js/paginator.js' %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic ('manage_products', 'manage_products_trashed');
        comboBox('#id_exist, #id_published, #id_product_per_page');
        comboBox('.combo-large', 'combo-large');
        $(".sbOptions").mCustomScrollbar({theme:"dark-thin"});
        csrf_token = '{{ csrf_token }}';
        paginator(1);
    </script>
{% endblock %}
