{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span>همه محصولات</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-folder-open"></i>لیست محصولات
            </h3>
            <div class="sh-title-menu">
                <a href="{% url 'create_product_id' %}">
                    <i class="panda panda-clipboard"></i>
                    ایجاد محصول جدید
                </a>
                <a class="panda panda-cog"></a>
            </div>
        </div>
        <div class="tm-panel-header sh-products uk-form">
            {{ filter_form.exist.label }}: {{ filter_form.exist }}
            {{ filter_form.published.label }}: {{ filter_form.published }}
            <span>
                <label class="uk-margin-left">از قیمت (تومان)</label>
                {{ filter_form.min_price }} تا {{ filter_form.max_price }}
            </span>
            <span class="sh-search uk-search">{{ filter_form.search }}</span>
            <div class="uk-float-left">
                <label class="uk-margin-left">تعداد نمایش</label>
                {{ filter_form.product_per_page }}
            </div>
        </div>
        {{ filter_form.trash }}
        <table class="uk-table sh-all-product-table">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>کد محصول</th>
                <th>نام محصول</th>
                <th>رسته و گروه</th>
                <th>قیمت</th>
                <th>تاریخ ثبت</th>
                <th>آخرین ویرایش</th>
                <th>وضعیت</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="products"></tbody>
        </table>
        <div class="tm-panel-footer-small uk-clearfix">
            <div class="uk-float-right" id="table-footer-info">
                <span class="product record">{{ count_products }}</span>
                محصول ثبت شده
                <span class="product publish">{{ count_products_published }}</span>
                منتشر شده
                <span class="product Unpublished">{{ count_products_no_published }}</span>
                منتشر نشده
            </div>
            <ul class="sh-pagination uk-pagination uk-float-left" id="paginator"></ul>
        </div>
    </div>
{% endblock content %}
{% block modal %}
{% endblock %}
{% block uikit_js %}
    <script src="{% static 'js/paginator.js' %}"></script>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        csrf_token = '{{ csrf_token }}';
        perm = true;
        content_product = true;
        supply_unit_perm = true;

        $('#id_exist').selectBox({
            menuTransition: 'fade',
            topPositionCorrelation: '0',
            menuSpeed: 'fast'
        });
        $('#id_published').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        $('#id_product_per_page').selectBox({
            menuTransition: 'fade',
            topPositionCorrelation: '0',
            menuSpeed: 'fast'
        });

        paginator(1);
        $(".selectBox-dropdown-menu").mCustomScrollbar({theme: "dark-thin"});
        aside_dynamic('manage_products', 'manage_products_all');
    </script>
{% endblock %}
