{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link href="{% static 'css/cropper.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    <link href="{% static 'css/trumbowyg.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>محصولات</span></li>
        <li class="uk-active"><span>تکمیل محتوا</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary">
        <h3 class="uk-panel-title">
            <i class="panda panda-qrcode"></i> تکمیل محتوا
            <strong>{% if published %}منتشر شده{% else %}منتشر نشده{% endif %}</strong>
        </h3>

        <div class="tm-panel-header uk-clearfix">
            <h2>Product ID: <span>PPID-{{ product_id }}</span></h2>
            <a class="sh-btn-3 uk-button cancel-product">
                <i class="panda panda-cross"></i>انصراف
            </a>
            {#            <a class="sh-btn-9 uk-button" href="{% url 'productList' %}">#}
            {#                <i class="panda panda-eye"></i>پیش نمایش#}
            {#            </a>#}
            <button class="add_product_submit sh-btn-4 uk-button" onclick="updateProduct()"><i class="panda panda-floppy-disk"></i>ذخیره</button>
            <button class="published_product sh-bg-publish sh-btn-9 uk-button {% if published %}uk-hidden{% endif %}" style="border:none;" onclick="changePublishedProduct('{{ product_id }}', true)">
                <i class="panda panda-checkmark"></i>منتشر شود</button>
            <button class="unpublished_product sh-bg-unpublish sh-btn-9 uk-button {% if not published %}uk-hidden{% endif %}" style="border:none;" onclick="changePublishedProduct('{{ product_id }}', false)">
                <i class="panda panda-eye-blocked"></i>منتشر نشود</button>
        </div>
        <ul class="tm-tab uk-tab" data-uk-switcher="{connect:'#sh-details-products', animation: 'fade'}">
            <li class="uk-active"><a>اطلاعات کلی</a></li>
            <li><a>مشخصات کلی</a></li>
            <li><a>رنگ بندی محصولات</a></li>
            <li><a>تصاویر محصول</a></li>
            <li><a>مشخصات فنی</a></li>
            <li><a>نقاط ضعف / نقاط قوت</a></li>
            <li><a>دیگر دسته بندی محصول</a></li>
        </ul>
        <form class="uk-form uk-form-horizontal sh-create-newproduct-tab" id="form_product" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul id="sh-details-products" class="tm-switcher-product uk-switcher">
                <li class="general-info">

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.product_id.label }}:</label>

                        <div class="uk-form-controls">{{ form.product_id }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.product_name_fa.label }}:</label>
                        <div class="uk-form-controls">{{ form.product_name_fa }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.product_name_en.label }}:</label>
                        <div class="uk-form-controls">{{ form.product_name_en }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.gender.label }}:</label>
                        <div class="uk-form-controls">{{ form.gender }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.brand.label }}</label>
                        <div class="uk-form-controls">
                            <select id="id_brand" name="brand" class="select_search">
                                {% for brand in brands %}
                                    <option value="{{ brand.brand_id }}" {% if brand.brand_id == product_brand %}selected{% endif %}>{{ brand.en_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.national_code.label }}:</label>
                        <div class="uk-form-controls">{{ form.national_code }}</div>
                    </div>

                    <div class="uk-form-row">
                        <label class="uk-form-label uk-text-left">{{ form.exist.label }}:</label>
                        <div class="uk-form-controls">{{ form.exist }}</div>
                    </div>
                </li>
                <li id="general_specifications">
                    {{ form.general_specifications }}
                </li>
                <li>
                    {% if product_colors %}
                        <div id="Color">
                            <div id="colors" class="uk-margin-large-top uk-margin-large-right">
                                {% for item in product_colors %}
                                    <a id="color_{{ item.id }}" class="sh-btn-10 uk-button">{{ item.presentation }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="uk-text-center"><p>محصول بدون رنگ می باشد.</p></div>
                    {% endif %}
                </li>
                <li id="all_gallery">
                    {% if has_galleries %}
                        <a class="uk-button sh-btn-9" id="load_gallery" onclick="loadGallery()"><i class="panda panda-quill"></i>ویرایش عکس ها</a>
                    {% endif %}
                    <div id="div_add_gallery">
                        <input type="hidden" id="change_gallery" value="not_change">
                        <div id="add_color_image" style="display: none">
                            <label for="id_color">رنگ محصول مورد نظر را انتخاب کنید :</label>
                            <select id="id_color" name="color" class="select_color">
                                {% for color in all_color %}
                                    <option value="{{ color.code }}" data-code="{{ color.code }}" data-presentation="{{ color.presentation }}">
                                        {{ color.presentation }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="hidden" id="image_selected">
                        <a id="add_gallery" class="uk-button sh-btn-2 {% if has_galleries %}uk-hidden{% endif %}"><i class="panda panda-plus"></i>افزودن رنگ و گالری جدید</a>
                    </div>
                </li>
                <li>
                    <input type="hidden" id="change_technical_info" value="not_change">
                    {% if technical_info %}
                        <span class="uk-margin-large-right"> نکته: فیلد های ستاره دار حتما پر شوند.</span>
                        <div id="technical_info">
                            {% for technical in technical_info %}
                                <div class="class_technical" id="id_technical_{{ technical.title_en }}">
                                    <input id="title" name="title" type="text" value="{{ technical.title }}" disabled="disabled">
                                    <input name="title_en" type="text" value="{{ technical.title_en }}" class="uk-hidden">
                                    {% for sub in technical.list_technical_sub %}
                                        <div class="class_technical_sub" id="id_technical_sub_{{ sub.title_en }}">
                                            <input name="sub_title" type="text" value="{{ sub.title }}" disabled="disabled">
                                            <input name="sub_title_en" type="text" value="{{ sub.title_en }}" class="uk-hidden">
                                            <input name="searchable" type="text" value="{{ sub.searchable }}" class="uk-hidden">
                                            <input name="type_key" type="text" value="{{ sub.type_key }}" class="uk-hidden">
                                            <input name="sub_description" value="{{ sub.v_description }}" type="text" placeholder="توضیحات:مثال({{ sub.description }})">
                                            <input onkeypress="{% if sub.type_key == "int" %}return (event.keyCode == 46 || event.keyCode == 8 ||( event.charCode >= 48 && event.charCode <= 57));{% endif %}"
                                                   name="sub_description_en" value="{{ sub.v_description_en }}" type="text" placeholder="مقدار قابل جستجو :مثال ({{ sub.description_en }})">
                                            {% if sub.searchable %}
                                                <a style="color: red">*</a>
                                            {% endif %}
                                            {% if sub.type_key == "int" %}
                                                <a>عدد می باشد</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="uk-text-center"><p>فرمی برای این گروه طراحی نشده است.</p></div>
                    {% endif %}
                </li>
                <li>
                    <div class="uk-form-row sh-advantages-disadvantages">
                        <div id="advantages_input" style="display: none">
                            {{ form.advantages }}
                        </div>
                        <div id="disadvantages_input" style="display: none">
                            {{ form.disadvantages }}
                        </div>
                        <div class="uk-form-row" style="display: flex">
                            <div class="sh-advantages">
                                <label>{{ form.advantages.label }} :</label><br>
                                <div id="advantages">
                                    {% if not advantages %}
                                        <div id="id_advantages_0" style="display: inline-flex">
                                            <a id="add_advantages"><i class="panda panda-plus" onclick="addAdvantages()"></i></a>
                                            {{ form.advantages }}
                                        </div>
                                    {% else %}
                                        {% for item in  advantages %}
                                            <div id="id_advantages_{{ forloop.counter }}" style="display: inline-flex">
                                                {% if forloop.last %}
                                                    <a id="add_advantages"><i class="panda panda-plus" onclick="addAdvantages()"></i></a>
                                                {% endif %}
                                                <input class="advantages" name="advantages" type="text" value="{{ item }}">
                                                {% if not forloop.first %}
                                                    <a><i class="panda panda-cross" onclick="deleteAdvantages('{{ forloop.counter }}')"></i></a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="sh-advantages">
                                <label>{{ form.disadvantages.label }} :</label><br>
                                <div id="disadvantages">
                                    {% if not disadvantages %}
                                        <div id="id_disadvantages_0" style="display: inline-flex">
                                            <a id="add_disadvantages"><i class="panda panda-plus" onclick="addDisadvantages()"></i></a>
                                            {{ form.disadvantages }}
                                        </div>
                                    {% else %}
                                        {% for item in disadvantages %}
                                            <div id="id_disadvantages_{{ forloop.counter }}" style="display: inline-flex">
                                                {% if forloop.last %}
                                                    <a id="add_disadvantages"><i class="panda panda-plus" onclick="addDisadvantages()"></i></a>
                                                {% endif %}
                                                <input class="disadvantages" name="disadvantages" type="text" value="{{ item }}">
                                                {% if not forloop.first %}
                                                    <a><i class="panda panda-cross" onclick="deleteDisAdvantages('{{ forloop.counter }}')"></i></a>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sh-add-newprod uk-margin-large-bottom uk-form-row">
                    <div id="all_c_g"></div>
                    <button onclick="return false;" class="sh-btn-2 uk-button c-disabled uk-margin-right uk-margin-large-bottom" id="add_categories" disabled="disabled"><i class="panda panda-plus"></i>اضافه کردن دسته بندی جدید</button>
                    <div id="all_groups">
                        {% for cat in other_sub_categories %}
                            <a id="cat_{{ cat.id }}" class="sh-btn-10 uk-button uk-margin-small-right"><i class="panda panda-cross" onclick="RemoveIdCat('{{ cat.id }}')"></i>{{ cat.name }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </form>
        <div class="tm-panel-footer">
            <a class="sh-btn-3 uk-button" href="{% url 'productList' %}"><i class="panda panda-cross"></i>انصراف</a>
            <button class="add_product_submit sh-btn-4 uk-button" onclick="updateProduct()"><i class="panda panda-floppy-disk"></i>ذخیره</button>

            <button class="published_product sh-btn-9 sh-bg-publish uk-button {% if published %}uk-hidden{% endif %}" style="border:none;" onclick="changePublishedProduct('{{ product_id }}', true)">
                <i class="panda panda-checkmark"></i>منتشر شود</button>

            <button class="unpublished_product sh-btn-9 sh-bg-unpublish uk-button {% if not published %}uk-hidden{% endif %}" style="border:none;" onclick="changePublishedProduct('{{ product_id }}', false)">
                <i class="panda panda-eye-blocked"></i>منتشر نشود</button>

        </div>
    </div>
{% endblock %}

{% block modal %}
    <div id="modal-texture-crop" class="uk-modal">
        <div class="sh-crop-dialog uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header"><i class="panda panda-upload"></i>آپلود تصویر</div>
            <div class="uk-grid uk-grid-medium">
                <div class="uk-width-6-10">
                    <div class="image-gallery tm-img-container img-container">
                        <img class="cropper-texture" id="pre-img-texture" src="">
                        <i id="image-main-i" class="panda panda-image"></i>
                    </div>
                </div>
                <div class="uk-width-4-10">
                    <p id="sh-info"><i class="panda panda-notification"></i>پیش‌ نمایش کادر انتخابی شما</p>
                    <div class="img-preview preview-lg uk-margin-large-bottom"></div>
                </div>
            </div>
            <div class="uk-modal-footer">
                <div class="uk-form-file">
                    <button class="sh-btn-5 uk-button" id="upload-img"><i class="panda panda-upload"></i>آپلود
                        تصویر
                    </button>
                    <input type="file" class="sr-only" name="file" accept="image/*" id="inputImageTexture">
                </div>
                <a class="sh-btn-4 uk-button uk-float-left uk-margin-right" id="save_image_texture"><i class="panda panda-upload3"></i>آپلود عکس</a>
                <a class="sh-btn-5 uk-button uk-float-left uk-modal-close"><i class="panda panda-cross"></i>انصراف</a>
            </div>
        </div>
    </div>

    <div id="modal-image-crop" class="uk-modal">
        <div class="sh-crop-dialog uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header"><i class="panda panda-upload"></i>آپلود تصویر</div>
            <div class="uk-grid uk-grid-medium">
                <div class="uk-width-6-10">
                    <div class="image-gallery tm-img-container img-container">
                        <img class="cropper" id="pre-img" src="">
                        <i id="image-main-i" class="panda panda-image"></i>
                    </div>
                </div>
                <div class="uk-width-4-10">
                    <p id="sh-info"><i class="panda panda-notification"></i>پیش‌ نمایش کادر انتخابی شما</p>
                    <div class="img-preview preview-lg uk-margin-large-bottom"></div>
                </div>
            </div>
            <div class="uk-modal-footer">
                <div class="uk-form-file">
                    <button class="sh-btn-5 uk-button" id="upload-img"><i class="panda panda-upload2"></i>آپلود
                        تصویر
                    </button>
                    <input type="file" class="sr-only" name="file" accept="image/*" id="inputImage">
                </div>
                <a class="sh-btn-4 uk-button uk-float-left uk-margin-right" id="saveimage"><i class="panda panda-upload3"></i>آپلود عکس</a>
                <a class="sh-btn-5 uk-button uk-float-left uk-modal-close"><i class="panda panda-cross"></i>انصراف</a>
            </div>
        </div>
    </div>

    <div id="modal-crop-thumbnail-150-170" class="uk-modal">
        <div class="sh-crop-dialog uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header"><i class="panda panda-upload"></i>آپلود تصویر</div>
            <div class="uk-grid uk-grid-medium">
                <div class="uk-width-6-10">
                    <div class="image-thumbnail-150-170 tm-img-container img-container">
                        <img class="cropper-thumbnail-150-170" id="thumbnail-150-170-img" src="">
                    </div>
                </div>
                <div class="uk-width-4-10">
                    <p id="sh-info"><i class="panda panda-notification"></i>پیش‌ نمایش کادر انتخابی شما</p>
                    <div class="img-preview preview-lg uk-margin-large-bottom"></div>
                </div>
            </div>
            <div class="uk-modal-footer">
                <a class="sh-btn-2 uk-button uk-float-left uk-margin-right" id="saveThumbnail_155_170"><i class="panda panda-upload3"></i>آپلود عکس</a>
                <a class="sh-btn-3 uk-button uk-float-left uk-modal-close"><i class="panda panda-cross"></i>انصراف</a>
            </div>
        </div>
    </div>

    <div id="modal-crop-thumbnail-97-97" class="uk-modal">
        <div class="sh-crop-dialog uk-modal-dialog">
            <a class="uk-modal-close uk-close"></a>
            <div class="uk-modal-header"><i class="panda panda-upload"></i>آپلود تصویر</div>
            <div class="uk-grid uk-grid-medium">
                <div class="uk-width-6-10">
                    <div class="image-thumbnail-97-97 tm-img-container img-container">
                        <img class="cropper-thumbnail-97-97" id="thumbnail-97-97-img" src="">
                    </div>
                </div>
                <div class="uk-width-4-10">
                    <p id="sh-info"><i class="panda panda-notification"></i>پیش‌ نمایش کادر انتخابی شما</p>

                    <div class="img-preview preview-lg uk-margin-large-bottom"></div>
                </div>
            </div>
            <div class="uk-modal-footer">
                <a class="sh-btn-2 uk-button uk-float-left uk-margin-right" id="saveThumbnail_97x97"><i class="panda panda-upload3"></i>آپلود عکس</a>
                <a class="sh-btn-3 uk-button uk-float-left uk-modal-close"><i class="panda panda-cross"></i>انصراف</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block uikit_js %}
    <script src="{% static 'js/components/upload.min.js' %}"></script>
{% endblock %}
{% block js_plugin %}
    <script src="{% static 'js/cropper.js' %}"></script>
    <script src="{% static 'js/cropper-gallery.js' %}"></script>
    <script src="{% static 'js/cropper-thumbnail.js' %}"></script>
    <script src="{% static 'js/cropper-texture.js' %}"></script>

    <script src="{% static 'js/technical_info_product.js' %}"></script>
    <script src="{% static 'js/advantages.js' %}"></script>
    <script src="{% static 'js/gallery_product.js' %}"></script>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/jquery.selectBox.js' %}"></script>

    <script src="{% static 'js/category_tree.js' %}"></script>

{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic('manage_products', 'manage_products_all');

        $('#id_gender').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });
        $('#id_exist').selectBox({
            menuTransition: 'fade',
            menuSpeed: 'fast'
        });

        $(".selectBox-dropdown-menu").mCustomScrollbar({theme: "dark-thin"});
        $(".select2-results").mCustomScrollbar({theme: "dark-thin"});

        $(".sh-list-scroll").mCustomScrollbar({theme: "dark-thin"});
        $('.select_search').select2();

        $('.cancel-product').click(function () {
            UIkit.modal.confirm("آیا از انصراف اطمینان دارید؟", function () {
                window.location.href = '/products/';
            });
        });

        csrf_token = '{{ csrf_token }}';

        var product_data = [];
        function updateProduct() {
            UIkit.modal.confirm("آیا می خواهید تغییرات ذخیره شود؟", function () {

                product_data = new FormData($('#form_product')[0]);
                getTechnicalInfo();
                var galleries_bool = getGalleries();
                if (galleries_bool) {
                    $('.add_product_submit').attr('disabled', 'disabled');
                    product_data.append('list_advantages', JSON.stringify(getAdvantages()));
                    product_data.append('list_disadvantages', JSON.stringify(getDisAdvantages()));
                    product_data.append('categories', JSON.stringify(Categories));
                    $.ajax({
                        url: '{% url 'update_json_product' %}',
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data: product_data,
                        dataType: 'json',
                        success: function (result) {
                            $('.add_product_submit').removeAttr('disabled');
                            if (result['message'] == 'update') {
                                uikitNotify('محصول به روز رسانی شد.', 'panda\&#32panda-checkmark2', 'success');
                                set_some_variable();

                            } else if (result['message'] == 'session_error') {
                                uikitNotify('محصول را دوباره باز کنید', 'panda\&#32panda-cross', 'danger');
                                setTimeout(function () {
                                    window.location.href = "{% url 'productList'%}";
                                }, 1000);

                            } else if (result['message'] == 'form_error') {
                                for (var value in result['result']) {
                                    uikitNotify(result['result'][value], 'panda\&#32panda-cross', 'danger');
                                }

                            } else if (result['message'] == 'error') {
                                notify_error(500, false)

                            } else if (result['message'] == 'technical_error') {
                                uikitNotify("فیلدهای مشخصات فنی که عدد می باشند باید عدد قرار دهید.", 'panda\&#32panda-warning', 'warning');
                            }
                        },
                        error: function (e) {
                            $('.add_product_submit').removeAttr('disabled');
                            notify_error(e, true)
                        }
                    });
                }
            });
        }

        function set_some_variable() {
            $('#change_gallery').val('not_change');
            $('#review_change').val('not_change');
            $('#change_technical_info').val('not_change');
            $("#old_buy").val($('#id_buy').val());
            $("#old_sell").val($('#id_sell').val());
        }

        function getGalleries() {
            if ($('#change_gallery').val() == 'change') {
                var galleries = set_gallery();
                if (galleries) {
                    product_data.append('gallery_image', JSON.stringify(galleries));
                    return true
                }
                return false
            }
            return true
        }

        function getTechnicalInfo() {
            if ($('#change_technical_info').val() == 'change') {
                product_data.append('technical_info', JSON.stringify(technical_info_product()));
            }
        }

        $('#technical_info input[type=text]').change(function () {
            $('#change_technical_info').val('change')
        });

        function AppendSizeProduct() {
            var list_size = [];
            $("#size-check-box").find("input[type=checkbox]").each(function () {
                var dict_size = {
                    'code': $(this).attr('data-code'),
                    'presentation': $(this).attr('data-presentation'),
                    'active': false
                };
                if ($(this).prop("checked")) {
                    dict_size['active'] = true
                }
                list_size.push(dict_size)
            });
            return list_size
        }

        changeColorStatus();
        function changeColorStatus() {
            if ($('#id_color_status_0').is(':checked')) {
                $('#Color').removeClass('uk-hidden');
                $('#Texture').addClass('uk-hidden');

            } else if ($('#id_color_status_1').is(':checked')) {
                $('#Color').addClass('uk-hidden');
                $('#Texture').removeClass('uk-hidden');
            }
        }

        function editColor(id) {
            $('#secondary_code_' + id).removeClass('uk-hidden').select2();
            $('.submit_' + id).removeClass('uk-hidden');
            $('#edit_color_' + id).addClass('uk-hidden');
            $('#image_texture_' + id).attr('onclick', 'changeTextureImage("' + id + '")')
        }

        function cancelSubmitColor(id) {
            $('#secondary_code_' + id).select2('destroy').addClass('uk-hidden');
            $('.submit_' + id).addClass('uk-hidden');
            $('#edit_color_' + id).removeClass('uk-hidden');
            $('#image_texture_' + id).removeAttr('onclick')
        }

        function submitColor(code, id) {
            var secondary_event = $('#secondary_code_' + id + " :selected");
            var data = {
                'code': code,
                'id': id,
                'csrfmiddlewaretoken': csrf_token,
                'secondary_code': secondary_event.attr('data-code'),
                'secondary_presentation': secondary_event.attr('data-presentation')
            };
            var image_data = $('#image_texture_' + id).attr('src');
            if (image_data.split('data:image/jpeg;base64').length == 2) {
                data['image'] = image_data
            }
            $.ajax({
                url: '/products/edit_color_product/',
                type: 'POST',
                data: data,
                success: function (result) {
                    if (result['message'] == "success") {
                        uikitNotify('ویرایش شد.', 'panda\&#32panda-checkmark2', 'success');
                        $('#secondary_color_' + id).css('background-color', "#" + secondary_event.attr('data-code'))

                    } else if (result['message'] == "no_update") {
                        uikitNotify('ویرایش انجام نشد.', 'panda\&#32panda-warning', 'warning');

                    }
                    cancelSubmitColor(id)
                },
                error: function (e) {
                    notify_error(e, true)
                }
            });
        }

        var modal_texture = UIkit.modal("#modal-texture-crop", {bgclose: false, center: true});

        var image_texture_id;
        function changeTextureImage(id) {
            modal_texture.show();
            image_texture_id = id;
        }

        $("#save_image_texture").click(function () {
            try {
                var image = $('#pre-img-texture').cropper('getCroppedCanvas', {
                    width: 100,
                    height: 100
                }).toDataURL('image/jpeg', 1);

                $('#image_texture_' + image_texture_id).attr('src', image);
                modal_texture.hide();
            }
            catch (e) {
                uikitNotify('لطفا عکس انتخاب کنید.', 'panda\&#32panda-warning', 'warning');
            }
        });

        {% if has_galleries %}
            function loadGallery() {
                var galleries_show = '{{ galleries }}';
                $('#all_gallery').prepend('<img style="display: inherit;margin: auto;height: 50px;width: 50px;" id="spinner_gallery" src="{% static 'img/spinner.gif' %}">');
                galleries_show = JSON.parse(galleries_show.replace(/&quot;/g, '"'));
                len_gallery_count = galleries_show.length - 1;
                for (var key = len_gallery_count; key >= 0; key--) {
                    load_image_gallery(galleries_show[key]);
                }
                $('#add_gallery').removeClass('uk-hidden');
                $('#load_gallery').remove();

            }
        {% endif %}

        CategoryTree = JSON.parse('{{ category_tree }}'.replace(/&quot;/g, '"'));
        create_default_category();

        var Categories = [];
        {% for cat in other_sub_categories %}
            Categories.push({{ cat.id }});
        {% endfor %}

        $('#add_categories').click(function () {
            $("#all_c_g select").each(function (index) {
                var level_class = index + 1;
                var element = $(".level_" + level_class + " :selected");
                appendHtmlCat(element);
                Categories.push(parseInt(element.val()))
            });
            clean_groups(0);
            create_default_category();
        });

        function RemoveIdCat(id_cat) {
            id_cat = parseInt(id_cat);
            for (var index in Categories) {
                if (Categories[index] == id_cat) {
                    Categories.splice(index, 1);
                    $("#cat_" + id_cat).remove()
                }
            }
        }

        function appendHtmlCat(element) {
            var id_cat = parseInt(element.val());
            var name_cat = element.attr("data-name");
            var bool_find = false;
            for (var index in Categories) {
                if (Categories[index] == id_cat) {
                    bool_find = true
                }
            }
            if (!bool_find) {
                $("#all_groups").append('<a id="cat_' + id_cat + '" class="sh-btn-10 uk-margin-small-right uk-button"><i class="panda panda-cross" onclick="RemoveIdCat(\'' + id_cat + '\')"></i>' + name_cat + '</a>');
            }
        }
    </script>
{% endblock js_code %}
