//
// Component: Badge
//
// ========================================================================


// Variables
// ========================================================================

$badge-background:                              $global-primary-background;
$badge-font-size:                               12px; // 10px / 12px
$badge-font-weight:                             normal;
$badge-line-height:                             25px; // 14px / 16px
$badge-color:                                   $global-contrast-color;
$badge-hover-color:                             $global-contrast-color;

$badge-notification-font-size:                  round(($global-font-size * 0.85)); // 12px / 14px
$badge-notification-line-height:                round(($badge-notification-font-size * 1.46)); // 18px / 20px

$badge-success-background:                      $global-success-background;
$badge-warning-background:                      $global-warning-background;
$badge-danger-background:                       $global-danger-background;


// Component
// ========================================================================

@mixin hook-badge() {

    @include border-radius(5px);
}


// Color modifier
// ========================================================================

//
// Modifier: `badge-success`
//

@mixin hook-badge-success() {}

//
// Modifier: `badge-warning`
//

@mixin hook-badge-warning() {}

//
// Modifier: `badge-danger`
//

@mixin hook-badge-danger() {}


// Miscellaneous
// ========================================================================

@mixin hook-badge-misc() {}
