//
// Component: Block
//
// ========================================================================


// Variables
// ========================================================================

$block-padding-vertical:                         20px;
$block-padding-vertical-large:                   37px;

$block-default-background:                      #FFF;
$block-muted-background:                        #343232;
$block-primary-background:                      #f07879;
$block-secondary-background:                    #F24646;

// Component
// ========================================================================

@mixin hook-block() {}


// Color modifier
// ========================================================================

@mixin hook-block-default() {}

@mixin hook-block-muted() {}

@mixin hook-block-secondary() {}

@mixin hook-block-primary() {}


// Miscellaneous
// ========================================================================

@mixin hook-block-misc() {}