//
// Component: Breadcrumb
//
// ========================================================================


// Variables
// ========================================================================

$breadcrumb-divider:                            "\e903";

$breadcrumb-disabled-color:                     $global-muted-color;

// Component
// ========================================================================

@mixin hook-breadcrumb() {}


// Items
// ========================================================================

@mixin hook-breadcrumb-divider() {
    font-family: $panda-font !important;
    color: #aaa;
    font-size: 10px;
}


// Miscellaneous
// ========================================================================

@mixin hook-breadcrumb-misc() {
    .uk-breadcrumb > li,
    .uk-breadcrumb > li > a,
    .uk-breadcrumb > li > span { color: #999; }
}
