//
// Component: Close
//
// ========================================================================


// Component
// ========================================================================

@mixin hook-close() {}


// Modifier: `uk-close-alt`
// ========================================================================

@mixin hook-close-alt() {}


// Miscellaneous
// ========================================================================

@mixin hook-close-misc() {

    .uk-close:after {
        content: "\e9e4";
        font-family: $panda-font !important;
    }

    .uk-close:hover,
    .uk-close:focus { // 1
        opacity: 1;
        color: #FF3428;
    }
}
