//
// Component: Description list
//
// ========================================================================


// Variables
// ========================================================================

$description-list-line-border:                  $global-border;
$description-list-line-color:                   $global-color;


// Miscellaneous
// ========================================================================

@mixin hook-description-list-misc() {

    /* Tablet and bigger */
    @media (min-width: $breakpoint-medium) {


        .uk-description-list-horizontal > dt { float: right; }

        .uk-description-list-horizontal > dd {
            margin-right: $description-list-horizontal-margin-left;
            margin-left: 0;
        }

    }
}