//
// Component: Dotnav
//
// ========================================================================

$dotnav-margin-horizontal:                       0;
$dotnav-margin-vertical:                         3px;

$dotnav-width:                                   11px;
$dotnav-height:                                  $dotnav-width;

// Variables
// ========================================================================


// Component
// ========================================================================

@mixin hook-dotnav-item() {
    border: 1px solid #ddd;
}

@mixin hook-dotnav-item-hover() {}

@mixin hook-dotnav-item-onclick() {}

@mixin hook-dotnav-item-active() {}

@mixin hook-dotnav-contrast-item() {}

@mixin hook-dotnav-contrast-item-hover() {}

@mixin hook-dotnav-contrast-item-onclick() {}

@mixin hook-dotnav-contrast-item-active() {}


// Miscellaneous
// ========================================================================

@mixin hook-dotnav-misc() {}