//
// Component: Dropdown
//
// ========================================================================


// Variables
// ========================================================================

$dropdown-z-index:                              $global-z-index + 20;
$dropdown-width:                                279px;
$dropdown-color:                                $global-color;
$dropdown-padding:                              10px;
$dropdown-background:                           $global-background;
$dropdown-divider-border:                       $global-border;

$dropdown-navbar-background:                    $global-background;
$dropdown-navbar-color:                         $global-color;


// Component
// ========================================================================

@mixin hook-dropdown() {
    border: 1px solid #eee;

    @include border-radius(3px);
}


// Modifier: `uk-dropdown-navbar`
// ========================================================================

@mixin hook-dropdown-navbar() {}


// Miscellaneous
// ========================================================================

@mixin hook-dropdown-misc() {
    .uk-dropdown .uk-nav { margin: 0 }
}