//
// Component: Form
//
// ========================================================================


// Variables
// ========================================================================

$form-height:                                   $global-height;
$form-border:                                   #efefef;
$form-background:                               #efefef;
$form-color:                                    $global-color;

$form-focus-border:                             #61beb3;
$form-focus-background:                         #efefef;
$form-focus-color:                              $global-color;

$form-disabled-border:                          #F3F2F7;
$form-disabled-background:                      #F3F2F7;
$form-disabled-color:                           #cecdd2;

$form-gutter:                                   $global-margin;

$form-legend-border:                            $global-border;
$form-legend-font-size:                         round(($global-font-size * 1.28)); // 18px / 20px
$form-legend-line-height:                       round(($form-legend-font-size * 1.68)); // 30px / 34px

$form-small-height:                             $global-height-small;
$form-large-height:                             $global-height-large;
$form-small-font-size:                          round(($global-font-size * 0.85)); // 12px / 14px
$form-large-font-size:                          round(($global-font-size * 1.14)); // 16px / 18px

$form-blank-border:                             $global-border;

$form-icon-font-size:                           $global-font-size;
$form-icon-color:                               $global-muted-color;


// Component
// ========================================================================

@mixin hook-form() {
    @include border-radius(3px);
}

// Focus state
@mixin hook-form-focus() {
}

// Disabled state
@mixin hook-form-disabled() {}

// Legend
@mixin hook-form-legend() {}


// Validation states
// ========================================================================

//
// Error state
//

@mixin hook-form-danger() {}

//
// Success state
//

@mixin hook-form-success() {}


// Style modifiers
// ========================================================================

@mixin hook-form-blank() {}

@mixin hook-form-blank-focus() {}


// Sub-object: `uk-form-label`
// ========================================================================

@mixin hook-form-stacked-label() {}

@mixin hook-form-horizontal-label() {}


// Miscellaneous
// ========================================================================

@mixin hook-form-misc() {

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        .uk-form-horizontal .uk-form-label { float: right; }

        .uk-form-horizontal .uk-form-controls {
            margin-right: $form-horizontal-controls-margin-left;
            margin-left: 0;
        }
    }

    input[type=file]::-webkit-file-upload-button { cursor: pointer; }

    .uk-form-small-input select,
    .uk-form-small-input input:not([type]),
    .uk-form-small-input input[type="text"],
    .uk-form-small-input input[type="password"],
    .uk-form-small-input input[type="datetime"],
    .uk-form-small-input input[type="datetime-local"],
    .uk-form-small-input input[type="date"],
    .uk-form-small-input input[type="month"],
    .uk-form-small-input input[type="time"],
    .uk-form-small-input input[type="week"],
    .uk-form-small-input input[type="number"],
    .uk-form-small-input input[type="email"],
    .uk-form-small-input input[type="url"],
    .uk-form-small-input input[type="search"],
    .uk-form-small-input input[type="tel"],
    .uk-form-small-input input[type="color"] {
        height: 23px;
        padding: 3px 3px;
    }
}