//
// Component: Grid
//
// ========================================================================


// Variables
// ========================================================================

$grid-gutter-horizontal:                        $global-grid-gutter;
$grid-gutter-vertical:                          $global-grid-gutter;

$grid-gutter-large-horizontal:                  $global-grid-gutter-large;
$grid-gutter-large-vertical:                    $global-grid-gutter-large;

$grid-divider-border:                           $global-border;


// Miscellaneous
// ========================================================================

@mixin hook-grid-misc() {

    /* Halves */
    .uk-width-2-4,
    .uk-width-3-6,
    .uk-width-5-10 { width: 51.38%; }

    /* Quarters */
    .uk-width-1-4 { width: 24.31%; }
    .uk-width-3-4 { width: 75.69%; }

    /* Desktop and bigger */
    @media (min-width: $breakpoint-large) {

        /* Quarters */
        .uk-width-large-1-4 { width: 24.31%; }

        /* Halves */
        .uk-width-large-1-2,
        .uk-width-large-2-4,
        .uk-width-large-3-6,
        .uk-width-large-5-10 { width: 51.38%; }
    }
}