//
// Component: Modal
//
// ========================================================================


// Variables
// ========================================================================

$modal-z-index:                                 $global-z-index + 10;
$modal-background:                              rgba(202,202,202,0.5);

$modal-dialog-width:                            523px;
$modal-dialog-background:                       $global-background;

$modal-header-margin-bottom:                    $global-margin;

$modal-footer-margin-top:                       $global-margin;

$modal-caption-color:                           $global-contrast-color;


// Component
// ========================================================================

@mixin hook-modal() {
    direction: ltr;

    > * { direction: rtl; }
}


// Sub-object: `uk-modal-dialog`
// ========================================================================

@mixin hook-modal-dialog() {
    direction: rtl;
    background-color: #ffffff;

    @include border-radius(5px);
}


// Modifier: `uk-modal-dialog-lightbox`
// ========================================================================

@mixin hook-modal-dialog-lightbox() {}


// Sub-object: `uk-modal-header`
// ========================================================================

@mixin hook-modal-header() {
    border-bottom: 1px solid #E5E5E5;
    margin: -20px -20px 0;
    padding: 0 20px;
    height: 64px;
    line-height: 65px;
    font-family: $panda-font !important;
    font-size: 13px;
    text-align: right;
    color: #aaa;

    > i { margin-left: 8px; }
}


// Sub-object: `uk-modal-footer`
// ========================================================================

@mixin hook-modal-footer() {}


// Sub-object: `uk-modal-caption`
// ========================================================================

@mixin hook-modal-caption() {}


// Sub-object: `uk-modal-spinner`
// ========================================================================

@mixin hook-modal-spinner() {}


// Miscellaneous
// ========================================================================

@mixin hook-modal-misc() {

    .uk-modal-dialog > .uk-close:first-child {
        margin: 3px -10px 0 0;
        float: left;
        font-size: 14px;
    }
    .uk-modal-dialog-blank { background-color: transparent; }
}
