//
// Component: Navbar
//
// ========================================================================


// Variables
// ========================================================================

$navbar-background:                             #fff;
$navbar-color:                                  $global-color;
$navbar-link-color:                             $global-link-color;
$navbar-link-hover-color:                       $global-link-hover-color;

$navbar-nav-height:                             36px;
$navbar-nav-line-height:                        $navbar-nav-height;
$navbar-nav-color:                              $global-color;
$navbar-nav-font-size:                          $global-font-size;
$navbar-nav-font-family:                        tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-nav-hover-background:                   $global-background;
$navbar-nav-hover-color:                        #999;
$navbar-nav-onclick-background:                 $global-background;
$navbar-nav-onclick-color:                      $global-color;
$navbar-nav-active-background:                  $global-background;
$navbar-nav-active-color:                       $global-color;

$navbar-brand-font-size:                        round(($global-font-size * 1.28)); // 18px / 20px
$navbar-brand-color:                            $global-color;
$navbar-brand-hover-color:                      $global-color;

$navbar-toggle-font-size:                       round(($global-font-size * 1.28)); // 18px / 20px
$navbar-toggle-color:                           $global-color;
$navbar-toggle-hover-color:                     $global-color;


// Component
// ========================================================================

@mixin hook-navbar() {}


// Sub-object: `uk-navbar-nav`
// ========================================================================

@mixin hook-navbar-nav() {}

// Hover
@mixin hook-navbar-nav-hover() {}

// OnClick
@mixin hook-navbar-nav-onclick() {}

// Active
@mixin hook-navbar-nav-active() {}


// Sub-object: `uk-navbar-content`
// ========================================================================

@mixin hook-navbar-content() {}


// Miscellaneous
// ========================================================================

@mixin hook-navbar-misc() {

    .uk-navbar-nav { float: right; }
    .uk-navbar-nav > li { float: right; }
    .uk-navbar-flip { float: left; }
}