//
// Component: Nav
//
// ========================================================================


// Variables
// ========================================================================

$nav-header-padding-vertical:                   $nav-padding-vertical;
$nav-header-padding-horizontal:                 $nav-padding-horizontal;
$nav-header-font-size:                          round(($global-font-size * 0.85)); // 12px / 14px
$nav-header-margin-top:                         $global-margin;

$nav-divider-margin-horizontal:                 $nav-padding-horizontal;

$nav-subtitle-font-size:                        round(($global-font-size * 0.85)); // 12px / 14px
$nav-subtitle-line-height:                      round(($nav-subtitle-font-size * 1.46)); // 18px / 20px

$nav-sub-padding-left:                          $nav-padding-horizontal;

$nav-parent-icon-width:                         $global-line-height;

$nav-side-color:                                $global-color;
$nav-side-hover-color:                          $global-color;
$nav-side-active-background:                    $global-primary-background;
$nav-side-active-color:                         $global-contrast-color;
$nav-side-header-color:                         $global-color;
$nav-side-divider-border:                       $global-border;
$nav-side-nested-color:                         $global-link-color;
$nav-side-nested-hover-color:                   $global-link-hover-color;

$nav-dropdown-color:                            $global-color;
$nav-dropdown-hover-background:                 $global-primary-background;
$nav-dropdown-hover-color:                      $global-contrast-color;
$nav-dropdown-header-color:                     $global-muted-color;
$nav-dropdown-divider-border:                   $global-border;
$nav-dropdown-nested-color:                     $global-link-color;
$nav-dropdown-nested-hover-color:               $global-link-hover-color;

$nav-navbar-color:                              $global-color;
$nav-navbar-hover-background:                   $global-primary-background;
$nav-navbar-hover-color:                        $global-color;
$nav-navbar-header-color:                       $global-muted-color;
$nav-navbar-divider-border:                     $global-border;
$nav-navbar-nested-color:                       $global-link-color;
$nav-navbar-nested-hover-color:                 $global-link-hover-color;

$nav-offcanvas-color:                           $offcanvas-panel-link-color;
$nav-offcanvas-hover-background:                lighten($offcanvas-bar-background, 5%);
$nav-offcanvas-hover-color:                     $offcanvas-panel-link-hover-color;
$nav-offcanvas-active-background:               darken($offcanvas-bar-background, 10%);
$nav-offcanvas-active-color:                    $offcanvas-panel-link-hover-color;
$nav-offcanvas-header-color:                    $offcanvas-panel-color;
$nav-offcanvas-divider-border:                  darken($offcanvas-bar-background, 10%);
$nav-offcanvas-nested-color:                    $offcanvas-panel-link-color;
$nav-offcanvas-nested-hover-color:              $offcanvas-panel-link-hover-color;


// Sub-object: `uk-nav-header`
// ========================================================================

@mixin hook-nav-header() {}


// Sub-object: `uk-nav-divider`
// ========================================================================

@mixin hook-nav-divider() {}


// Sub-object: `uk-nav-sub`
// ========================================================================

@mixin hook-nav-sub() {}


// Modifier: `uk-nav-parent-icon`
// ========================================================================

@mixin hook-nav-parent-icon() {}


// Modifier `uk-nav-side`
// ========================================================================

//
// Items
//

@mixin hook-nav-side() {}

// Hover
@mixin hook-nav-side-hover() {}

// Active
@mixin hook-nav-side-active() {}

//
// Sub-object: `uk-nav-header`
//

@mixin hook-nav-side-header() {}

//
// Sub-object: `uk-nav-divider`
//

@mixin hook-nav-side-divider() {}


// Modifier `uk-nav-dropdown`
// ========================================================================

//
// Items
//

@mixin hook-nav-dropdown() {}

// Hover
@mixin hook-nav-dropdown-hover() {
    @include border-radius(3px);
}

//
// Sub-object: `uk-nav-header`
//

@mixin hook-nav-dropdown-header() {}

//
// Sub-object: `uk-nav-divider`
//

@mixin hook-nav-dropdown-divider() {}


// Modifier `uk-nav-navbar`
// ========================================================================

//
// Items
//

@mixin hook-nav-navbar() {}

// Hover
@mixin hook-nav-navbar-hover() {}

//
// Sub-object: `uk-nav-header`
//

@mixin hook-nav-navbar-header() {}

//
// Sub-object: `uk-nav-divider`
//

@mixin hook-nav-navbar-divider() {}


// Modifier `uk-nav-offcanvas`
// ========================================================================

@mixin hook-nav-offcanvas-link() {}

@mixin hook-nav-offcanvas-link-hover() {}

//
// Items
//

@mixin hook-nav-offcanvas() {}

// Hover
@mixin hook-nav-offcanvas-hover() {}

// Active
@mixin hook-nav-offcanvas-active() {}

//
// Sub-object: `uk-nav-header`
//

@mixin hook-nav-offcanvas-header() {}

//
// Sub-object: `uk-nav-divider`
//

@mixin hook-nav-offcanvas-divider() {}


// Miscellaneous
// ========================================================================

@mixin hook-nav-misc() {}