//
// Component: Notify
//
// ========================================================================


// Variables
// ========================================================================

$notify-z-index:                                 $global-z-index + 40;
$notify-width:                                   330px;

$notify-message-padding:                         20px;
$notify-message-background:                      #999;
$notify-message-font-size:                       13px;
$notify-message-line-height:                     18px;

$notify-message-success-background:              #04CE9B;
$notify-message-success-color:                   #fff;


$notify-message-warning-background:               #FFb527;
$notify-message-warning-color:                    #fff;

$notify-message-danger-background:               #f07879;
$notify-message-danger-color:                    #fff;

// Component
// ========================================================================

@mixin hook-notify() {}

@mixin hook-notify-message() {
    @include border-radius(5px);

    i { font-size: 32px; }

    p {
        margin: 0 20px 0 20px;
        text-align: justify;
        width: 218px;
    }
}

@mixin hook-notify-message-primary() {}

@mixin hook-notify-message-success() {}

@mixin hook-notify-message-warning() {}

@mixin hook-notify-message-danger() {}


// Miscellaneous
// ========================================================================

@mixin hook-notify-misc() {

    .uk-notify-message > .uk-close {
        float: left;
        margin: -10px;
        width: 15px;
        line-height: 15px;

        &:hover { color: #fff; }
    }
}
