//
// Component: Pagination
//
// ========================================================================


// Variables
// ========================================================================

$pagination-padding-vertical:                   1px;
$pagination-padding-horizontal:                 3px;
$pagination-line-height:                        $global-line-height;
$pagination-background:                         transparent;
$pagination-color:                              $global-color;
$pagination-hover-color:                        $global-color;
$pagination-onclick-color:                      $global-color;

$pagination-active-background:                  #f07879;
$pagination-active-color:                       $global-contrast-color;

$pagination-disabled-background:                transparent;
$pagination-disabled-color:                     $global-muted-color;


// Component
// ========================================================================

//
// Items
//

@mixin hook-pagination-item() { @include border-radius(5px); }

// Link
@mixin hook-pagination-link() {}

@mixin hook-pagination-link-hover() {}

@mixin hook-pagination-link-active() {}

// Active
@mixin hook-pagination-active() {
    font-weight: bold;
}

// Disabled
@mixin hook-pagination-disabled() {}


// Miscellaneous
// ========================================================================

@mixin hook-pagination-misc() {}