//
// Component: Panel
//
// ========================================================================


// Variables
// ========================================================================

$panel-title-margin-bottom:                     $global-margin;
$panel-title-font-size:                         13px;
$panel-title-line-height:                       3;
$panel-title-color:                             $global-color;

$panel-box-padding:                             40px;
$panel-box-background:                          #fff;
$panel-box-color:                               $global-color;
$panel-box-title-color:                         $global-color;

$panel-box-primary-background:                   #fff;
$panel-box-primary-color:                        #666;
$panel-box-primary-title-color:                  #999;

$panel-hover-padding:                           $global-margin;
$panel-hover-color:                             $global-color;
$panel-hover-hover-color:                       $global-color;

$panel-header-title-border:                     $global-border;
$panel-header-title-color:                      $global-color;

$panel-divider-gutter:                          $global-grid-gutter;
$panel-divider-gutter-large:                    $global-grid-gutter-large;
$panel-divider-border:                          $global-border;


// Sub-object: `uk-panel-title`
// ========================================================================

@mixin hook-panel-title() {
    border-bottom: 1px solid #f2f2f2;
    padding: 0 20px;
    margin: -40px -40px 25px -40px;

    > i {
        margin-left: 7px;
        vertical-align: sub;
        font-size: 16px;
    }
}


// Sub-object: `uk-panel-badge`
// ========================================================================

@mixin hook-panel-badge() {}


// Modifier: `uk-panel-box`
// ========================================================================

@mixin hook-panel-box() {
    @include border-radius(5px);
}

@mixin hook-panel-box-hover() {}

//
// Sub-modifier: `uk-panel-box-primary`
//

@mixin hook-panel-box-primary() {}

@mixin hook-panel-box-primary-hover() {}

//
// Sub-modifier: `uk-panel-box-secondary`
//

@mixin hook-panel-box-secondary() {}

@mixin hook-panel-box-secondary-hover() {}


// Modifier: `uk-panel-hover`
// ========================================================================

@mixin hook-panel-hover() {}

@mixin hook-panel-hover-hover() {}


// Modifier: `uk-panel-header`
// ========================================================================

@mixin hook-panel-header() {}


// Miscellaneous
// ========================================================================
@mixin hook-panel-misc() {}