//
// Component: Progress
//
// ========================================================================


// Variables
// ========================================================================

$progress-mini-height:                          5px;

$progress-margin-vertical:                      $global-margin;
$progress-background:                           #f1f1f1;

$progress-bar-background:                       #ff5454;
$progress-bar-font-size:                        round(($global-font-size * 0.85)); // 12px / 14px
$progress-bar-color:                            $global-contrast-color;

$progress-bar-success-background:               #62dad0;
$progress-bar-warning-background:               $global-warning-background;
$progress-bar-danger-background:                #f6b0ae;


// Component
// ========================================================================

@mixin hook-progress() {}


// Sub-object: `progress-bar`
// ========================================================================

@mixin hook-progress-bar() {}


// Color modifiers
// ========================================================================

@mixin hook-progress-bar-success() {}

@mixin hook-progress-bar-warning() {}

@mixin hook-progress-bar-danger() {}


// Miscellaneous
// ========================================================================

@mixin hook-progress-misc() {
    .uk-progress-striped .uk-progress-bar { background-size: 5px 5px; }
}