//
// Component: Subnav
//
// ========================================================================


// Variables
// ========================================================================

$subnav-margin-horizontal:                      5px;
$subnav-margin-vertical:                        0;

$subnav-color:                                  $global-color;
$subnav-hover-color:                            #999;
$subnav-active-color:                           $global-link-color;

$subnav-line-border-height:                     20px;
$subnav-line-border:                            #ccc;

$subnav-pill-hover-color:                       $global-color;
$subnav-pill-active-background:                 $global-primary-background;
$subnav-pill-active-color:                      $global-contrast-color;

$subnav-disabled-color:                         $global-muted-color;


// Component
// ========================================================================

@mixin hook-subnav() {}

@mixin hook-subnav-hover() {}

@mixin hook-subnav-active() {}


// Modifier: `uk-subnav-line'
// ========================================================================

@mixin hook-subnav-line-divider() {}


// Modifier: `uk-subnav-pill'
// ========================================================================

@mixin hook-subnav-pill() {}

@mixin hook-subnav-pill-hover() {}

@mixin hook-subnav-pill-active() {}


// Disabled state
// ========================================================================

@mixin hook-subnav-disabled() {}


// Miscellaneous
// ========================================================================

@mixin hook-subnav-misc() {}
