//
// Component: Tab
//
// ========================================================================


// Variables
// ========================================================================

$tab-border:                                    #ccc;
$tab-color:                                     #aaa;
$tab-hover-border:                              #e7e7e7;
$tab-hover-background:                          $global-background;
$tab-hover-color:                               #aaa;
$tab-active-border:                             #ccc;
$tab-active-background:                         #fff;
$tab-active-color:                              $global-color;
$tab-disabled-color:                            $global-muted-color;


// Component
// ========================================================================

//
// Items
//

@mixin hook-tab() {
    border-color: #e7e7e7;

    @include border-top-right-radius(3px);
    @include border-top-left-radius(3px);
}

// Hover
@mixin hook-tab-hover() {}

// Active
@mixin hook-tab-active() {}

// Disabled
@mixin hook-tab-disabled() {}


// Miscellaneous
// ========================================================================

@mixin hook-tab-misc() {

    .uk-tab > li { float: right; }

    .uk-tab > li:nth-child(n+2) > a {
        margin-right: 5px;
        margin-left: 0;
    }
}