//
// Component: Table
//
// ========================================================================


// Variables
// ========================================================================

$table-margin-vertical:                         0;

$table-caption-color:                           $global-muted-color;
$table-caption-font-size:                       round(($global-font-size * 0.85)); // 12px / 14px

$table-striped-background:                      #f0f0f0;

$table-hover-background:                        #F5F6FB;

// Component
// ========================================================================

@mixin hook-table() {}


// Miscellaneous
// ========================================================================

@mixin hook-table-misc() {

    .uk-table {

        tr { border-bottom: 1px solid #f0f0f0; }

        th {
            text-align: right;
            font-weight: normal;
            color: #999;
        }

        td { vertical-align: middle; }
    }
}