//
// Component: Thumbnail
//
// ========================================================================


// Variables
// ========================================================================

$thumbnav-margin-horizontal:                    15px;
$thumbnav-margin-vertical:                      $thumbnav-margin-horizontal;

$thumbnail-border:                              $global-border;
$thumbnail-background:                          $global-background;
$thumbnail-hover-border:                        darken($global-border, 20%);
$thumbnail-hover-background:                    $global-background;

$thumbnail-caption-color:                       $global-color;


// Component
// ========================================================================

@mixin hook-thumbnail() {}

@mixin hook-thumbnail-hover() {}


// Caption
// ========================================================================

@mixin hook-thumbnail-caption() {}


// Miscellaneous
// ========================================================================

@mixin hook-thumbnail-misc() {}