//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//
$global-color:                                   #666;
$global-muted-color:                             #999;

$global-link-color:                              #666;
$global-link-hover-color:                        #059;

$global-contrast-color:                          #fff;

$global-font-size:                               12px;
$global-line-height:                             20px;

//
// Backgrounds & Borders
//
$global-background:                              #F2F2F2;
$global-border:                                  #f5f5f5;
$global-form-background:                         #f5f5f5;

$global-primary-background:                      #f5f6fb;
$global-success-background:                      #61beb3;
$global-warning-background:                      #ffcc00;
$global-danger-background:                       #da314b;

//
// Spacings
//
$global-margin:                                  10px;
$global-margin-large:                            20px;
$global-grid-gutter:                             15px;
$global-grid-gutter-large:                       35px;

//
// Controls
//
$global-height:                                  40px;
$global-height-mini:                             20px;
$global-height-small:                            25px;
$global-height-large:                            40px;

//
// Z-index
//
$global-z-index:                                 1000;

//
// Breakpoints
//
$breakpoint-small:                               0;
$breakpoint-medium:                              0;
$breakpoint-large:                               0;
$breakpoint-xlarge:                              0;

$breakpoint-mini-max:                            ($breakpoint-small - 1);
$breakpoint-small-max:                           ($breakpoint-medium - 1);
$breakpoint-medium-max:                          ($breakpoint-large - 1);
$breakpoint-large-max:                           ($breakpoint-xlarge - 1);