{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>تخلف کامنت ها</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-newpro-first">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-bubbles2"></i>تخلف کامنت ها
            </h3>
        </div>
        {% for comment in comments %}
            <div id="{{ comment | mongo_id }}"
                 class="sh-comment-block uk-clearfix uk-position-relative uk-margin-large-bottom">
                <article class="uk-comment sh-comment-table">
                    <header class="uk-comment-header">
                        <a><img class="uk-comment-avatar uk-border-circle" src="{{ comment.user_image }}" alt="user avatar" width="55" height="55"></a>
                        <h3 class="uk-comment-title"><a>{{ comment.user_name }}</a></h3>
                        <div class="uk-comment-meta">{{ comment.create_date | jalali }}</div>
                    </header>
                    <div class="uk-comment-body uk-text-justify sh-comment-body">{{ comment.comment | safe }}</div>
                </article>
                <div class="sh-footer-comment-dash">
                    <p>تعداد گزارش های تخلف:<span>{{ comment.reports | length }}</span></p>
                    <p>علت:
                        {% for reason in comment.reports|reports_reason %}
                            <span>{{ reason.reason }} ,</span>
                        {% endfor %}
                    </p>
                    <a class="uk-button sh-btn-6 sh-footer-comment-clear uk-float-left" onclick="delete_comment('{{ comment | mongo_id }}')"><i class="panda panda-cross"></i>پاک کردن</a>
                    <a class="uk-button sh-btn-6-1 sh-footer-comment-check uk-float-left" onclick="check_report('{{ comment | mongo_id }}')"><i class="panda panda-checkmark"></i>چک شد</a>
                </div>
            </div>
        {% empty %}
            <div class="uk-text-center">
                <p>در حال حاضر هیچ کامنتی ریپورت نشده است.</p>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
{% block uikit_js %}
{% endblock %}
{% block js_plugin %}
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        aside_dynamic ('site_management','report_comment_management');
    </script>
{% endblock %}
