{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>فیلترینگ کلمات</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-flitered-worlds">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-filter"></i>فیلترینگ کلمات
            </h3>
        </div>
        <div class="sh-add-filter-worlds">
            <label class="uk-margin-small-left" for="word">کلمه :</label>
            <input class="uk-margin-large-left" id="word" name="word" type="text">
            <a class="sh-btn-2 uk-button" onclick="add_word()"><i class="panda panda-plus"></i>افزودن کلمه</a>
        </div>
        <hr>
        <ul class="uk-grid uk-grid-width-1-6" id="list_word_filtering">
            {% for word in list_word %}
                <li class="sh-filter-worlds" id="{{ word|mongo_id }}">
                    <a onclick="delete_word('{{ word|mongo_id }}')"><i class="panda panda-cross"></i></a>
                    <span>{{ word.word }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}
{% block uikit_js %}
{% endblock %}
{% block js_plugin %}
        <script src="{% static "js/word_filtering.js" %}"></script>
{% endblock %}
{% block js_code %}
    <script>
        csrf_token = '{{ csrf_token }}';
        aside_dynamic ('site_management','word_filtering_management');
    </script>
{% endblock %}
