{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سامانه پاندا</title>

    <link href='{% static 'about_us/uikit.docs.min.css' %}' rel="stylesheet">

</head>
<body style="font-family: 'panda-font', serif !important;">

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">

            <div class="uk-vertical-align uk-text-center" style="background: url({% static 'about_us/1-.jpg' %}) no-repeat; background-size: 100% 100%; height: 450px;">
            </div>

        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1">
            <h1>فروشگاه اینترنتی پاندا</h1>
            <h4>فروشگاه اینترنتی بامیلو، ایستگاه اول شما برای خرید اینترنتی تمام نیازهایتان در ایران است. شما دارای حق انتخاب از میان گستره ای از گزینه های موجود در انواع مواد خوراکی ، بهداشتی و سایر موارد هستید.</h4>
            <!--<h2>Subheading</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            !-->
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-text-center">
            <h1>فروشگاه هایی که با ما همکاری می کنند.</h1>
        </div>
    </div>
    <div class="uk-grid" data-uk-grid-margin="">

        <div class="uk-width-medium-1-2 uk-row-first">
            <img width="660" height="400"
                 src="{% static 'about_us/فروشگاه.gif' %}"
                 alt="">
        </div>

        <div class="uk-width-medium-1-2">
            <h2>فروشگاه شهروند</h2>
            <p>خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف شود.خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف
                شود.خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف شود.</p>
        </div>

    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-2 uk-row-first">
            <h2>فروشگاه رفاه</h2>
            <p>خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف شود.خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف
                شود.خوراک، خوراکی، یا غذا خوردنی‌ای است که در جوامع متفاوت به صورت خام و دست‌نخورده، تغییریافته یا نیمه‌تغییریافته برای مصرف آماده می‌شود. خوراک می‌تواند منشاء حیوانی یا گیاهی (و یا گاهی معدنی) داشته باشد، و برای رفع نیاز تغذیه یا لذت بردن مصرف شود.</p>
        </div>

        <div class="uk-width-medium-1-2">
            <img width="660" height="400"
                 src="{% static 'about_us/chainstore-iran-world-800x533.jpg' %}"
                 alt="">
        </div>
    </div>

    <hr class="uk-grid-divider">

    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1 uk-row-first">
            <div class="uk-panel uk-panel-box uk-text-center">
                <p>
                    <strong>تهیه شده توسط.</strong>
                    علی ارسته و روح الله ملکی.
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
