{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>سامانه پاندا</title>

    <link rel="icon" href="{% static "img/logo.png" %}">
    <link rel="stylesheet" href="{% static "css/framework.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css" %}">
    {% block meta_head %}{% endblock %}
    <link href="{% static 'css/selectbox/jquery.selectBox.css' %}" rel="stylesheet">
</head>
{% block login %}
    <body class="uk-height-1-1">
    <aside class="sh-asidebar">
        <ul class="tm-aside-nav uk-nav" data-uk-nav>
            <li class="uk-nav-header uk-text-center">
                <p>سامانه پاندا</p>
            </li>
            <li><a id="dashboard_management" href="/"><i class="panda panda-meter"></i>داشبورد</a></li>
            {% if request.user|has_perm:'category_management' or  request.user|has_perm:'sample_forms_management' %}
                <li class="uk-parent">
                    <a id="site_management" href="#"><i class="panda panda-cog"></i>مدیریت سایت</a>
                    <ul class="uk-nav-sub">
                        {% if request.user|has_perm:'category_management' %}
                            <li><a id="site_mega_management" href="{% url 'category_index' %}"> دسته بندی محصولات</a></li>
                        {% endif %}
                        {% if request.user|has_perm:'banners_management' %}
                            <li><a id="banner_management" href="{% url 'banner_list' %}">بنر</a></li>
                        {% endif %}
                        {% if request.user|has_perm:'sample_forms_management' %}
                            <li><a id="samples_form_management" href="{% url 'sample_forms' %}">نمونه فرم ها</a></li>
                        {% endif %}
                        {% if request.user|has_perm:'colors_management' %}
                            <li><a id="color_management" href="{% url 'color_list' %}">رنگ بندی</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if request.user|has_perm:'brands_management' %}
                <li class="uk-parent">
                    <a id="manage_brands" href="#"><i class="panda panda-cog"></i>مدیریت برندها</a>
                    <ul class="uk-nav-sub">
                        <li><a id="manage_brands_all" href="{% url 'brands' %}">برندها</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user|has_perm:'products_management' or request.user|has_perm:'amazing_offers_management' %}
                <li class="uk-parent">
                    <a id="manage_products" href="#"><i class="panda panda-folder-open"></i>محصولات</a>
                    <ul class="uk-nav-sub">
                        {% if request.user|has_perm:'products_management' %}
                            <li><a id="manage_products_all" href="{% url 'productList' %}">همه محصولات</a></li>
                            <li><a id="manage_products-create" href="{% url 'create_product_id' %}">ایجاد محصول جدید</a></li>
                            <li><a id="manage_products_trashed" href="{% url 'product_trashed' %}">محصولات پاک شده</a></li>
                        {% endif %}
                        {% if request.user|has_perm:'amazing_offers_management' %}
                            <li><a id="amazing_offer" href="{% url 'amazing_offers' %}">پیشنهاد ویژه</a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            {% if request.user|has_perm:'acl_management' %}
                <li class="uk-parent">
                    <a id="manage_users" href="#"><i class="panda panda-users"></i>کاربرها</a>
                    <ul class="uk-nav-sub">
                        <li><a id="manage_users_group" href="{% url 'group_list' %}">گروه ها</a></li>
                        <li><a id="manage_user_list" href="{% url 'user_list' %}">کاربران اپراتور</a></li>
                        <li><a id="manage_user_list" href="{% url 'user_shop_list' %}">کاربران فروشگاه</a></li>
                    </ul>
                </li>
            {% endif %}
            {% if request.user|has_perm:'factors_management' %}
                <li class="uk-parent">
                    <a id="manage_factor" href="#"><i class="panda panda-coin-dollar"></i>مالی و حسابداری</a>
                    <ul class="uk-nav-sub">
                        <li>
                            <a id="manage_factors" href="#">فاکتورها</a>
                            <ul class="uk-nav-sub">
                                <li><a id="manage_factor_all" href="{% url 'factors' 'all' %}">تمامی فاکتورها</a></li>
                                <li><a id="manage_factor_pending" href="{% url 'factors' 'pending' %}">فاکتورهای در انتظار بررسی</a></li>
                                <li><a id="manage_factor_sending" href="{% url 'factors' 'sending' %}">فاکتورهای در حال بسته بندی</a></li>
                                <li><a id="manage_factor_sent" href="{% url 'factors' 'sent' %}">فاکتورهای ارسال شده</a></li>
                                <li><a id="manage_factor_canceled" href="{% url 'factors' 'canceled' %}">فاکتورهای کنسل شده</a></li>
                                <li><a id="manage_factor_delivered" href="{% url 'factors' 'delivered' %}">فاکتورهای تحویل داده شده</a></li>
                            </ul>
                        </li>
                        <li><a id="manage_factor_finance" href="">گزارش مالی</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </aside>
    <section class="sh-content">
        <nav class="sh-navbar uk-navbar">
            <ul class="sh-navbar-nav uk-navbar-nav uk-margin-top">
                <li>
                    <img class="uk-border-circle  uk-text-top" src="/static/img/UserDefault.jpg" alt="" width="46" height="46">
                    <span>
                        {% if user.gender == 1 %}
                            آقای
                        {% else %}
                            خانم
                        {% endif %}
                        {{ user.personal.first_name }} {{ user.personal.last_name }}
                    </span>

            </ul>
            <a class="sh-btn-7 uk-float-left uk-margin-top uk-button" href="{% url 'logout' %}"><i class="panda panda-exit"></i>خروج </a>
        </nav>
        <div class="tm-content">
            {% block content %}{% endblock %}
        </div>
    </section>

    {% block modal %}{% endblock %} <!-- end of Modal -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/uikit.min.js" %}"></script>
    {% block uikit_js %}{% endblock %}

    <script src="{% static "js/persian-date-0.1.8.min.js" %}"></script>
    <script src="{% static "js/jquery.selectbox-0.2.min.js" %}"></script>
    <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "js/components/notify.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    {% block js_plugin %}{% endblock %}
    {% block js_code %}{% endblock %}
    {% block last_js %}{% endblock %}
    <script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            options.async = true;
        });

        UIkit.on('beforeready.uk.dom', function () {
            UIkit.modal.confirm = function (content, onconfirm, oncancel) {

                var options = arguments.length > 1 && arguments[arguments.length - 1] ? arguments[arguments.length - 1] : {};

                onconfirm = UIkit.$.isFunction(onconfirm) ? onconfirm : function () {
                    };
                oncancel = UIkit.$.isFunction(oncancel) ? oncancel : function () {
                    };
                options = UIkit.$.extend(true, {
                    bgclose: false,
                    keyboard: false,
                    modal: false,
                    labels: UIkit.modal.labels
                }, UIkit.$.isFunction(options) ? {} : options);
                UIkit.modal.dialog.template = '<div class="uk-modal" style="z-index: 10000;"><div class="uk-modal-dialog" style="min-height:0;width:300px;padding:0;border-radius: 15px;"></div></div>';

                var modal = UIkit.modal.dialog(([
                    '<div class="uk-margin uk-modal-content sh-confirm-modal"><i class="panda panda-notification"></i>' + String(content) + '</div>',
                    '<div class="uk-modal-footer sh-confirm-modal-footer uk-text-right"> <a class="uk-button js-modal-confirm-cancel">خیر</a><a class="uk-button  js-modal-confirm">بله</a></div>'

                ]).join(""), options);


                modal.element.find(".js-modal-confirm, .js-modal-confirm-cancel").on("click", function () {
                    UIkit.$(this).is('.js-modal-confirm') ? onconfirm() : oncancel();
                    modal.hide();
                });

                modal.on('show.uk.modal', function () {
                    setTimeout(function () {
                        modal.element.find('.js-modal-confirm').focus();
                    }, 50);
                });

                return modal.show();
            };
        });
        $("#manage_factor_finance").attr(
            'href',
            '{% url 'finance' %}?year=' + persianDate().pDate.year +
            "&month=" + persianDate().pDate.month
        )
    </script>
    </body>
{% endblock %}
</html>
