{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>داشبورد</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>

{% endblock %}
{% block js_plugin %}
    <script>
        aside_dynamic ('dashboard_management');
    </script>
{% endblock %}
