{% extends "base.html" %}
{% load static %}
{% block title %}ورود به داشبورد فروشگاه{% endblock %}
{% block login %}
    <body class="uk-height-viewport">
        <div class="uk-vertical-align uk-text-center uk-height-1-1">
            <div class="uk-vertical-align-middle" style="width: 349px;">
                <form autocomplete="off" class="sh-panel-1 uk-panel uk-panel-box uk-form uk-form-horizontal uk-text-right" method="post">
                    {% csrf_token %}
                    <img src="{% static 'img/login.png' %}">
                    <div class="uk-form-row sh-getinfo-login">
                        <label class="uk-form-label uk-float-right">نام کاربری:</label>
                        <div class="uk-form-controls">
                            <input class="uk-text-left sh-getinfo-login-input" autocomplete="off" placeholder="name@youremail.com" name="username" type="text" value="" dir="ltr">
                        </div>
                    </div>
                    <div class="uk-form-row sh-getinfo-login">
                        <label class="uk-form-label uk-float-right">گذرواژه:</label>
                        <div class="uk-form-controls">
                            <input class="uk-text-left sh-getinfo-login-input" name="password" type="password" autocomplete="off" value="" dir="ltr">
                        </div>
                    </div>
                    <input name="redirect_url" type="hidden" value="{{ redirect_url }}">
                    <button type="submit" class="sh-btn-1 uk-button uk-width-1-1 uk-margin-top" name="login">ورود به سامانه پاندا</button>
                </form>
            </div>
        </div>
    </body>

        <!-- jQuery -->
    <script src="{% static "js/jquery.min.js" %}"></script>

    <!-- UiKit -->
    <script src="{% static "js/uikit.min.js" %}"></script>
    <!-- Plugins -->
    <script src="{% static "js/persian-date-0.1.8.min.js" %}"></script>
    <script src="{% static "js/jquery.selectbox-0.2.min.js" %}"></script>
    <script src="{% static "js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
    <script src="{% static "js/components/notify.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/script.js" %}"></script>
    <script>
        $.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
            options.async = true;
        });

        {% if msg %}
            uikitNotify('{{ msg|safe|escape }}', 'panda\&#32panda-cross' , 'danger');
        {% endif %}
    </script>
{% endblock %}
