{% extends "base.html" %}
{% load static %}
{% block meta_head %}
    <link rel="stylesheet" href="{% static "css/jalalidate.css" %}">
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت محصول</span></li>
        <li><span>پیشنهاد ویژه</span></li>
        <li class="uk-active"><span>اضافه کردن</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form sh-newpro-first">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-plus"></i>افزودن پیشنهاد ویژه
            </h3>
        </div>
        {% if not amazing_offer %}
            <div class="sh-bestoffer-search">
                <label for="product_id">کد محصول را وارد کنید:</label><input type="text" name="product_id" id="product_id"><label>  - PPID</label>
                <button class="uk-button sh-btn-9" onclick="search_product()">جستجو</button>
            </div>
        {% endif %}
        <div class="sh-result-search {% if not amazing_offer %}uk-hidden{% endif %}">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-5 uk-float-right uk-margin-large-bottom">
                    <p class="uk-margin-large-left uk-vertical-align-middle">عکس محصول:</p><img id="product_image" src="{{ amazing_offer.product.image }}">
                </div>
                <div class="uk-width-1-2 dash-details-products">
                    <ul>
                        <li>
                            <p>نام فارسی محصول:</p><label id="product_name_fa">{{ amazing_offer.product.product_name_fa }}</label>
                        </li>
                        <li>
                            <p>نام انگلیسی محصول:</p><label id="product_name_en">{{ amazing_offer.product.product_name_en }}</label>
                        </li>
                        <li>
                            <p>قیمت خرید:</p><label id="product_buy">{{ amazing_offer.product.price.buy }}</label>
                        </li>
                        <li>
                            <p>قیمت فروش:</p><label id="product_sell">{{ amazing_offer.product.price.sell }}</label>
                        </li>
                        <li>
                            <p>قیمت برای مصرف کننده:</p><label id="product_customer_price">{{ amazing_offer.product.price.customer_price }}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <form enctype="multipart/form-data" method="POST" id="amazing_offer_form" class="uk-margin-large-bottom">
                {% csrf_token %}
                <div class="uk-margin-large-bottom">
                    <label>{{ form.start_date.label }}:</label>{{ form.start_date }}<button class="uk-button sh-btn-3" id="start_date_btn">تاریخ شروع</button>
                    <label>{{ form.expiration_date.label }}:</label>{{ form.expiration_date }}<button class="uk-button sh-btn-3" id="expiration_date_btn">تاریخ پایان</button>
                </div>
                <div class="uk-margin-large-bottom">
                    <label>{{ form.amazing_price.label }}:</label>{{ form.amazing_price }}
                </div>
                <label>{{ form.image.label }}:</label>
                <div class="uk-form-file">
                    <button class="uk-button sh-btn-9">آپلود عکس</button>
                    {{ form.image }}
                </div>
                {{ form.product_id }}
                {{ form.update }}
            </form>
            <div class="sh-add-amzingoffer-banner">
                <img id="banner" src="{{ amazing_offer.image }}" class="{% if amazing_offer.image %}sh-add-border-banner{% endif %} ">
                <i class="panda panda-enter {% if amazing_offer.image %}uk-hidden{% endif %} "></i>
            </div>
        </div>
        <div class="tm-panel-footer">
            <a class="sh-btn-3 uk-button" href="{% url 'amazing_offers' %}"><i class="panda panda-cross"></i>انصراف</a>
            <a class="sh-btn-4 uk-button" onclick="add_amazing_offer()"><i class="panda panda-floppy-disk"></i>ذخیره</a>
        </div>
    </div>
{% endblock %}
{% block js_plugin %}
    <script src="{% static "js/jalalidate/jalali.js" %}"></script>
    <script src="{% static 'js/jalalidate/calendar.js' %}"></script>
    <script src="{% static 'js/jalalidate/calendar-setup.js' %}"></script>
    <script src="{% static 'js/jalalidate/calendar-fa.js' %}"></script>
    <script src="{% static 'js/amazing_offer.js' %}"></script>
{% endblock %}
{% block js_code %}
<script>
    csrf_token = '{{ csrf_token }}';
    aside_dynamic('manage_products', 'amazing_offer');
    Calendar.setup({
        inputField: 'id_start_date',
        button: 'start_date_btn',
        ifFormat: '%Y/%m/%d %H:%M',
        dateType: 'jalali',
        showsTime: true
    });
    Calendar.setup({
        inputField: 'id_expiration_date',
        button: 'expiration_date_btn',
        ifFormat: '%Y/%m/%d %H:%M',
        dateType: 'jalali',
        showsTime: true
    });
</script>
{% endblock %}
