{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت محصول</span></li>
        <li class="uk-active"><span>پیشنهاد ویژه</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary sh-brands-details">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>پیشنهاد ویژه
            </h3>
        </div>
        <div class="tm-panel-header">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_amazing_offer' %}"><i class="panda panda-plus"></i>افزودن پیشنهاد ویژه</a>
        </div>
        {% if amazing_offers %}
            <table class="uk-table sh-bestoffer-alloffer">
                <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام محصول</th>
                    <th>عکس محصول</th>
                    <th>قیمت پیشنهاد</th>
                    <th>تاریخ شروع</th>
                    <th>تاریخ انقضا</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody id="sample_form">
                {% for amazing_offer in amazing_offers %}
                    <tr id="{{ amazing_offer.product_id }}">
                        <td>{{ forloop.counter0 }}</td>
                        <td>{{ amazing_offer.product.product_name_en|truncatechars:20 }}</td>
                        <td><img src="{{ amazing_offer.image }}" style="height: 20px;width: 40px"></td>
                        <td>{{ amazing_offer.amazing_price }}</td>
                        <td>{{ amazing_offer.start_date|jalali }}</td>
                        <td>{{ amazing_offer.expiration_date|jalali }}</td>
                        <td class="uk-float-left">
                            <a href="{% url 'edit_amazing_offer' amazing_offer.product_id %}" class="sh-btn-7 uk-button"><i class="panda panda-pencil"></i>ویرایش</a>
                            <a onclick="delete_amazing_offer('{{ amazing_offer.product_id }}')" class="sh-btn-6 uk-button"><i class="panda panda-cross"></i>پاک کردن</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="tm-panel-footer">
                <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_amazing_offer' %}"><i class="panda panda-plus"></i>افزودن پیشنهاد ویژه</a>
            </div>
        {% else %}
            <p class="uk-text-center">پیشنهاد ویژه برای هیچ محصولی ثبت نشده است.</p>
        {% endif %}
    </div>

{% endblock content %}
{% block js_code %}
    <script>
        aside_dynamic('manage_products', 'amazing_offer');
        function delete_amazing_offer(product_id){
            UIkit.modal.confirm('آیا مطمین هستید ؟', function () {
                var data = {
                    'product_id': product_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                };
                $.ajax({
                    url: '{% url "delete_amazing_offer" %}',
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        if(result['message'] == 'success'){
                            $('#'+product_id).remove();
                            uikitNotify('محصول از پیشنهاد ویژه پاک شد.', 'panda\&#32panda-checkmark2', 'success');
                        }else{
                            notify_error(500, false)
                        }
                    },
                    error: function (e) {
                        notify_error(e, true)
                    }
                })
            }, {labels: {'Ok': 'بلی', 'Cancel': 'خیر'}});

        }
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
