/*====================================
=            Mixin Codes.            =
====================================*/

// Arrow for dropdown
@mixin dropdown-arrow($width, $right-pos, $da-color, $before) {
    content: "";
    position: absolute;

    @if $before == 1 { top: -$width; }
    @else if $before == 2 { top: -1-$width ; }

    right: $right-pos;
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom: $width solid $da-color;
}

// Dropdown items
@mixin dropdown($dropdown-width, $dropdown-padding, $nav-dropdown-padding) {
    width: $dropdown-width;
    padding: $dropdown-padding;

    .uk-nav > li > a {
        padding: $nav-dropdown-padding;
    }
}

// Buttons
@mixin buttons($btn-height, $btn-background, $btn-border, $btn-color: null, $btn-hover: null, $btn-hover-color: null, $btn-hover-text-color: null, $btn-hover-border-color: null) {
    min-height: $btn-height;
    line-height: $btn-height;
    background: $btn-background;
    color: $btn-color;
    @if $btn-border == 0 {}
    @else if $btn-border == 1 { border: 1px solid #ccc; }

    @if $btn-hover == hover {
        &:hover {
            color: $btn-hover-text-color;
            background: $btn-hover-color;
            @if $btn-border == 0 {}
            @else if $btn-border == 1 { border-color: $btn-hover-color; }
            @else if ($btn-border) { border-color: $btn-hover-border-color; }
        }

        &:focus {
            color: $btn-hover-text-color;
            background: $btn-hover-color;
            @if $btn-border == 0 {}
            @else if $btn-border == 1 { border-color: $btn-hover-color; }
        }

        &:active {
            color: $btn-hover-text-color;
            background: $btn-hover-color;
            @if $btn-border == 0 {}
            @else if $btn-border == 1 { border-color: $btn-hover-color; }
        }
    }

    > i { vertical-align: -20%; }

    @include border-radius(5px);
}

// Combo Box
@mixin combo-box($cb-width, $cb-height, $cb-margin, $cb-class: ".sbHolder") {

    #{$cb-class} {
        width: $cb-width;
        margin: $cb-margin;
        float: right;
        outline: none;
        position: relative;

        &:focus {

            a.sbSelector { border-color: $global-text-4; }
        }

        &:last-child { margin-left: 0; }

        a.sbToggle {
            position: absolute;
            top: 1px;
            bottom: 1px;
            left: 1px;
            display: block;
            width: $cb-height;
            text-align: center;
            line-height: $cb-height +1;
            font-size: 12px;
            background-color: #fff;

            @include border-radius(3px);

            &:hover { color: inherit; }
        }

        a.sbSelector {
            background: #f0f0f0;
            color: #666666;
            display: block;
            height: ($cb-height) - 2;
            line-height: ($cb-height) - 2;
            text-indent: 5px;
            border: 1px solid #f4f6fb;

            @include border-radius(3px);
        }

        ul.sbOptions {
            position: absolute;
            left: 0;
            right: 0;
            border: 1px solid #EFEFEF;
            padding: 5px;
            margin: 5px 0 0;
            background-color: #fff;
            max-height: 100px !important;
            z-index: 1;

            @include border-radius(3px);

            li > a {
                display: block;
                padding: 0 5px;

                @include border-radius(3px);

                &:hover {
                    color: #999;
                    background-color: #f5f6fb;
                }
            }
        }
    }

    .sbHolderDisabled {

        a {
            cursor: default;

            &.sbSelector {
                background-color: #F3F2F7;
                border-color: #F3F2F7;
                color: #cecdd2;
            }

            &.sbToggle { color: #b7b8bc; }
        }
    }
}

// Full Height
@mixin height($height) {
    -webkit-height: $height;
    -moz-heiht: $height;
    height: $height;
}