/*======================================
=            Setting Codes.            =
======================================*/

//Text
$brand-color:                               #FF9500;

$global-text-1:                             #fff;
$global-text-2:                             #444;
$global-text-3:                             #999;
$global-text-4:                             #61beb3;
$global-text-5:                             #808080;
$global-text-6:                             #f07879;
$global-text-7:                             #aaa;
$global-hover:                              #444;

// Backgrond & Border
$global-border-color-1:                     #e4e4e4;
$global-border-color-2:                     #f0f0f0;
$global-border-color-3:                     #f5f5f5;
$global-border-color-4:                     1px solid #ccc;

// icon
$global-icon-color:                         #666;

$second-search-icon-color:                  #ccc;

$icon-primary-color-1:                      #04cf9a;
$icon-primary-color-2:                      #35a9da;
$icon-primary-color-3:                      #ff5454;
$icon-primary-color-4:                      #8e8d92;

// Fonts
$mirza-font-path:                           "../fonts/mirza/";
$mirza-bold-font-path:                      "../fonts/mirza/";
$Calibri-font-path:                         "../fonts/Calibri/";
$panda-font-path:                           "../fonts/panda/";

$mirza-font:                                "Mirza";
$mirzab-font:                               "Mirzab";
$vwf-font:                                  "panda";
$calibri-font:                              "calibri";
$panda-font:                                "panda";
