{% extends "base.html" %}
{% load static %}
{% block meta_head %}
     <link rel="stylesheet" type="text/css" href="{% static "css/colorpicker.css" %}" />
{% endblock %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href="#"><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li><span>رنگ</span></li>
        <li class="uk-active"><span>افزودن رنگ</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form dash-addsticker uk-form-row">
            <div class="sh-product-head">
                <h3 class="uk-panel-title">
                    <i class="panda panda-profile"></i>افزودن رنگ
                </h3>
            </div>
            <label class="uk-margin-small-left">{{ form.presentation.label }} :</label>{{ form.presentation }}
            <label class="uk-margin-small-left uk-margin-large-right">{{ form.code.label }} :</label>{{ form.code }}
            <div class="tm-panel-footer">
                <a class="sh-btn-3 uk-button" href="{% url 'color_list' %}"><i class="panda panda-cross"></i>انصراف</a>
                <button class="sh-btn-4 uk-button" type="submit"><i class="panda panda-floppy-disk"></i>ذخیره</button>
            </div>
        </div>
    </form>

{% endblock content %}
{% block js_code %}
    <script src="{% static "js/colorpicker.js" %}"></script>

    <script>
        aside_dynamic('site_management', 'color_management');

        {% if message_error == "Duplicate_Key" %}
            uikitNotify('کد رنگ تکراری می باشد.', 'panda\&#32panda-warning', 'warning');
        {% endif %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                 uikitNotify('{{ error }}', 'panda\&#32panda-warning', 'warning');
                {% endfor %}
            {% endfor %}
        {% endif %}

        $('input#id_code').ColorPicker({
            color: '#EFEFEF',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('input#id_code').css('backgroundColor', '#' + hex).val("#" + hex);
            }
        });
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
