{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href=""><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li class="uk-active"><span>رنگ</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <div class="uk-panel uk-panel-box uk-panel-box-primary sh-brands-details">
        <div class="sh-product-head">
            <h3 class="uk-panel-title">
                <i class="panda panda-profile"></i>رنگ
            </h3>
        </div>
        <div class="tm-panel-header">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_color' %}"><i class="panda panda-plus"></i>افزودن رنگ</a>
        </div>
        <table class="uk-table sh-brands-allbrands">
            <thead>
            <tr>
                <th>ردیف</th>
                <th>نام</th>
                <th>کد</th>
                <th>رنگ</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody id="sample_form">
            {% for color in colors %}
                <tr id="{{ color.id }}">
                    <td>{{ forloop.counter0 }}</td>
                    <td>{{ color.presentation }}</td>
                    <td>{{ color.code }}</td>
                    <td style="background-color: #{{ color.code }}"></td>
                    <td class="uk-float-left">
                        <a href="{% url 'edit_color' color.id %}" class="sh-btn-7 uk-button"><i class="panda panda-pencil"></i>ویرایش</a>
                        <a onclick="delete_color('{{ color.id }}')" class="sh-btn-6 uk-button"><i class="panda panda-cross"></i>پاک کردن</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="tm-panel-footer">
            <a id="add-form" class="sh-btn-2 uk-button" href="{% url 'add_color' %}"><i class="panda panda-plus"></i>افزودن رنگ</a>
        </div>
    </div>

{% endblock content %}
{% block js_code %}
    <script>
        aside_dynamic('site_management', 'color_management');

        function delete_color(color_id){
            var data = {
                'color_id': color_id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };
            $.ajax({
                url: '{% url "delete_color" %}',
                type: 'POST',
                data: data,
                success: function () {
                    $('#'+color_id).remove();
                    uikitNotify('رنگ مورد نظر از لیست رنگ ها حذف شد.', 'panda\&#32panda-cross', 'success');
                },
                error: function (e) {
                   notify_error(e, true)
                }
            })
        }
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
