{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>داشبورد</h2>
    <ul class="tm-breadcrumb uk-breadcrumb">
        <li><a href="#"><i class="panda panda-home"></i></a></li>
        <li><span>پنل مدیریت</span></li>
        <li><span>مدیریت سایت</span></li>
        <li><span>رنگ</span></li>
        <li class="uk-active"><span>ویرایش رنگ</span></li>
        <li class="uk-float-left"><span id="tm-date-and-time"></span></li>
    </ul>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="uk-panel uk-panel-box uk-panel-box-primary uk-form dash-addsticker uk-form-row">
            <div class="sh-product-head">
                <h3 class="uk-panel-title">
                    <i class="panda panda-profile"></i>ویرایش رنگ
                </h3>
            </div>
            <label class="uk-margin-small-left">{{ form.presentation.label }} :</label>{{ form.presentation }}
            <label class="uk-margin-small-left uk-margin-large-right">{{ form.code.label }} :</label>{{ form.code.value }}

            <div class="tm-panel-footer">
                <a class="sh-btn-3 uk-button" href="{% url 'color_list' %}"><i class="panda panda-cross"></i>انصراف</a>
                <button class="sh-btn-4 uk-button" type="submit"><i class="panda panda-floppy-disk"></i>ذخیره</button>
            </div>
        </div>
    </form>

{% endblock content %}
{% block js_code %}
    <script>
        aside_dynamic('site_management', 'color_management');
        {% if message == "no_update" %}
            uikitNotify('سیستم با مشکل رو به رو شده است.', 'panda\&#32panda-cross', 'danger');
        {% endif %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                 uikitNotify('{{ error }}', 'panda\&#32panda-warning', 'warning');
                {% endfor %}
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}
{% block js_plugin %}
{% endblock %}
